/* Code tidied up by ScrapBook */
.flash { position: relative; padding: 15px; font-size: 14px; line-height: 1.5; color: rgb(34, 68, 102); background-color: rgb(226, 238, 249); border: 1px solid rgb(186, 198, 211); border-radius: 3px 3px 3px 3px; }
.flash-close { float: right; width: 34px; height: 44px; margin: -11px; line-height: 40px; color: inherit; text-align: center; cursor: pointer; background: none repeat scroll 0% 0% transparent; border: 0px none; -moz-appearance: none; opacity: 0.6; }
.flash-close:hover { opacity: 1; }
.flash-warn { color: rgb(76, 74, 66); background-color: rgb(255, 249, 234); border-color: rgb(223, 216, 194); }
.flash-error { color: rgb(153, 17, 17); background-color: rgb(252, 222, 222); border-color: rgb(210, 178, 178); }
.avatar { display: inline-block; overflow: hidden; line-height: 1; vertical-align: middle; border-radius: 3px 3px 3px 3px; }
.ajax-error-message { position: fixed; top: -200px; left: 50%; z-index: 9999; display: none; width: 974px; margin: 0px 3px 0px -487px; transition: top 0.5s ease-in-out 0s; }
.ajax-error-message > .octicon-alert { vertical-align: text-top; }
.blob-wrapper { overflow-x: auto; overflow-y: hidden; border-bottom-right-radius: 3px; border-bottom-left-radius: 3px; }
.blob-num { width: 1%; min-width: 50px; padding-right: 10px; padding-left: 10px; font-family: Consolas,"Liberation Mono",Menlo,Courier,monospace; font-size: 12px; line-height: 20px; color: rgba(0, 0, 0, 0.3); text-align: right; white-space: nowrap; vertical-align: top; cursor: pointer; -moz-user-select: none; }
.blob-num:hover { color: rgba(0, 0, 0, 0.6); }
.blob-num:before { content: attr(data-line-number); }
.blob-code { position: relative; padding-right: 10px; padding-left: 10px; line-height: 20px; vertical-align: top; }
.blob-code-inner { overflow: visible; font-family: Consolas,"Liberation Mono",Menlo,Courier,monospace; font-size: 12px; color: rgb(51, 51, 51); word-wrap: normal; white-space: pre; }
.blob-code-inner:before { content: ""; }
.discussion-timeline { position: relative; float: left; width: 760px; }
.discussion-timeline:before { position: absolute; top: 0px; bottom: 0px; left: 79px; z-index: -1; display: block; width: 2px; content: ""; background-color: rgb(243, 243, 243); }
.discussion-timeline-actions { background-color: rgb(255, 255, 255); border-top: 2px solid rgb(243, 243, 243); }
@media not all, only screen and (min--moz-device-pixel-ratio: 2), not all, not all, only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
}
.facebox { position: absolute; top: 0px; left: 0px; z-index: 100; padding-bottom: 40px; }
.facebox-popup { position: relative; background-color: rgb(255, 255, 255); background-clip: padding-box; border: 1px solid rgba(0, 0, 0, 0.25); border-radius: 5px 5px 5px 5px; box-shadow: 0px 0px 18px rgba(0, 0, 0, 0.4); }
.facebox-content { width: 455px; padding: 15px; }
.facebox-content:before { display: table; content: ""; }
.facebox-content:after { display: table; clear: both; content: ""; }
.facebox-close { position: absolute; top: 8px; right: 5px; padding: 10px; cursor: pointer; background-color: transparent; border: 0px none; opacity: 0.25; -moz-appearance: none; }
.facebox-close:hover { opacity: 1; }
@media not all, only screen and (min--moz-device-pixel-ratio: 2), not all, not all, only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
}
.flash-banner { position: fixed; top: 0px; z-index: 42; width: 100%; border-top: 0px none; border-right: 0px none; border-left: 0px none; border-radius: 0px 0px 0px 0px; }
.signed-in-tab-flash, .signed-out-tab-flash { display: none; }
.site-footer { position: relative; padding-top: 40px; padding-bottom: 40px; margin-top: 40px; font-size: 12px; line-height: 1.5; color: rgb(118, 118, 118); border-top: 1px solid rgb(238, 238, 238); }
.site-footer:before { display: table; content: ""; }
.site-footer:after { display: table; clear: both; content: ""; }
.site-footer .octicon-mark-github { position: absolute; top: 38px; left: 50%; margin-left: -12px; font-size: 24px; color: rgb(204, 204, 204); }
.site-footer .octicon-mark-github:hover { color: rgb(187, 187, 187); }
.site-footer-links { margin: 0px; list-style: none outside none; }
.site-footer-links li { display: inline-block; line-height: 16px; }
.site-footer-links li + li { margin-left: 10px; }
.input-group { display: table; }
.input-group .form-control { position: relative; width: 100%; }
.input-group .form-control:focus { z-index: 2; }
.input-group .form-control, .input-group-button { display: table-cell; }
.input-group-button { width: 1%; vertical-align: middle; }
.input-group .form-control:first-child, .input-group-button:first-child .btn { border-top-right-radius: 0px; border-bottom-right-radius: 0px; }
.input-group-button:first-child .btn { margin-right: -1px; }
.input-group .form-control:last-child, .input-group-button:last-child .btn { border-top-left-radius: 0px; border-bottom-left-radius: 0px; }
.input-group-button:last-child .btn { margin-left: -1px; }
body { min-width: 1020px; word-wrap: break-word; }
@keyframes ellipsis {
0% { width: 2px; }
100% { width: 12px; }
}
.pagehead { position: relative; padding-top: 20px; padding-bottom: 20px; margin-bottom: 20px; border-bottom: 1px solid rgb(238, 238, 238); }
.pagehead ul.pagehead-actions { position: relative; z-index: 31; float: right; margin: 0px; }
.pagehead .path-divider { margin: 0px 0.25em; }
.pagehead h1 { margin-top: 0px; margin-bottom: 0px; font-size: 20px; font-weight: normal; line-height: 28px; }
.pagehead h1 .avatar { margin-top: -2px; margin-right: 9px; margin-bottom: -2px; }
.pagehead-actions > li { float: left; margin: 0px 10px 0px 0px; font-size: 11px; color: rgb(51, 51, 51); list-style-type: none; }
.pagehead-actions > li:last-child { margin-right: 0px; }
.repohead.experiment-repo-nav { padding-bottom: 0px; background-color: rgb(250, 250, 250); }
.repohead .repohead-details-container { margin-bottom: 20px; }
.repohead h1 { position: relative; float: left; max-width: 635px; padding-left: 18px; font-size: 18px; line-height: 26px; color: rgb(102, 102, 102); }
.reponav { position: relative; top: 1px; margin-top: -5px; }
.reponav:before { display: table; content: ""; }
.reponav:after { display: table; clear: both; content: ""; }
.reponav-item { float: left; padding: 7px 15px 8px; color: rgb(102, 102, 102); white-space: nowrap; border-style: solid; border-color: transparent; -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; border-width: 3px 1px 1px; border-radius: 3px 3px 0px 0px; }
.reponav-item .octicon { color: rgb(187, 187, 187); }
.reponav-item .counter { color: rgb(85, 85, 85); }
.reponav-item:hover, .reponav-item:focus { color: rgb(51, 51, 51); text-decoration: none; }
.reponav-item.selected { color: rgb(17, 17, 17); background-color: rgb(255, 255, 255); border-color: rgb(210, 105, 17) rgb(229, 229, 229) transparent; }
.reponav-item.selected > .octicon { color: inherit; }
@media not all, only screen and (min--moz-device-pixel-ratio: 2), not all, not all, only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
}
.select-menu-button:after { display: inline-block; width: 0px; height: 0px; vertical-align: -2px; content: ""; border-width: 4px; border-style: solid; border-color: -moz-use-text-color transparent transparent; -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; }
.select-menu-modal-holder { position: absolute; z-index: 30; display: none; }
.select-menu-modal { position: relative; width: 300px; margin-top: 4px; margin-bottom: 20px; overflow: hidden; font-size: 12px; color: rgb(102, 102, 102); background-color: rgb(255, 255, 255); background-clip: padding-box; border: 1px solid rgba(200, 200, 200, 0.4); border-radius: 3px 3px 3px 3px; box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.15); }
.select-menu-header, .select-menu-divider { padding: 8px 10px; line-height: 16px; background: none repeat scroll 0% 0% rgb(245, 245, 245); border-bottom: 1px solid rgb(229, 229, 229); }
.select-menu-header .select-menu-title, .select-menu-divider { font-weight: 600; color: rgb(51, 51, 51); }
.select-menu-header .octicon { display: block; float: right; color: rgb(204, 204, 204); cursor: pointer; }
.select-menu-header .octicon:hover { color: rgb(85, 85, 85); }
.select-menu-header:focus { outline: medium none; }
.select-menu-list { position: relative; max-height: 400px; overflow: auto; }
.select-menu-item { display: block; padding: 8px 8px 8px 30px; overflow: hidden; color: inherit; cursor: pointer; border-bottom: 1px solid rgb(238, 238, 238); }
.select-menu-item:hover { text-decoration: none; }
.select-menu-item .octicon { vertical-align: middle; }
.select-menu-item .octicon-check { visibility: hidden; }
.select-menu-item input[type="radio"] { display: none; }
.select-menu-item.selected { color: rgb(51, 51, 51); }
.select-menu-item.selected .description { color: rgb(102, 102, 102); }
.select-menu-item.selected > .octicon { color: rgb(51, 51, 51); }
.select-menu-item.selected .octicon-check { color: inherit; visibility: visible; }
.select-menu-item .hidden-select-button-text { display: none; }
.select-menu-item-icon { float: left; margin-left: -20px; }
.select-menu-list:last-child .select-menu-item:last-child, .select-menu-item.last-visible { border-bottom: 0px none; border-radius: 0px 0px 3px 3px; }
.select-menu-action { font-weight: normal; color: rgb(85, 85, 85); }
.select-menu-action > .octicon { color: inherit; }
.select-menu-action:hover { color: rgb(64, 120, 192); }
.select-menu-item-text { display: block; text-align: left; }
.select-menu-item-text .description { display: block; max-width: 265px; font-size: 12px; color: rgb(118, 118, 118); }
.select-menu-item-heading { display: block; margin-top: 0px; margin-bottom: 0px; font-size: 14px; font-weight: 600; }
.modal-backdrop { display: none; -moz-user-select: none; }
@keyframes rotate {
0% { transform: rotate(0deg); }
100% { transform: rotate(-360deg); }
}
@keyframes teamDev {
3% { color: rgb(189, 44, 0); fill: rgb(189, 44, 0); border-color: rgb(189, 44, 0); }
27% { color: rgb(189, 44, 0); fill: rgb(189, 44, 0); border-color: rgb(189, 44, 0); }
30% { color: rgb(187, 187, 187); fill: rgb(187, 187, 187); border-color: rgb(204, 204, 204); }
}
@keyframes teamDesign {
34% { color: rgb(187, 187, 187); fill: rgb(187, 187, 187); border-color: rgb(204, 204, 204); }
37% { color: rgb(108, 198, 68); fill: rgb(108, 198, 68); border-color: rgb(108, 198, 68); }
60% { color: rgb(108, 198, 68); fill: rgb(108, 198, 68); border-color: rgb(108, 198, 68); }
63% { color: rgb(187, 187, 187); fill: rgb(187, 187, 187); border-color: rgb(204, 204, 204); }
}
@keyframes teamMarketing {
67% { color: rgb(187, 187, 187); fill: rgb(187, 187, 187); border-color: rgb(204, 204, 204); }
70% { color: rgb(201, 81, 12); fill: rgb(201, 81, 12); border-color: rgb(201, 81, 12); }
94% { color: rgb(201, 81, 12); fill: rgb(201, 81, 12); border-color: rgb(201, 81, 12); }
}
@keyframes teamDevDesign {
3% { color: rgb(189, 44, 0); fill: rgb(189, 44, 0); border-color: rgb(189, 44, 0); }
27% { color: rgb(189, 44, 0); fill: rgb(189, 44, 0); border-color: rgb(189, 44, 0); }
30% { color: rgb(187, 187, 187); fill: rgb(187, 187, 187); border-color: rgb(204, 204, 204); }
34% { color: rgb(187, 187, 187); fill: rgb(187, 187, 187); border-color: rgb(204, 204, 204); }
37% { color: rgb(108, 198, 68); fill: rgb(108, 198, 68); border-color: rgb(108, 198, 68); }
60% { color: rgb(108, 198, 68); fill: rgb(108, 198, 68); border-color: rgb(108, 198, 68); }
63% { color: rgb(187, 187, 187); fill: rgb(187, 187, 187); border-color: rgb(204, 204, 204); }
}
@keyframes teamDevDesignMarketing {
3% { color: rgb(189, 44, 0); fill: rgb(189, 44, 0); border-color: rgb(189, 44, 0); }
27% { color: rgb(189, 44, 0); fill: rgb(189, 44, 0); border-color: rgb(189, 44, 0); }
30% { color: rgb(187, 187, 187); fill: rgb(187, 187, 187); border-color: rgb(204, 204, 204); }
34% { color: rgb(187, 187, 187); fill: rgb(187, 187, 187); border-color: rgb(204, 204, 204); }
37% { color: rgb(108, 198, 68); fill: rgb(108, 198, 68); border-color: rgb(108, 198, 68); }
60% { color: rgb(108, 198, 68); fill: rgb(108, 198, 68); border-color: rgb(108, 198, 68); }
63% { color: rgb(187, 187, 187); fill: rgb(187, 187, 187); border-color: rgb(204, 204, 204); }
67% { color: rgb(187, 187, 187); fill: rgb(187, 187, 187); border-color: rgb(204, 204, 204); }
70% { color: rgb(201, 81, 12); fill: rgb(201, 81, 12); border-color: rgb(201, 81, 12); }
94% { color: rgb(201, 81, 12); fill: rgb(201, 81, 12); border-color: rgb(201, 81, 12); }
}
@keyframes bounceIn {
0% { opacity: 0; transform: scale(0.3); }
50% { opacity: 1; transform: scale(1.05); }
70% { transform: scale(0.9); }
100% { transform: scale(1); }
}
@keyframes fadeIn {
0% { opacity: 0; }
100% { opacity: 1; }
}
@media not all, only screen and (min--moz-device-pixel-ratio: 2), not all, not all, only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
}
.select-menu-item { text-align: left; background-color: rgb(255, 255, 255); border-top: 0px none; border-right: 0px none; border-left: 0px none; }
@keyframes broadCastMaskFade {
0% { opacity: 0; }
30% { opacity: 1; }
70% { opacity: 1; }
100% { opacity: 0; }
}
.file { position: relative; margin-top: 16px; margin-bottom: 16px; border: 1px solid rgb(221, 221, 221); border-radius: 3px 3px 3px 3px; }
.file-header { padding: 5px 10px; background-color: rgb(247, 247, 247); border-bottom: 1px solid rgb(216, 216, 216); border-top-left-radius: 2px; border-top-right-radius: 2px; }
.file-header:before { display: table; content: ""; }
.file-header:after { display: table; clear: both; content: ""; }
.file-actions { float: right; padding-top: 2px; font-size: 13px; }
.file-info { font-family: Consolas,"Liberation Mono",Menlo,Courier,monospace; font-size: 12px; line-height: 32px; }
.file-info .octicon { vertical-align: text-bottom; }
.header { padding-top: 10px; padding-bottom: 10px; background-color: rgb(245, 245, 245); border-bottom: 1px solid rgb(229, 229, 229); }
.header-logged-out { padding-top: 15px; padding-bottom: 15px; }
.header-logo-wordmark { position: relative; float: left; height: 26px; margin-right: 15px; color: rgb(51, 51, 51); }
.header-logo-wordmark:hover { color: rgb(64, 120, 192); }
.header-search { float: left; width: 360px; margin-right: 10px; }
.header-search-wrapper { display: table; width: 100%; max-width: 100%; min-height: 0px; padding: 0px; font-weight: normal; vertical-align: middle; }
.header-search-input { display: table-cell; width: 99%; min-height: 26px; padding-top: 0px; padding-bottom: 0px; font-size: 13px; background: none repeat scroll 0% 0% transparent; border: 0px none; box-shadow: none; }
.header-search-input:focus { border: 0px none; box-shadow: none; }
.header-nav { list-style: none outside none; }
.header-nav-item { float: left; }
.header-nav-link { display: block; padding: 4px 8px; font-size: 13px; font-weight: 600; line-height: 20px; color: rgb(51, 51, 51); }
.header-nav-link:hover, .header-nav-link:focus { color: rgb(64, 120, 192); text-decoration: none; }
.header-actions { float: right; margin-top: -3px; margin-bottom: -3px; }
.header-actions .btn { margin-left: 5px; }
.accessibility-aid { position: absolute; width: 1px; height: 1px; margin: 0px; overflow: hidden; clip: rect(1px, 1px, 1px, 1px); }
.accessibility-aid:focus { top: 0px; z-index: 1; width: auto; height: auto; padding: 0px 10px; clip: auto; font-weight: bold; line-height: 49px; color: rgb(51, 51, 51); text-decoration: none; background: none repeat scroll 0% 0% rgb(245, 245, 245); }
@media not all, only screen and (min--moz-device-pixel-ratio: 2), not all, not all, only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
}
@media (max-width: 768px) {
}
@media (max-width: 768px) {
}
@media (max-width: 768px) {
}
@media (max-width: 768px) {
}
@media (max-width: 768px) {
}
@media (max-width: 768px) {
}
@media (max-width: 768px) {
}
.pjax-loader-bar { position: fixed; top: 0px; left: 0px; z-index: 40; opacity: 0; transition: opacity 0.4s linear 0.4s; }
.pjax-loader-bar .progress { position: fixed; top: 0px; left: 0px; height: 2px; background: none repeat scroll 0% 0% rgb(119, 182, 255); box-shadow: 0px 0px 10px rgba(119, 182, 255, 0.7); transition: width 0.4s ease 0s; }
@keyframes highlight-card {
0% { border-color: rgb(81, 167, 232); box-shadow: 0px 0px 5px rgba(81, 167, 232, 0.7); }
100% { border-color: rgb(229, 229, 229); box-shadow: 0px 0px 5px rgba(81, 167, 232, 0); }
}
@keyframes show-pane {
0% { transform: translateX(390px); }
100% { transform: translateX(0px); }
}
.signed-out-comment { padding: 15px; margin-top: 15px; margin-left: 64px; background-color: rgb(255, 249, 234); border: 1px solid rgb(223, 216, 194); border-radius: 3px 3px 3px 3px; }
.signed-out-comment .btn { margin-right: 3px; vertical-align: baseline; }
@media not all, only screen and (min--moz-device-pixel-ratio: 2), not all, not all, only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
}
.pagehead.repohead .select-menu .select-menu-modal-holder { z-index: 25; }
.repository-meta { margin: 0px 0px 20px; clear: both; font-size: 16px; color: rgb(102, 102, 102); }
.repository-meta:before { display: table; content: ""; }
.repository-meta:after { display: table; clear: both; content: ""; }
.repository-meta .repository-meta-content { display: inline-block; }
.file-navigation-options { float: right; margin-left: 3px; }
.file-navigation-option { position: relative; display: inline-block; margin-left: 3px; }
.file-navigation-option .select-menu { display: inline-block; margin-right: 0px; margin-bottom: 0px; vertical-align: middle; }
.file-navigation-option .zeroclipboard-button { padding-right: 8px; }
.file-navigation-option .input-group { width: 290px; }
.file-navigation-option .input-group .form-control { width: calc(100% + 2px); height: 28px; min-height: 0px; margin-right: -1px; margin-left: -1px; border-radius: 0px 0px 0px 0px; }
.file-navigation-option .input-group .select-menu-button { position: relative; z-index: 2; }
@media not all, only screen and (min--moz-device-pixel-ratio: 2), not all, not all, only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
}
@keyframes toggle-color {
0% { background-color: transparent; }
50% { color: rgb(76, 74, 66); background-color: rgb(255, 249, 234); border-color: rgb(223, 216, 194); }
100% { background-color: transparent; }
}
.tab-size[data-tab-size="8"] { -moz-tab-size: 8; }
