/* Code tidied up by ScrapBook */
.cnblogs-markdown code { color: rgb(199, 37, 78); word-wrap: break-word; border: 0px none; height: auto; }
#topics .postBody blockquote { border-left: 5px solid rgb(0, 154, 97); background: none repeat scroll 0% 0% rgb(246, 246, 246); color: rgb(85, 85, 85); }
