/* Code tidied up by ScrapBook */
ul.dropmenu { list-style: none outside none; margin: 0px; padding: 0px; }
ul.dropmenu * { margin: 0px; padding: 0px; }
ul.dropmenu a { display: block; color: rgb(0, 0, 0); text-decoration: none; }
ul.dropmenu li { position: relative; float: left; margin-right: 2px; }
ul.dropmenu li { position: relative; border-right: 1px solid rgb(170, 170, 170); border-width: medium 1px 1px; border-style: none solid solid; border-color: -moz-use-text-color rgb(170, 170, 170) rgb(170, 170, 170); -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; width: 148px; margin: 0px; }
ul.dropmenu li a { display: block; padding: 3px 7px 5px; background-color: rgb(209, 209, 209); }
ul.dropmenu li a:hover { background-color: rgb(197, 197, 197); }
