/* Code tidied up by ScrapBook */
.field .field-label { font-weight: bold; }
.field-label-inline .field-label, .field-label-inline .field-items { float: left; }
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: local("Open Sans"), local("OpenSans"), url("open_sans_400.woff") format("woff");
}
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  src: local("Open Sans Bold"), local("OpenSans-Bold"), url("open_sans_700.woff") format("woff");
}
@font-face {
  font-family: "Open Sans";
  font-style: italic;
  font-weight: 400;
  src: local("Open Sans Italic"), local("OpenSans-Italic"), url("open_sans_400_italic.woff") format("woff");
}
@font-face {
  font-family: "Open Sans";
  font-style: italic;
  font-weight: 700;
  src: local("Open Sans Bold Italic"), local("OpenSans-BoldItalic"), url("open_sans_700_italic.woff") format("woff");
}
@media only screen and (max-width: 480px) {
}
@media only screen and (max-width: 480px) {
}
