/* Code tidied up by ScrapBook */
@import url("pygment_highlights.css");
body { font-family: "Lora","Times New Roman",serif; font-size: 18px; color: rgb(64, 64, 64); position: relative; background: rgb(255, 255, 255) none repeat scroll 0% 0%; }
p { line-height: 1.5; margin: 30px 0px; }
p a { color: rgb(0, 138, 255); }
h1, h2, h3, h4, h5, h6 { font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif; font-weight: 800; }
a { color: rgb(0, 138, 255); }
a:hover, a:focus { color: rgb(0, 133, 161); }
hr.small { max-width: 100px; margin: 15px auto; border-width: 4px; border-color: inherit; border-radius: 3px; }
@media only screen and (min-width: 768px) {
}
*::-moz-selection { color: white; text-shadow: none; background: rgb(0, 133, 161) none repeat scroll 0% 0%; }
img::-moz-selection { color: white; background: transparent none repeat scroll 0% 0%; }
img { max-width: 100%; }
@media only screen and (min-width: 768px) {
}
.navbar-custom { background: rgb(245, 245, 245) none repeat scroll 0% 0%; border-bottom: 1px solid rgb(234, 234, 234); font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif; }
.navbar-custom .nav li a { text-transform: uppercase; font-size: 12px; letter-spacing: 1px; }
.navbar-custom .navbar-brand, .navbar-custom .nav li a { font-weight: 800; color: rgb(64, 64, 64); }
.navbar-custom .navbar-brand:hover, .navbar-custom .navbar-brand:focus, .navbar-custom .nav li a:hover, .navbar-custom .nav li a:focus { color: rgb(0, 133, 161); }
@media only screen and (min-width: 768px) {
  .navbar-custom { padding: 20px 0px; transition: background 0.5s ease-in-out 0s, padding 0.5s ease-in-out 0s; }
}
.navbar-custom .avatar-container { opacity: 1; position: absolute; transition: opacity 0.5s ease-in-out 0s; left: 50%; width: 50px; margin-top: -25px; }
.navbar-custom .avatar-container .avatar-img-border { width: 100%; border-radius: 50%; margin-left: -50%; display: inline-block; box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.8); }
.navbar-custom .avatar-container .avatar-img { width: 100%; border-radius: 50%; display: block; }
@media only screen and (min-width: 768px) {
  .navbar-custom .avatar-container { width: 100px; margin-top: -50px; }
  .navbar-custom .avatar-container .avatar-img-border { width: 100%; box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8); }
  .navbar-custom .avatar-container .avatar-img { width: 100%; }
}
@media only screen and (max-width: 767px) {
}
@media only screen and (min-width: 768px) {
}
footer { padding: 30px 0px; background: rgb(245, 245, 245) none repeat scroll 0% 0%; border-top: 1px solid rgb(234, 234, 234); margin-top: 50px; font-size: 14px; }
footer a { color: rgb(64, 64, 64); }
footer .list-inline { margin: 0px; padding: 0px; }
footer .copyright { font-family: Open Sans; text-align: center; margin-bottom: 0px; }
footer .theme-by { text-align: center; margin: 10px 0px 0px; }
@media only screen and (min-width: 768px) {
  footer { padding: 50px 0px; }
  footer .footer-links { font-size: 18px; }
  footer .copyright { font-size: 16px; }
}
@media only screen and (min-width: 768px) {
}
@media only screen and (min-width: 768px) {
}
@media only screen and (min-width: 768px) {
}
.intro-header { margin: 80px 0px 20px; position: relative; }
.intro-header .page-heading { text-align: center; }
.intro-header .page-heading h1 { margin-top: 0px; font-size: 50px; }
.intro-header .page-heading .page-subheading, .intro-header .post-heading .post-subheading { font-size: 27px; line-height: 1.1; display: block; font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif; font-weight: 300; margin: 10px 0px 0px; }
@media only screen and (min-width: 768px) {
  .intro-header { margin-top: 130px; }
  .intro-header .page-heading h1 { font-size: 80px; }
}
@media only screen and (max-width: 365px) {
}
@media only screen and (max-width: 325px) {
}
@media only screen and (min-width: 768px) {
}
@media only screen and (min-width: 768px) {
}
