/* Code tidied up by ScrapBook */
span.date-display-single {  }
@media print {
}
.views-exposed-form .views-exposed-widget { float: left; padding: 0.5em 1em 0px 0px; }
.views-exposed-form .views-exposed-widget .form-submit { margin-top: 1.6em; }
.views-exposed-form .form-item, .views-exposed-form .form-submit { margin-top: 0px; margin-bottom: 0px; }
.views-exposed-widgets { margin-bottom: 0.5em; }
