/* Code tidied up by ScrapBook */
@import url("css_001.dat");
@import url("css.dat");
html { box-sizing: border-box; }
*, *:before, *:after { box-sizing: inherit; }
embed, img, object, video { max-width: 100%; height: auto; }
@font-face {
  font-family: "FontAwesome";
  font-style: normal;
  font-weight: normal;
  src: url("fontawesome-webfont.eot") format("embedded-opentype"), url("fontawesome-webfont.woff2") format("woff2"), url("fontawesome-webfont.woff") format("woff"), url("fontawesome-webfont.ttf") format("truetype"), url("fontawesome-webfont.svg") format("svg");
}
@keyframes fa-spin {
0% { transform: rotate(0deg); }
100% { transform: rotate(359deg); }
}
.inline, .breadcrumb ol, .comment ul.links, .footer-menu ul.menu, .join-us ul.menu, .main-menu ul.menu, .tabs, .action-links, .user-menu ul.menu, .article-list__photo-gallery-images ul, .search-results { margin: 0px; padding: 0px; }
.inline li, .breadcrumb ol li, .comment ul.links li, .footer-menu ul.menu li, .join-us ul.menu li, .main-menu ul.menu li, .tabs li, .action-links li, .user-menu ul.menu li, .article-list__photo-gallery-images ul li, .search-results li { list-style: none outside none; margin: 0px; padding: 0px; }
.container, #view-id-featured_tiles-panel_pane_featured_tiles_primary .secondary .view, .no-sidebars .lcom-stacked__footer .panel-display { padding-left: 20px; padding-right: 20px; }
.container:after, #view-id-featured_tiles-panel_pane_featured_tiles_primary .secondary .view:after, .no-sidebars .lcom-stacked__footer .panel-display:after { content: ""; display: table; clear: both; }
@media (min-width: 1220px) {
  .container, #view-id-featured_tiles-panel_pane_featured_tiles_primary .secondary .view, .no-sidebars .lcom-stacked__footer .panel-display { padding-left: 0px; padding-right: 0px; }
}
.element-invisible { position: absolute ! important; height: 1px; width: 1px; overflow: hidden; clip: rect(1px, 1px, 1px, 1px); }
.element-focusable { position: absolute ! important; height: 1px; width: 1px; overflow: hidden; clip: rect(1px, 1px, 1px, 1px); }
.element-focusable:active, .element-focusable:focus { position: static ! important; clip: auto; height: auto; width: auto; overflow: auto; }
#skip-link { margin: 0px; }
#skip-link a, #skip-link a:visited { background-color: rgb(102, 102, 102); color: rgb(255, 255, 255); display: block; padding: 2px 0px 3px; text-align: center; width: 100%; }
.inline { display: inline; }
.inline li { display: inline-block; }
html { background: none repeat scroll 0% 0% rgb(66, 67, 72); color: rgb(74, 74, 74); font-family: "OpenSans",sans-serif; font-weight: 300; overflow-x: hidden; }
body { background: none repeat scroll 0% 0% rgb(255, 255, 255); margin: 0px; overflow-x: hidden; width: 100%; }
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary { display: block; }
a { background-color: transparent; }
a, a:visited { color: rgb(251, 107, 23); text-decoration: none; transition: all 0.3s ease 0s; }
a:hover, a:focus, a:visited:hover, a:visited:focus { text-decoration: underline; }
b, strong { font-weight: bold; }
h1, h2, h3, h4, h5, h6 { font-family: "OpenSans",sans-serif; font-weight: 700; margin: 0px 0px 10px; }
h1 { font-size: 2.25rem; line-height: 3.375rem; font-weight: 600; }
h2 { font-size: 1.5625rem; line-height: 2.34375rem; font-weight: 500; }
h3 { font-size: 1.0625rem; line-height: 1.59375rem; font-weight: 900; }
p { font-size: 1rem; line-height: 1.875rem; margin: 0px 0px 20px; }
img { border: 0px none; }
svg:not(:root) { overflow: hidden; }
button, input, optgroup, select, textarea { color: inherit; font: inherit; margin: 0px; }
button, html input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0px none; padding: 0px; }
input { line-height: normal; }
.container { max-width: 1220px; margin-left: auto; margin-right: auto; }
.container:after { content: " "; display: block; clear: both; }
@media (min-width: 750px) {
}
@media (min-width: 750px) {
}
@media (min-width: 750px) {
  .sidebar-second #content { width: 62.0253%; float: left; margin-right: 1.26582%; }
}
.sidebar-second .region-sidebar-second { border-top: 1px solid rgb(234, 234, 234); margin-top: 40px; padding-top: 40px; }
@media (min-width: 750px) {
  .sidebar-second .region-sidebar-second { width: 30.3798%; float: right; margin-right: 0px; border-top: medium none; margin-top: 0px; padding-top: 0px; }
}
@media (min-width: 750px) {
}
@media (min-width: 750px) {
}
@media (min-width: 750px) {
}
@media (min-width: 750px) {
}
@media (min-width: 750px) {
}
@media (min-width: 750px) {
}
#page { left: 0px; padding-top: 48px; position: relative; transition: left 0.3s ease 0s; }
@media (min-width: 750px) {
  #page { padding-top: 0px; position: static; }
}
#header { position: fixed; top: 0px; width: 100%; z-index: 999; }
#header:after { content: ""; display: table; clear: both; }
#header .container { position: relative; }
@media (min-width: 750px) {
  #header { position: static; }
}
.header__inner { background: none repeat scroll 0% 0% rgb(251, 107, 23); height: 100%; left: -220px; padding: 15px 25px 50px; position: fixed; top: 0px; transition: left 0.3s ease 0s; width: 220px; z-index: 900; }
@media (min-width: 750px) {
  .header__inner { background: none repeat scroll 0% 0% transparent; height: auto; left: auto; overflow-y: visible; padding: 0px; position: static; top: auto; width: auto; z-index: 1; }
  .header__inner:after { content: ""; display: table; clear: both; }
}
.header__inner .container { padding-left: 0px; padding-right: 0px; }
@media (min-width: 750px) {
  .header__inner .container { padding-left: 20px; padding-right: 20px; }
}
@media (min-width: 1220px) {
  .header__inner .container { padding-left: 0px; padding-right: 0px; }
}
.header__inner .header__container { padding-bottom: 25px; padding-top: 42px; }
.region-header-top { background: none repeat scroll 0% 0% rgb(234, 234, 235); padding: 10px 0px; }
@media (min-width: 750px) {
  .region-header-top { padding-bottom: 22px; padding-top: 22px; }
}
.region-header-top .container { padding-left: 10px; padding-right: 10px; }
@media (min-width: 750px) {
  .header__region { width: 68.3544%; float: right; margin-right: 0px; }
}
.header__toggles { background: none repeat scroll 0% 0% rgb(255, 255, 255); border-bottom: 1px solid rgb(161, 161, 161); height: 48px; left: 0px; position: fixed; top: 0px; transition: left 0.3s ease 0s; width: 100%; z-index: 800; }
@media (min-width: 750px) {
  .header__toggles { display: none; }
}
@media (min-width: 750px) {
  .header__site-info { width: 30.3798%; float: left; margin-right: 1.26582%; margin-top: 25px; }
}
.header__site-slogan { display: none; }
@media (min-width: 750px) {
  .header__site-slogan { display: block; color: rgb(101, 100, 106); font-size: 0.875rem; line-height: 1.3125rem; white-space: nowrap; }
}
@media (min-width: 1000px) {
  .header__site-slogan { font-size: 1.125rem; line-height: 1.6875rem; }
}
.header__logo { display: block; left: 48px; position: fixed; transition: left 0.3s ease 0s; top: 11px; width: 75px; z-index: 1; }
@media (min-width: 750px) {
  .header__logo { margin-top: 0px; position: static; width: 118px; }
}
@media (min-width: 1000px) {
  .header__logo { width: auto; }
}
#main .container { padding-bottom: 40px; padding-top: 40px; }
#main .container:after { content: ""; display: table; clear: both; }
#footer { background: url("footer.png") repeat scroll 0px 0px rgb(66, 67, 72); color: rgb(128, 126, 131); }
#footer .container { padding-bottom: 40px; padding-top: 50px; }
#footer p { font-size: 0.75rem; line-height: 1.125rem; }
#footer a.more, #footer a.more:visited { font-size: 0.875rem; line-height: 1.3125rem; color: rgb(255, 255, 255); font-weight: 700; text-decoration: none; text-transform: uppercase; }
.block-dfp { text-align: center; }
.block-dfp .slug { font-size: 0.75rem; line-height: 1.125rem; display: block; margin-bottom: 5px; }
.block { margin-bottom: 20px; }
.region-sidebar-second .block { border-bottom: 1px solid rgb(234, 234, 234); padding-bottom: 40px; }
.region-sidebar-second .block.last { border-bottom: medium none; padding-bottom: 0px; }
.pane-linux-blocks-pardot-contribute-form .pane-title, .pane-linux-blocks-pardot-contact-form .pane-title, .block__title { font-size: 0.875rem; line-height: 1.3125rem; font-weight: 700; margin-bottom: 20px; text-transform: uppercase; }
a.btn, a.btn:visited, .form-submit { font-size: 0.75rem; line-height: 1.125rem; background: none repeat scroll 0% 0% rgb(101, 100, 106); border-radius: 100px 100px 100px 100px; border: medium none; color: rgb(255, 255, 255); display: inline-block; font-weight: 700; letter-spacing: 0.1em; padding: 5px 27px; text-transform: uppercase; transition: all 0.3s ease 0s; }
a.btn:hover, a.btn:focus, a.btn:visited:hover, a.btn:visited:focus, .form-submit:hover, .form-submit:focus { background-color: rgb(251, 107, 23); color: rgb(255, 255, 255); text-decoration: none; }
#block-linux-blocks-linux-accelerated-by { clear: both; }
#block-linux-blocks-linux-accelerated-by .row { margin: 1em 0px; }
#block-linux-blocks-linux-accelerated-by .dns-made-easy-logo { margin-left: -8px; }
@media (min-width: 1000px) {
  #block-linux-blocks-linux-accelerated-by { width: 24.0506%; float: right; margin-right: 0px; clear: none; text-align: right; }
  #block-linux-blocks-linux-accelerated-by .row { text-align: right; }
  #block-linux-blocks-linux-accelerated-by .dns-made-easy-logo { margin-left: 0px; }
}
.field-type-taxonomy-term-reference:after { content: ""; display: table; clear: both; }
.field-type-taxonomy-term-reference a, .field-type-taxonomy-term-reference a:visited { background: none repeat scroll 0% 0% rgb(245, 245, 245); border-radius: 2px 2px 2px 2px; border: 1px solid rgb(218, 218, 218); color: rgb(101, 100, 106); display: block; padding: 5px 10px; float: left; margin-bottom: 5px; margin-right: 5px; }
.field-type-taxonomy-term-reference a:hover, .field-type-taxonomy-term-reference a:focus, .field-type-taxonomy-term-reference a:visited:hover, .field-type-taxonomy-term-reference a:visited:focus { background-color: rgb(255, 255, 255); border-color: rgb(0, 0, 0); color: rgb(0, 0, 0); text-decoration: none; }
.field-type-taxonomy-term-reference a:last-child, .field-type-taxonomy-term-reference a:visited:last-child { margin-right: 0px; }
.field-type-taxonomy-term-reference a:hover, .field-type-taxonomy-term-reference a:focus, .field-type-taxonomy-term-reference a:visited:hover, .field-type-taxonomy-term-reference a:visited:focus { background-color: rgb(255, 255, 255); color: rgb(0, 0, 0); border-color: rgb(0, 0, 0); }
.field-name-field-license { font-size: 0.75rem; line-height: 1.125rem; }
.field-name-field-license a, .field-name-field-license a:visited { background: none repeat scroll 0% 0% transparent; border: medium none; color: rgb(147, 146, 150); float: right; margin-right: 0px; padding: 0px; }
.flag-imagex_node_like a.flag, .flag-imagex_node_like a.flag:visited, .flag-imagex-node-like a.flag, .flag-imagex-node-like a.flag:visited { color: rgb(147, 146, 150); display: block; float: left; height: 26px; margin-right: -10px; overflow: hidden; position: relative; text-indent: -999em; width: 26px; }
.flag-imagex_node_like a.flag:after, .flag-imagex_node_like a.flag:visited:after, .flag-imagex-node-like a.flag:after, .flag-imagex-node-like a.flag:visited:after { font-size: 0.9375rem; line-height: 1.40625rem; content: ""; display: block; font-family: "FontAwesome"; height: 25px; position: absolute; right: 0px; text-indent: 0px; top: 2px; width: 25px; }
.flag-imagex_node_like a.flag:hover:after, .flag-imagex_node_like a.flag:visited:hover:after, .flag-imagex-node-like a.flag:hover:after, .flag-imagex-node-like a.flag:visited:hover:after { color: rgb(251, 107, 23); }
.field-name-field-caption { font-size: 0.75rem; line-height: 1rem; color: rgb(147, 146, 150); padding: 5px 0px; }
.footer-menu:after { content: ""; display: table; clear: both; }
.footer-menu ul.menu { font-size: 0.875rem; line-height: 1.3125rem; font-weight: 700; text-transform: uppercase; }
.footer-menu ul.menu a:link, .footer-menu ul.menu a:visited { color: rgb(255, 255, 255); display: block; opacity: 1; text-decoration: none; }
.footer-menu ul.menu a:hover, .footer-menu ul.menu a:focus, .footer-menu ul.menu a:active { opacity: 1; }
.footer-menu ul.menu .nolink { color: rgb(154, 152, 157); opacity: 0.5; }
.footer-menu ul.menu > li { margin-bottom: 20px; }
@media (min-width: 750px) {
  .footer-menu ul.menu > li { margin-bottom: 20px; }
}
.footer-menu ul.menu ul.menu { padding-top: 10px; }
.footer-menu ul.menu ul.menu a:link, .footer-menu ul.menu ul.menu a:visited { opacity: 0.6; }
.footer-menu ul.menu ul.menu a:hover, .footer-menu ul.menu ul.menu a:focus, .footer-menu ul.menu ul.menu a:active { opacity: 1; }
@media (min-width: 750px) {
  .footer-menu ul.menu ul.menu { padding-top: 20px; }
}
.footer-menu ul.menu ul.menu li { margin-bottom: 8px; width: 100%; }
.lf-footer-primary-menu { margin-bottom: 0px; }
@media (min-width: 750px) {
  .lf-footer-primary-menu { width: 74.6835%; float: left; }
}
@media (min-width: 1000px) {
  .lf-footer-primary-menu { width: 55.6962%; float: left; }
}
@media (min-width: 750px) {
  .lf-footer-primary-menu ul.menu > li { width: 25%; float: left; padding-right: 1.26582%; }
}
@media (min-width: 1000px) {
  .lf-footer-primary-menu ul.menu > li { width: 33.3333%; float: left; padding-right: 1.26582%; }
}
@media (min-width: 750px) {
  .lf-footer-about-menu { float: left; width: 25%; }
}
@media (min-width: 1000px) {
  .lf-footer-about-menu { float: left; width: 17.7215%; }
}
.form-item { margin: 0px 0px 20px; }
.form-item input.error, .form-item textarea.error, .form-item select.error { border: 1px solid rgb(204, 0, 0); }
.form-submit { margin-right: 10px; outline: medium none; }
.form-item { margin: 0px 0px 20px; }
.form-text, .form-textarea { border: 1px solid rgb(216, 216, 216); max-width: 100%; outline: medium none; padding: 5px; transition: all 0.3s ease 0s; width: 100%; }
.form-text:focus, .form-textarea:focus { border-color: rgb(0, 0, 0); }
@media (min-width: 1000px) {
}
@media (min-width: 1000px) {
}
.join-us { background: none repeat scroll 0% 0% rgb(224, 133, 73); border-top: 1px solid rgb(239, 153, 101); bottom: 0px; height: 35px; left: -220px; margin: 0px; padding: 0px 0px 0px 14px; position: fixed; transition: left 0.3s ease 0s; width: 220px; z-index: 102; }
.join-us:after { content: ""; display: table; clear: both; }
@media (min-width: 750px) {
  .join-us { background: none repeat scroll 0% 0% transparent; border-top: medium none; height: auto; margin-bottom: 10px; margin-left: 20px; padding: 0px 180px 0px 0px; position: static; width: 100%; }
}
@media (min-width: 1000px) {
  .join-us { clear: none; padding: 0px; width: auto; }
}
@media (min-width: 750px) {
  .join-us ul.menu { float: right; margin-right: 0px; }
}
.join-us ul.menu li { display: block; float: left; margin-right: 5px; }
@media (min-width: 1000px) {
  .join-us ul.menu li { margin-bottom: 20px; margin-right: 10px; }
}
.join-us ul.menu li:last-child { margin-right: 0px; }
.join-us ul.menu li a, .join-us ul.menu li a:visited { color: rgb(135, 70, 33); display: block; font-family: "FontAwesome"; height: 35px; line-height: 35px; overflow: hidden; padding: 0px 5px; text-decoration: none; text-indent: 35px; width: 35px; }
@media (min-width: 750px) {
  .join-us ul.menu li a, .join-us ul.menu li a:visited { border: 1px solid rgb(220, 220, 220); border-radius: 50% 50% 50% 50%; color: rgb(127, 127, 127); }
}
.join-us ul.menu li a:before, .join-us ul.menu li a:visited:before { margin-left: -30px; margin-right: 30px; }
.join-us ul.menu li a.addthis-twitter:before, .join-us ul.menu li a.addthis-twitter:visited:before { content: ""; }
.join-us ul.menu li a.addthis-facebook:before, .join-us ul.menu li a.addthis-facebook:visited:before { content: ""; margin-left: -28px; }
.join-us ul.menu li a.addthis-linkedin:before, .join-us ul.menu li a.addthis-linkedin:visited:before { content: ""; }
.join-us ul.menu li a.addthis-googleplus:before, .join-us ul.menu li a.addthis-googleplus:visited:before { content: ""; margin-left: -32px; }
.join-us ul.menu li a.addthis-rss:before, .join-us ul.menu li a.addthis-rss:visited:before { content: ""; }
.join-us ul.menu li a:hover, .join-us ul.menu li a:focus, .join-us ul.menu li a:visited:hover, .join-us ul.menu li a:visited:focus { color: rgb(255, 255, 255); }
@media (min-width: 750px) {
  .join-us ul.menu li a:hover, .join-us ul.menu li a:focus, .join-us ul.menu li a:visited:hover, .join-us ul.menu li a:visited:focus { background-color: transparent; border-color: rgb(251, 107, 23); color: rgb(251, 107, 23); }
}
.lf-about { clear: both; }
@media (min-width: 1000px) {
  .lf-about { width: 24.0506%; float: right; margin-right: 0px; clear: none; text-align: right; }
}
.lf-brought { display: none; }
@media (min-width: 750px) {
  .lf-brought { clear: both; display: block; float: right; margin-top: -15px; position: static; text-align: right; width: 140px; }
}
@media (min-width: 750px) and (max-width: 999px) {
}
@media (min-width: 1000px) {
  .lf-brought { clear: both; margin-top: 0px; width: 200px; }
}
.lf-brought .block__content { margin-left: auto; margin-right: auto; width: 125px; }
.lf-brought .block__content:after { content: ""; display: table; clear: both; }
@media (min-width: 750px) {
  .lf-brought .block__content { width: auto; }
}
.lf-brought span { font-size: 0.5625rem; color: rgb(255, 255, 255); display: block; float: left; letter-spacing: 0.06em; line-height: 120%; text-align: left; text-transform: uppercase; width: 60px; }
@media (min-width: 750px) {
  .lf-brought span { font-size: 0.625rem; color: rgb(135, 135, 135); line-height: 145%; }
}
@media (min-width: 1000px) {
  .lf-brought span { font-size: 0.875rem; line-height: 1.3125rem; width: 86px; }
}
.lf-brought img { display: block; width: 57px; }
@media (min-width: 750px) {
  .lf-brought img { width: 80px; }
}
@media (min-width: 1000px) {
  .lf-brought img { width: 114px; }
}
.lf-copyright { clear: both; }
@media (min-width: 1000px) {
  .lf-copyright { margin-bottom: 0px; text-align: right; }
  .lf-copyright :last-child { margin-bottom: 0px; }
}
@media (min-width: 1000px) {
}
@media (min-width: 1000px) {
}
@media (min-width: 420px) {
}
@media (min-width: 750px) {
}
@media (min-width: 1220px) {
}
@media (min-width: 750px) {
}
@media (min-width: 1000px) {
}
@media (min-width: 1220px) {
}
@media (min-width: 420px) {
}
@media (min-width: 750px) {
}
@media (min-width: 750px) {
}
@media (min-width: 1000px) {
}
@media (min-width: 1220px) {
}
@media (min-width: 420px) {
}
@media (min-width: 750px) {
}
@media (min-width: 420px) {
}
@media (min-width: 750px) {
}
@media (min-width: 1000px) {
}
@media (min-width: 1220px) {
}
@media (min-width: 750px) {
}
@media (min-width: 750px) {
}
@media (min-width: 1000px) {
}
@media (min-width: 1220px) {
}
@media (min-width: 420px) {
}
@media (min-width: 1000px) {
}
@media (min-width: 420px) {
}
@media (min-width: 420px) {
}
@media (min-width: 750px) {
}
@media (min-width: 420px) {
}
@media (min-width: 420px) {
}
@media (min-width: 550px) {
  .media-image_left { float: left; padding: 5px; margin-right: 5px; }
  .media-image_left .file-image, .media-image_right .file-image { margin: 0px; max-width: 220px; }
  .media-image_left .content .group-file-info .field-name-field-license, .media-image_left .content .group-file-info .field_license, .media-image_left .content .group-file-info .field-name-field-author-link, .media-image_left .content .group-file-info .field_author_link, .media-image_left .content .group-file-info .field-name-field-source, .media-image_left .content .group-file-info .field_source, .media-image_right .content .group-file-info .field-name-field-license, .media-image_right .content .group-file-info .field_license, .media-image_right .content .group-file-info .field-name-field-author-link, .media-image_right .content .group-file-info .field_author_link, .media-image_right .content .group-file-info .field-name-field-source, .media-image_right .content .group-file-info .field_source { display: block ! important; }
}
@media (min-width: 1000px) {
}
@media (min-width: 550px) {
}
@media (min-width: 550px) {
}
@media (min-width: 750px) {
}
@media (min-width: 1220px) {
}
@media (min-width: 420px) {
}
@media (min-width: 750px) {
}
@media (min-width: 750px) {
}
@media (min-width: 750px) {
}
.lf-training-block { margin: 0px; padding: 30px 0px; position: relative; }
.lf-training-block header { margin-bottom: 30px; }
.lf-training-block header h2 { font-size: 0.875rem; color: rgb(74, 74, 74); font-family: "OpenSans",sans-serif; font-weight: 700; letter-spacing: 1px; line-height: 1.35714; margin: 0px; text-transform: uppercase; }
.lf-training-block .block__content .see_all_button { position: absolute; right: 0px; top: 25px; }
.lf-training-block .block__content .see_all_button a, .lf-training-block .block__content .see_all_button a:visited { font-size: 0.75rem; line-height: 1.125rem; background-color: rgb(255, 255, 255); border: 2px solid rgb(220, 220, 220); border-radius: 100px 100px 100px 100px; color: rgb(138, 139, 141); display: inline-block; font-weight: 700; letter-spacing: 0.1em; text-transform: uppercase; transition: all 0.3s ease 0s; padding: 5px 15px; }
.lf-training-block .block__content .see_all_button a:hover, .lf-training-block .block__content .see_all_button a:focus, .lf-training-block .block__content .see_all_button a:visited:hover, .lf-training-block .block__content .see_all_button a:visited:focus { background-color: rgb(255, 255, 255); border-color: rgb(251, 107, 23); color: rgb(251, 107, 23); text-decoration: none; }
.lf-training-block .block__content .view-content ul { margin: 0px; padding: 0px; list-style: none outside none; }
.lf-training-block .block__content .view-content ul li.views-row { margin: 30px 0px; }
.lf-training-block .block__content .view-content ul li.views-row .views-field-title { font-size: 1rem; font-weight: 600; letter-spacing: 0.6px; line-height: 1.375; margin: 0px 0px 8px; }
.lf-training-block .block__content .view-content ul li.views-row .views-field-title a { color: rgb(60, 61, 65); }
.lf-training-block .block__content .view-content ul li.views-row .meta { font-size: 0.75rem; color: rgba(74, 74, 74, 0.6); font-weight: 700; line-height: 1.3; margin: 8px 0px 5px; text-transform: uppercase; }
.lf-training-block .block__content .view-content ul li.views-row .links a { font-size: 0.75rem; color: rgb(251, 107, 23); font-weight: 700; letter-spacing: 0.9px; line-height: 1.3; text-transform: uppercase; }
@media (min-width: 880px) {
}
@media (min-width: 880px) {
}
@media (min-width: 880px) {
}
@media (min-width: 750px) {
}
@media (min-width: 750px) {
}
@media (min-width: 880px) {
}
@media (min-width: 880px) {
}
@media (min-width: 750px) {
}
@media (min-width: 750px) {
}
#block-linux-user-login-logout-links { background: none repeat scroll 0% 0% rgb(180, 94, 44); height: 140px; left: -220px; padding: 30px; position: fixed; transition: left 0.3s ease 0s; top: 0px; width: 220px; z-index: 102; }
@media (min-width: 750px) {
  #block-linux-user-login-logout-links { background: none repeat scroll 0% 0% transparent; float: right; height: auto; padding: 0px; position: static; top: auto; width: auto; z-index: auto; }
}
@media (min-width: 1000px) {
  #block-linux-user-login-logout-links { margin-bottom: 0px; }
}
#block-linux-user-login-logout-links .block__content a, #block-linux-user-login-logout-links .block__content a:visited { font-size: 0.75rem; line-height: 1.125rem; color: rgb(255, 255, 255); display: block; letter-spacing: 0.09em; font-weight: 700; white-space: nowrap; }
@media (min-width: 750px) {
  #block-linux-user-login-logout-links .block__content a, #block-linux-user-login-logout-links .block__content a:visited { background: none repeat scroll 0% 0% rgb(101, 100, 106); border-radius: 100px 100px 100px 100px; border: medium none; color: rgb(255, 255, 255); display: inline-block; font-weight: 700; letter-spacing: 0.1em; padding: 5px 27px; text-transform: uppercase; transition: all 0.3s ease 0s; font-size: 0.75rem; line-height: 1.125rem; margin-left: 10px; }
  #block-linux-user-login-logout-links .block__content a:hover, #block-linux-user-login-logout-links .block__content a:focus, #block-linux-user-login-logout-links .block__content a:visited:hover, #block-linux-user-login-logout-links .block__content a:visited:focus { background-color: rgb(251, 107, 23); color: rgb(255, 255, 255); text-decoration: none; }
}
@media (min-width: 750px) {
}
#nav__toggle { cursor: pointer; display: block; height: 48px; padding: 20px 15px; position: absolute; left: 0px; transition: none 0s ease 0s ; top: 0px; width: 48px; }
@media (min-width: 750px) {
  #nav__toggle { display: none ! important; }
}
#nav__toggle span, #nav__toggle span:before, #nav__toggle span:after { background: none repeat scroll 0% 0% rgb(161, 161, 161); border-radius: 1px 1px 1px 1px; content: ""; display: block; height: 2px; position: absolute; width: 17px; }
#nav__toggle span:before { top: -5px; }
#nav__toggle span:after { bottom: -5px; }
.main-menu { background: none repeat scroll 0% 0% rgb(224, 133, 73); height: 100%; left: 0px; overflow: auto; padding: 170px 30px 35px; position: absolute; top: 0px; width: 220px; }
@media (min-width: 750px) {
  .main-menu { background: none repeat scroll 0% 0% rgb(251, 107, 23); height: 48px; left: 0px; overflow: visible; padding: 0px; position: relative; top: 0px; width: auto; }
}
@media (min-width: 1000px) {
  .main-menu { height: 50px; }
}
.main-menu ul.menu { font-size: 0.875rem; line-height: 0.875rem; font-weight: 700; letter-spacing: 0.1em; position: relative; text-align: left; text-transform: uppercase; z-index: 101; }
@media (min-width: 750px) and (max-width: 999px) {
  .main-menu ul.menu { font-size: 0.75rem; line-height: 0.75rem; }
}
@media (min-width: 750px) {
  .main-menu ul.menu { font-weight: 600; }
}
@media (min-width: 750px) {
  .main-menu ul.menu li { float: left; margin-right: 5px; }
}
@media (min-width: 1000px) {
  .main-menu ul.menu li { margin-right: 35px; }
}
.main-menu ul.menu li:last-child { margin-right: 0px; }
@media (min-width: 750px) {
  .main-menu ul.menu li.expanded > a, .main-menu ul.menu li.expanded > a:visited, .main-menu ul.menu li.expanded > .nolink { padding-right: 20px; position: relative; transition: color 0.3s ease 0s; }
  .main-menu ul.menu li.expanded > a:after, .main-menu ul.menu li.expanded > a:visited:after, .main-menu ul.menu li.expanded > .nolink:after { color: rgb(254, 181, 134); content: ""; display: block; font-family: "FontAwesome"; position: absolute; right: 2px; top: 0px; }
  .main-menu ul.menu li.expanded:hover > a, .main-menu ul.menu li.expanded:hover > a:visited, .main-menu ul.menu li.expanded:hover > .nolink { opacity: 1; }
  .main-menu ul.menu li.expanded:hover > a:after, .main-menu ul.menu li.expanded:hover > a:visited:after, .main-menu ul.menu li.expanded:hover > .nolink:after { content: ""; }
}
.main-menu ul.menu li.expanded:hover > a, .main-menu ul.menu li.expanded:hover > a:visited, .main-menu ul.menu li.expanded:hover > .nolink { z-index: 101; }
.main-menu ul.menu li.expanded:hover > ul.menu { display: block; }
.main-menu ul.menu ul { font-size: 0.875rem; line-height: 1.3125rem; font-weight: 100; margin-bottom: 14px; text-transform: none; }
@media (min-width: 750px) and (max-width: 999px) {
  .main-menu ul.menu ul { font-size: 0.75rem; line-height: 0.75rem; }
}
@media (min-width: 750px) {
  .main-menu ul.menu ul { background: none repeat scroll 0% 0% rgb(251, 107, 23); box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.2), 0px 0px 2px 0px rgba(0, 0, 0, 0.1); border-top: medium none; display: none; float: none; font-weight: 700; margin-bottom: 0px; margin-left: -15px; margin-top: -60px; padding-bottom: 15px; padding-top: 52px; position: absolute; text-align: left; text-transform: uppercase; width: 212px; z-index: 100; }
  .main-menu ul.menu ul:after { content: ""; display: table; clear: both; }
}
.main-menu ul.menu ul li { border-bottom: medium none; float: none; letter-spacing: 0px; line-height: 120%; margin-right: 0px; }
@media (min-width: 750px) {
  .main-menu ul.menu ul li { letter-spacing: 0.1em; }
}
.main-menu ul.menu ul a, .main-menu ul.menu ul a:visited, .main-menu ul.menu ul .nolink { color: rgb(255, 255, 255); opacity: 0.7; }
@media (min-width: 750px) {
  .main-menu ul.menu ul a, .main-menu ul.menu ul a:visited, .main-menu ul.menu ul .nolink { border-bottom: medium none; line-height: 150%; opacity: 1; padding: 8px 10px 8px 23px; }
}
@media (min-width: 750px) {
  .main-menu ul.menu ul a:hover, .main-menu ul.menu ul a:focus, .main-menu ul.menu ul a:visited:hover, .main-menu ul.menu ul a:visited:focus, .main-menu ul.menu ul .nolink:hover, .main-menu ul.menu ul .nolink:focus { background: none repeat scroll 0% 0% rgb(101, 100, 106); color: rgb(255, 255, 255); }
}
.main-menu ul.menu a, .main-menu ul.menu a:visited, .main-menu ul.menu .nolink { color: rgb(255, 255, 255); display: block; padding: 6px 0px; text-decoration: none; }
@media (min-width: 750px) {
  .main-menu ul.menu a, .main-menu ul.menu a:visited, .main-menu ul.menu .nolink { line-height: 48px; opacity: 0.8; padding: 0px 8px; }
}
@media (min-width: 1000px) {
  .main-menu ul.menu a, .main-menu ul.menu a:visited, .main-menu ul.menu .nolink { line-height: 50px; }
}
@media (min-width: 750px) {
  .main-menu ul.menu a:hover, .main-menu ul.menu a:focus, .main-menu ul.menu a:visited:hover, .main-menu ul.menu a:visited:focus, .main-menu ul.menu .nolink:hover, .main-menu ul.menu .nolink:focus { opacity: 1; }
}
.main-menu ul.menu .nolink { color: rgb(135, 70, 33); cursor: pointer; }
@media (min-width: 750px) {
  .main-menu ul.menu .nolink { color: rgb(255, 255, 255); }
}
.pane-node-body { font-family: "Merriweather",serif; }
#block-linux-blocks-pardot-newsletter-signup-form, .pane-linux-blocks-pardot-contribute-form, .pane-linux-blocks-pardot-contact-form { padding-bottom: 30px; padding-top: 30px; }
#block-views-linux-jobs-related-jobs-block .block__content { border-width: 2px; border-color: rgb(207, 207, 207); border-style: solid; }
#search__toggle, #search__toggle_desktop { color: rgb(161, 161, 161); cursor: pointer; display: block; height: 48px; line-height: 48px; padding: 20px 17px; position: absolute; right: 0px; text-decoration: none; transition: none 0s ease 0s ; top: 0px; width: 48px; }
@media (min-width: 750px) {
  #search__toggle, #search__toggle_desktop { display: none ! important; }
}
#search__toggle span, #search__toggle_desktop span { position: absolute; top: -4px; }
#search__toggle span:after, #search__toggle_desktop span:after { content: ""; font-family: "FontAwesome"; line-height: 48px; text-align: right; }
@media (min-width: 750px) {
  #search__toggle_desktop { color: rgb(255, 255, 255); display: block ! important; height: 48px; line-height: 48px; margin-right: 20px; margin-top: -48px; width: 48px; }
}
@media (min-width: 1000px) {
  #search__toggle_desktop { height: 50px; line-height: 50px; margin-top: -50px; width: 50px; }
}
@media (min-width: 1220px) {
  #search__toggle_desktop { margin-right: 0px; }
}
.search-block { display: none; margin-bottom: 0px; }
@media (min-width: 750px) {
  .search-block { display: block; }
}
@media (min-width: 750px) {
}
@media (min-width: 750px) {
}
@media (min-width: 750px) and (min-width: 1220px) {
}
@media (min-width: 750px) {
  .search-block .block__content { background: none repeat scroll 0% 0% rgb(216, 216, 216); display: none; float: right; width: 475px; }
}
.search-block form { padding: 12px 15px; }
.search-block .views-exposed-widgets { margin: 0px; }
.search-block .views-exposed-widget { float: none; margin: 0px; padding: 0px; }
.search-block .views-exposed-widget .form-item { margin: 0px; }
.search-block .views-exposed-widget .form-text { font-size: 0.8125rem; -moz-appearance: none; background: none repeat scroll 0% 0% rgb(255, 255, 255); border: medium none; color: rgb(147, 146, 150); height: 38px; line-height: 38px; padding: 0px 80px 0px 10px; }
.search-block .views-exposed-widget .form-submit { font-size: 0.75rem; background: none repeat scroll 0% 0% rgb(101, 99, 106); border-radius: 0px 0px 0px 0px; border: medium none; color: rgb(255, 255, 255); cursor: pointer; display: block; font-family: "OpenSans",sans-serif; font-weight: 100; height: 38px; line-height: 38px; margin: 0px; padding: 0px; position: absolute; right: 15px; text-align: center; top: 12px; width: 70px; }
@media (min-width: 750px) {
}
@media (min-width: 750px) {
}
@media (min-width: 750px) {
}
@media (min-width: 750px) {
}
@media (min-width: 750px) {
}
@media (min-width: 750px) and (max-width: 999px) {
}
@media (min-width: 750px) {
}
@media (min-width: 750px) {
}
@media (min-width: 750px) {
}
@media (min-width: 750px) {
}
@media (min-width: 750px) and (max-width: 999px) {
}
@media (min-width: 1000px) {
}
@media (min-width: 750px) {
}
@media (min-width: 1000px) {
}
@media (min-width: 750px) {
}
@media (min-width: 750px) {
}
.lcom-stacked__header { font-size: 0.75rem; color: rgb(101, 100, 106); font-weight: 700; letter-spacing: 0.1em; line-height: 24px; margin-bottom: 25px; text-transform: uppercase; }
.lcom-stacked__header:after { content: ""; display: table; clear: both; }
.lcom-stacked__header a, .lcom-stacked__header a:visited { color: rgb(60, 61, 65); }
.lcom-stacked__header .panel-pane { float: left; margin-right: 10px; padding-right: 10px; }
.lcom-stacked__header .panel-pane:after { content: "|"; position: absolute; right: -5px; top: 0px; }
.lcom-stacked__header .panel-pane:last-child:after { display: none; }
.lcom-stacked__header .pane-real-author-name-linked-panel-pane-1 { position: relative; }
.lcom-stacked__main { margin-bottom: 10px; }
@media (min-width: 750px) {
  .lcom-stacked__main { margin-bottom: 50px; }
}
.lcom-stacked__main .pane-node-field-image { margin-bottom: 50px; }
.lcom-stacked__main .pane-node-field-image img { display: block; margin-bottom: 5px; }
.lcom-stacked__main .field-type-taxonomy-term-reference { font-size: 0.875rem; line-height: 1.3125rem; }
.lcom-stacked__main .pane-node-links { font-size: 0.875rem; line-height: 1.3125rem; border-top: 2px solid rgb(245, 245, 245); color: rgb(183, 183, 183); margin-top: 20px; padding-top: 20px; }
.lcom-stacked__main .pane-node-links ul.links:after { content: ""; display: table; clear: both; }
.lcom-stacked__main .pane-node-links li { display: block; margin-bottom: 10px; }
@media (min-width: 750px) {
  .lcom-stacked__main .pane-node-links li { float: left; margin-bottom: 0px; margin-right: 20px; }
}
.lcom-stacked__main .pane-node-links li.last { margin-right: 0px; }
.lcom-stacked__main .pane-node-links a, .lcom-stacked__main .pane-node-links a:visited { color: rgb(147, 146, 150); }
.lcom-stacked__main .pane-node-links .addtoany { width: 100%; }
@media (min-width: 750px) {
  .lcom-stacked__main .pane-node-links .addtoany { float: right; margin-right: 0px; width: auto; }
}
.lcom-stacked__footer { background: none repeat scroll 0% 0% rgb(248, 248, 248); margin-left: -20px; margin-right: -20px; padding: 20px; }
@media (min-width: 750px) {
  .lcom-stacked__footer { margin-left: 0px; margin-right: 0px; }
}
@media (min-width: 750px) {
}
@media print {
  a:link, a:visited { text-decoration: underline ! important; }
  #content {  }
  #content a[href]:after { content: " (" attr(href) ")"; font-weight: normal; font-size: 16px; }
  #content { float: none ! important; width: 100% ! important; margin: 0px ! important; padding: 0px ! important; }
  body, #page, #main, #content { color: rgb(0, 0, 0); background-color: transparent ! important; background-image: none ! important; }
  #skip-link, #toolbar, #navigation, .region-sidebar-first, .region-sidebar-second, #footer, .breadcrumb, .tabs, .action-links, .links, .book-navigation, .forum-topic-navigation, .pager, .feed-icons { visibility: hidden; display: none; }
}
