/* Code tidied up by ScrapBook */
.p-show { background: none repeat scroll 0% 0% rgb(245, 245, 245); }
.p-show a img { color: rgb(204, 204, 204); }
.p-show .translate-banner { height: 70px; background-image: url("urn:scrapbook-download:174ed182-915f-41b6-a520-f0df813efb08"); }
