/* Code tidied up by ScrapBook */
@media all and (max-width: 540px) {
}
@keyframes showSweetAlert {
0% { transform: scale(0.7); }
45% { transform: scale(1.05); }
80% { transform: scale(0.95); }
100% { transform: scale(1); }
}
@keyframes hideSweetAlert {
0% { transform: scale(1); }
100% { transform: scale(0.5); }
}
@keyframes slideFromTop {
0% { top: 0%; }
100% { top: 50%; }
}
@keyframes slideToTop {
0% { top: 50%; }
100% { top: 0%; }
}
@keyframes slideFromBottom {
0% { top: 70%; }
100% { top: 50%; }
}
@keyframes slideToBottom {
0% { top: 50%; }
100% { top: 70%; }
}
@keyframes animateSuccessTip {
0% { width: 0px; left: 1px; top: 19px; }
54% { width: 0px; left: 1px; top: 19px; }
70% { width: 50px; left: -8px; top: 37px; }
84% { width: 17px; left: 21px; top: 48px; }
100% { width: 25px; left: 14px; top: 45px; }
}
@keyframes animateSuccessLong {
0% { width: 0px; right: 46px; top: 54px; }
65% { width: 0px; right: 46px; top: 54px; }
84% { width: 55px; right: 0px; top: 35px; }
100% { width: 47px; right: 8px; top: 38px; }
}
@keyframes rotatePlaceholder {
0% { transform: rotate(-45deg); }
5% { transform: rotate(-45deg); }
12% { transform: rotate(-405deg); }
100% { transform: rotate(-405deg); }
}
@keyframes animateErrorIcon {
0% { transform: rotateX(100deg); opacity: 0; }
100% { transform: rotateX(0deg); opacity: 1; }
}
@keyframes animateXMark {
0% { transform: scale(0.4); margin-top: 26px; opacity: 0; }
50% { transform: scale(0.4); margin-top: 26px; opacity: 0; }
80% { transform: scale(1.15); margin-top: -6px; }
100% { transform: scale(1); margin-top: 0px; opacity: 1; }
}
@keyframes pulseWarning {
0% { border-color: rgb(248, 212, 134); }
100% { border-color: rgb(248, 187, 134); }
}
@keyframes pulseWarningIns {
0% { background-color: rgb(248, 212, 134); }
100% { background-color: rgb(248, 187, 134); }
}
@keyframes rotate-loading {
0% { transform: rotate(0deg); }
100% { transform: rotate(360deg); }
}
@keyframes ball-fall {
0% { opacity: 0; transform: translateY(-145%); }
10% { opacity: 0.5; }
20% { opacity: 1; transform: translateY(0px); }
80% { opacity: 1; transform: translateY(0px); }
90% { opacity: 0.5; }
100% { opacity: 0; transform: translateY(145%); }
}
@keyframes ball-fall {
0% { opacity: 0; transform: translateY(-145%); }
10% { opacity: 0.5; }
20% { opacity: 1; transform: translateY(0px); }
80% { opacity: 1; transform: translateY(0px); }
90% { opacity: 0.5; }
100% { opacity: 0; transform: translateY(145%); }
}
