/* Code tidied up by ScrapBook */
body, html { margin: 0px; padding: 0px; overflow: visible; text-align: center; font-family: "HelveticaNeue",Arial,sans-serif; background: transparent none repeat scroll 0% 0%; }
.widget { position: absolute; top: 0px; left: 0px; text-align: center; white-space: nowrap; }
.widget.center { position: relative; margin: 0px auto; }
.widget.pocket { width: 60px; }
.widget.pocket.vertical { width: 60px; }
#btn { display: block; cursor: pointer; }
#btn span { position: relative; display: block; border: 1px solid rgb(187, 187, 187); font-weight: bold; color: rgb(119, 119, 119); background: rgb(255, 255, 255) none repeat scroll 0% 0%; }
#btn:hover span { color: rgb(85, 85, 85); }
.vertical #btn span { height: 33px; line-height: 33px; margin-bottom: 8px; font-size: 14px; }
#btn span em { font-style: normal; transition: opacity 0.3s ease 0s; }
#btn span i, #btn span u { display: block; position: absolute; border: 4px solid transparent; width: 0px; height: 0px; line-height: 0px; z-index: 10; }
.vertical #btn span i, .vertical #btn span u { left: 50%; bottom: 0px; margin: 0px 0px -4px -4px; border-bottom: 0px none; }
.vertical #btn span i { border-top-color: rgb(170, 170, 170); }
.vertical #btn span u { margin-bottom: -3px; border-top-color: rgb(255, 255, 255); }
#btn b { display: block; height: 20px; line-height: 20px; font-size: 12px; background: transparent url("pocket_button.png") no-repeat scroll center top / 60px auto; }
#btn:hover b { background-position: center center; }
.pocket #btn b { width: 60px; }
@media not all, only screen and (min-resolution: 144dpi) {
  #btn b { background-image: url("pocket_button-2x.png"); }
}
