/* Code tidied up by ScrapBook */
@media only screen and (min-width: 60.625em) {
}
@media only screen and (min-width: 60.625em) {
}
@media only screen and (min-width: 60.625em) {
}
@media only screen and (min-width: 48em) {
}
@media only screen and (min-width: 48em) {
}
@media only screen and (min-width: 60.625em) {
}
#articleLeaderboardWrapper { display: none; }
@media only screen and (min-width: 48em) {
  #articleLeaderboardWrapper { display: block; background-color: transparent; padding: 15px 0px 8px; position: relative; width: auto; height: auto; }
}
#articleLeaderboardWrapper #articleLeaderboardInner { display: block; margin: 0px auto; text-align: center; max-width: 970px; height: auto; }
#gpt-leaderboardmobile { margin-top: 20px; }
@media only screen and (min-width: 48em) {
  #gpt-leaderboardmobile { display: none; }
}
article figure img { height: auto; width: 100%; max-width: 100%; float: left; }
body.pcworld #page-top { z-index: 30; }
@media only screen and (min-width: 48em) {
  body.pcworld #page-top { z-index: 3; }
}
body.pcworld article .apart-alt.tags .related { font-family: "facitweb","Helvetica Neue",Helvetica,Arial,sans-serif,sans-serif; margin-top: 8px; }
body.pcworld article .apart-alt.tags ul li { font-size: 14px; line-height: 1; font-weight: 500; text-decoration: none; text-transform: capitalize; margin: 0.5rem 6px 1.2rem 0px; padding: 0px; background: none repeat scroll 0% 0% transparent; }
body.pcworld article .apart-alt.tags ul li a { background-color: rgb(232, 232, 232); color: rgb(68, 68, 68); padding: 6px 10px; border-radius: 4px 4px 4px 4px; }
body.pcworld article .apart-alt.tags ul li a:hover { background-color: rgb(204, 204, 204); }
body.pcworld article #sharer { opacity: 1; }
article .howto-video { font-family: "facitweb","Helvetica Neue",Helvetica,Arial,sans-serif,sans-serif; }
article .related-promo-wrapper .promo .hed { border-top: 3px solid rgb(172, 31, 43); border-bottom: 0px none; color: rgb(51, 51, 51); margin-bottom: 1rem; padding: 0.5rem 0px 0px; font-family: "facitweb","Helvetica Neue",Helvetica,Arial,sans-serif,sans-serif; font-size: 0.8125rem; font-weight: 700; }
article .related-promo-wrapper .promo ul { border-bottom: 0px none; }
article .related-promo-wrapper .promo ul li { border-bottom: 1px solid rgb(217, 217, 217); }
article .related-promo-wrapper .promo ul li .item-eyebrow { color: rgb(0, 0, 0); font-family: "facitweb","Helvetica Neue",Helvetica,Arial,sans-serif,sans-serif; font-weight: 700; }
article .related-promo-wrapper .promo ul li .title { font-family: "facitweb","Helvetica Neue",Helvetica,Arial,sans-serif,sans-serif; font-size: 0.875rem; line-height: 1.25rem; }
article .related-promo-wrapper .promo ul li .title a { color: rgb(51, 51, 51); }
article .related-promo-wrapper .promo ul li .title a:hover { color: rgb(37, 167, 215); }
article header .category { font-size: 0.8125rem; color: rgb(149, 6, 19); font-family: "facitweb","Helvetica Neue",Helvetica,Arial,sans-serif,sans-serif; font-weight: bold; }
article header .category a { color: rgb(172, 31, 43); }
article header .category a:hover { color: rgb(68, 68, 68); }
article header h1 { font-size: 1.75rem; line-height: 1.875rem; }
@media only screen and (min-width: 48em) {
  article header h1 { font-size: 2.5rem; line-height: 2.625rem; }
}
@media only screen and (min-width: 48em) {
}
@media only screen and (min-width: 60.625em) {
  article header nav.breadcrumbs { margin-bottom: 20px; }
}
article header nav.breadcrumbs ul li { padding-right: 0px; }
article header nav.breadcrumbs ul li:after { content: "/"; }
body.pcworld article .apart-alt.tags ul li { margin-bottom: 0px; }
body.pcworld article .apart-alt.tags ul li a { float: left; font-family: "facitweb","Helvetica Neue",Helvetica,Arial,sans-serif,sans-serif; }
body.pcworld article .apart-alt.tags .related { margin-top: 14px; }
#amazon-bottom-widget .amzn-custom-header { font-family: "facitweb","Helvetica Neue",Helvetica,Arial,sans-serif,sans-serif; }
#comments.temp-message .gig-comments-headerText { font-family: "facitweb","Helvetica Neue",Helvetica,Arial,sans-serif,sans-serif; }
