/* Code tidied up by ScrapBook */
@charset "UTF-8";
.promo { border-bottom: 1px solid rgb(216, 216, 216); }
@media only screen and (min-width: 48em) {
  .promo { border-bottom: 0px none; }
}
.promo ul { margin: 0px; padding: 0px; }
@media only screen and (min-width: 48em) {
  .promo ul { border-bottom: 1px solid rgb(216, 216, 216); }
}
.promo ul li { list-style: none outside none; margin: 0px 0px 10px; padding: 0px; clear: left; }
.promo ul li:before, .promo ul li:after { content: " "; display: table; }
.promo ul li:after { clear: both; }
.promo ul li img { border: 0px none; float: left; margin: 0.25rem 0.75rem 0px 0px; padding: 0px; width: 75px; height: auto; }
.promo ul li .item-eyebrow { font-size: 0.8125rem; line-height: 1rem; text-transform: uppercase; }
.promo ul li .title { font-size: 1.25rem; line-height: 1.45rem; margin: 0px; }
.promo ul li a { text-decoration: none; }
@media only screen and (min-width: 48em) {
}
.apart, .apart-alt { border-top: 1px solid rgb(222, 222, 222); padding: 10px; }
@media only screen and (min-width: 48em) {
  .apart, .apart-alt { border-top: 0px none; padding: 0px; }
}
.apart .hed, .apart-alt .hed { font-size: 1.25rem; margin: 0px 0px 0.75rem; padding-bottom: 0.25rem; text-transform: uppercase; }
@media only screen and (min-width: 48em) {
  .apart .hed, .apart-alt .hed { border-bottom: 1px solid rgb(222, 222, 222); }
}
@media only screen and (min-width: 48em) {
}
@media only screen and (min-width: 48em) and (max-width: 58.063em) {
}
@media only screen and (min-width: 60.625em) {
}
@media only screen and (min-width: 71.25em) {
}
@media only screen and (min-width: 1306px) {
}
@media only screen and (min-width: 48em) {
}
@media only screen and (min-width: 48em) {
}
@media only screen and (min-width: 48em) {
}
@media only screen and (min-width: 48em) {
}
@media not all, only screen and (min--moz-device-pixel-ratio: 2), not all, not all, not all, only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
}
@media only screen and (min-width: 48em) {
}
@media only screen and (min-width: 48em) {
}
@media only screen and (min-width: 60.625em) {
}
@media only screen and (min-width: 48em) {
}
@media only screen and (min-width: 60.625em) {
}
.pagination { text-align: center; font-size: 0px; line-height: 1.125rem; margin-top: 2rem; max-width: 620px; }
.pagination:before, .pagination:after { content: " "; display: table; }
.pagination:after { clear: both; }
.pagination .page-link { font-size: 1.188rem; text-decoration: none; text-transform: uppercase; }
@media only screen and (min-width: 48em) {
  .pagination .page-link.next { border-left: 1px solid rgb(223, 223, 223); padding: 0px 10px; }
}
.pagination .page-link.current { color: rgb(0, 0, 0); }
.pagination .page-link i.ss-icon { font-size: 0.875rem; }
.pagination .page-numbers { display: none; }
@media only screen and (min-width: 48em) {
  .pagination .page-numbers { display: inline; }
}
.pagination .page-numbers .page-link { border-right: 1px solid rgb(223, 223, 223); padding: 0px 10px; }
.pagination .page-numbers .page-link:last-child { border: 0px none; }
.pagination .current-page { font-size: 1.125rem; padding: 0px 40px; }
@media only screen and (min-width: 48em) {
  .pagination .current-page { display: none; }
}
@media only screen and (min-width: 48em) {
}
@media only screen and (min-width: 48em) {
}
@media only screen and (min-width: 48em) {
}
@media only screen and (min-width: 48em) {
}
@media only screen and (min-width: 48em) {
}
@media only screen and (min-width: 60.625em) {
}
@media only screen and (min-width: 48em) {
}
@media only screen and (min-width: 60.625em) {
}
@media only screen and (min-width: 60.625em) {
}
@media only screen and (min-width: 48em) {
}
@media only screen and (min-width: 48em) {
}
@media only screen and (min-width: 48em) {
}
@media only screen and (min-width: 60.625em) {
}
@media only screen and (min-width: 60.625em) {
}
@media only screen and (min-width: 60.625em) {
}
@media only screen and (min-width: 48em) {
}
@media only screen and (min-width: 60.625em) {
}
@media only screen and (min-width: 24.0625em) {
}
@media only screen and (min-width: 60.625em) {
}
@media only screen and (min-width: 48em) {
}
@media only screen and (min-width: 60.625em) {
}
@media only screen and (min-width: 48em) {
}
@media only screen and (min-width: 48em) {
}
@media only screen and (min-width: 60.625em) {
}
@media only screen and (min-width: 60.625em) {
}
@media only screen and (min-width: 48em) {
}
@media only screen and (min-width: 60.625em) {
}
article { padding: 0px; margin: 0px; position: relative; }
@media only screen and (min-width: 60.625em) {
  article { max-width: 970px; margin: 0px auto; }
}
article .ad { background-color: rgb(238, 238, 238); }
article .ad #inread { height: 0px; }
@media only screen and (min-width: 60.625em) {
}
article figcaption { font-size: 0.9rem; line-height: 1rem; margin: 0.5rem 10px 1.2rem; }
@media only screen and (min-width: 48em) {
  article figcaption { margin: 0.5rem 10px; }
}
@media only screen and (min-width: 60.625em) {
  article figcaption { margin: 0.5rem 10px 1.3rem 0px; }
}
article header, article .product-hub-hdr { margin: 0px 0px 0.5rem; padding-top: 20px; clear: both; }
@media only screen and (min-width: 48em) {
  article header, article .product-hub-hdr { padding-top: 10px; }
}
article header:before, article header:after, article .product-hub-hdr:before, article .product-hub-hdr:after { content: " "; display: table; }
article header:after, article .product-hub-hdr:after { clear: both; }
article header h1, article header h2, article header h3, article .product-hub-hdr h1, article .product-hub-hdr h2, article .product-hub-hdr h3 { margin: 0px; padding: 0px 10px; }
@media only screen and (min-width: 60.625em) {
  article header h1, article header h2, article header h3, article .product-hub-hdr h1, article .product-hub-hdr h2, article .product-hub-hdr h3 { padding-left: 0px; }
}
article header .category, article .product-hub-hdr .category { font-size: 1rem; float: left; line-height: 1.25rem; text-transform: uppercase; margin-left: 0.625rem; width: calc(100% - 130px); }
@media only screen and (min-width: 60.625em) {
  article header .category, article .product-hub-hdr .category { margin-left: 0px; }
}
article header .category a, article .product-hub-hdr .category a { display: inline-block; text-decoration: none; }
article header h1, article .product-hub-hdr h1 { font-size: 1.75rem; line-height: 2rem; margin: 0.25rem 0px; clear: both; }
@media only screen and (min-width: 48em) {
  article header h1, article .product-hub-hdr h1 { font-size: 2.75rem; line-height: 2.95rem; margin: 0px 0px 0.625rem; }
}
@media only screen and (min-width: 60.625em) {
}
@media only screen and (min-width: 48em) {
}
@media only screen and (min-width: 48em) {
}
@media only screen and (min-width: 48em) and (max-width: 58.063em) {
}
@media only screen and (min-width: 60.625em) {
}
@media only screen and (min-width: 48em) {
}
@media only screen and (min-width: 60.625em) {
}
@media only screen and (min-width: 48em) {
}
@media only screen and (min-width: 60.625em) {
}
@media only screen and (min-width: 48em) {
}
@media only screen and (min-width: 48em) {
  article .epo { float: right; margin: 0px 10px 20px 25px; width: 300px; position: relative; z-index: 1; }
}
@media only screen and (min-width: 60.625em) {
  article .epo { margin: 0px 0px 10px 35px; display: block; }
}
article .epo .ad { margin-bottom: 20px; margin-top: 1.3rem; display: none; }
@media only screen and (min-width: 48em) {
  article .epo .ad { display: block; }
}
@media only screen and (min-width: 48em) and (max-width: 58.063em) {
  article .epo .ad { display: block; }
}
@media only screen and (min-width: 60.625em) {
  article .epo .ad { display: block; }
}
@media only screen and (min-width: 48em) {
  article .epo.cat-narrow { float: right; margin: 0px 10px 20px 25px; width: 300px; clear: right; }
}
@media only screen and (min-width: 48em) and (max-width: 58.063em) {
  article .epo.cat-narrow { display: none; }
}
@media only screen and (min-width: 60.625em) {
  article .epo.cat-narrow { margin: 0px 0px 10px 35px; display: block; }
}
@media only screen and (min-width: 48em) {
}
@media only screen and (min-width: 48em) and (max-width: 58.063em) {
}
@media only screen and (min-width: 60.625em) {
}
@media only screen and (min-width: 48em) {
}
@media only screen and (min-width: 48em) {
}
@media only screen and (min-width: 48em) and (max-width: 58.063em) {
}
@media only screen and (min-width: 60.625em) {
}
@media only screen and (min-width: 48em) {
}
@media only screen and (min-width: 48em) and (max-width: 58.063em) {
}
@media only screen and (min-width: 60.625em) {
}
@media only screen and (min-width: 48em) {
}
@media only screen and (min-width: 48em) and (max-width: 58.063em) {
}
@media only screen and (min-width: 60.625em) {
}
@media only screen and (min-width: 48em) {
}
@media only screen and (min-width: 48em) and (max-width: 58.063em) {
}
@media only screen and (min-width: 60.625em) {
}
@media only screen and (min-width: 48em) {
}
@media only screen and (min-width: 48em) and (max-width: 58.063em) {
}
@media only screen and (min-width: 60.625em) {
}
article .epo .related-promo-wrapper { display: none; }
@media only screen and (min-width: 48em) {
  article .epo .related-promo-wrapper { display: block; margin-top: 0.75rem; }
}
@media only screen and (min-width: 48em) and (max-width: 58.063em) {
  article .epo .related-promo-wrapper { display: none; }
}
article .epo .related-promo-wrapper .apart { border-left: medium none; }
@media only screen and (min-width: 48em) {
}
@media only screen and (min-width: 48em) {
  article .epo .promo { clear: both; float: none; margin: 0px; padding: 0px; }
}
@media only screen and (min-width: 60.625em) {
}
article .epo .promo ul { list-style: none outside none; margin: 0px; padding: 0px; }
article .epo .promo ul li { margin: 0px 0px 0.75rem; padding: 0px 0px 0.75rem; position: relative; }
article .epo .promo ul li:last-child { margin-bottom: 0.1875rem; }
article .epo .promo ul li a.play { width: 75px; height: 42px; position: absolute; margin-top: 0.25rem; left: 0px; right: 0px; bottom: 0px; top: 0px; }
article .epo .promo ul li a { position: relative; }
article .epo .promo ul li a .ss-play { height: 23px; width: 22px; bottom: 5px; left: 5px; }
@media only screen and (min-width: 48em) {
}
article .apart { margin: 0px 20px; padding: 10px 0px; }
@media only screen and (min-width: 48em) {
  article .apart { float: right; clear: right; margin: 0px 10px 10px 35px; width: 300px; padding: 0px 0px 0px 1.0625rem; }
}
@media only screen and (min-width: 48em) and (max-width: 58.063em) {
  article .apart { border-left: 0px none; margin: 0px 20px; padding: 10px 0px; }
}
@media only screen and (min-width: 60.625em) {
  article .apart { margin: 0px 0px 10px 35px; padding: 0px 0px 0px 1.0625rem; }
}
article .apart .hed { font-size: 1.15rem; margin-bottom: 0.25rem; }
@media only screen and (min-width: 48em) {
  article .apart .hed { font-size: 1.25rem; margin-bottom: 0.75rem; }
}
@media only screen and (min-width: 48em) {
}
@media only screen and (min-width: 60.625em) {
}
article .apart.promo { height: auto; }
article .apart.promo ul { padding: 0px; }
article .apart.promo ul img { display: none; }
@media only screen and (min-width: 48em) {
  article .apart.promo ul img { display: block; }
}
@media only screen and (min-width: 48em) {
}
article .apart.ad { min-height: 50px; width: 300px; border-top: 1px solid rgb(209, 209, 209); border-bottom: 1px solid rgb(209, 209, 209); background-color: transparent; padding: 5px 0px 20px; margin: 5px auto 4px; }
@media only screen and (min-width: 48em) {
  article .apart.ad { min-height: 250px; margin: 0px 20px 10px 0px; padding: 0px; border-bottom: 0px none; border-top: 0px none; }
}
@media only screen and (min-width: 48em) {
  article .apart.ad.lazyload_ad_article { margin: 0px 0px 10px; }
}
@media only screen and (min-width: 48em) and (max-width: 58.063em) {
  article .apart.ad.lazyload_ad_article { margin: 0px auto 20px; float: none; }
}
@media only screen and (min-width: 60.625em) {
  article .apart.ad.lazyload_ad_article { margin: 0px 0px 10px; float: right; }
}
@media only screen and (min-width: 60.625em) {
  article .apart.ad { margin: 0px 0px 10px 31px; }
}
article .apart.ad:before { content: "Content Continues Below"; display: block; text-align: center; color: rgb(153, 153, 153); padding-bottom: 18px; font-size: 11px; position: static; }
@media only screen and (min-width: 48em) {
  article .apart.ad:before { content: none; }
}
article .bodee { clear: left; margin-bottom: 20px; }
article .bodee:before, article .bodee:after { content: " "; display: table; }
article .bodee:after { clear: both; }
article .bodee #drr-container {  }
article .bodee #drr-container:before, article .bodee #drr-container:after { content: " "; display: table; }
article .bodee #drr-container:after { clear: both; }
article .bodee #drr-container > p, article .bodee #drr-container > ul, article .bodee #drr-container > ol, article .bodee #drr-container > #article-top-page-number, article .bodee #drr-container > .in-article { padding: 0px 20px; transition: margin 0.3s ease 0s; }
@media only screen and (min-width: 48em) {
  article .bodee #drr-container > p, article .bodee #drr-container > ul, article .bodee #drr-container > ol, article .bodee #drr-container > #article-top-page-number, article .bodee #drr-container > .in-article { font-size: 1.125rem; margin: 0px 60px 16px; line-height: 1.6rem; }
}
@media only screen and (min-width: 60.625em) {
  article .bodee #drr-container > p, article .bodee #drr-container > ul, article .bodee #drr-container > ol, article .bodee #drr-container > #article-top-page-number, article .bodee #drr-container > .in-article { margin: 0px 0px 16px 160px; max-width: 620px; }
}
@media only screen and (min-width: 48em) {
}
@media only screen and (min-width: 24.0625em) {
}
@media only screen and (min-width: 48em) {
}
@media only screen and (min-width: 48em) {
}
@media only screen and (min-width: 60.625em) {
}
@media only screen and (min-width: 48em) {
}
@media only screen and (min-width: 48em) {
}
@media only screen and (min-width: 60.625em) {
}
@media only screen and (min-width: 48em) {
}
@media only screen and (min-width: 48em) and (max-width: 58.063em) {
}
@media only screen and (min-width: 60.625em) {
}
article .bodee #drr-container > h2, article .bodee #drr-container > h3, article .bodee #drr-container > h4, article .bodee #drr-container > h5, article .bodee #drr-container > h6 { padding: 0px 20px; transition: margin 0.3s ease 0s; }
@media only screen and (min-width: 48em) {
  article .bodee #drr-container > h2, article .bodee #drr-container > h3, article .bodee #drr-container > h4, article .bodee #drr-container > h5, article .bodee #drr-container > h6 { margin: 0px 60px 16px; }
}
@media only screen and (min-width: 60.625em) {
  article .bodee #drr-container > h2, article .bodee #drr-container > h3, article .bodee #drr-container > h4, article .bodee #drr-container > h5, article .bodee #drr-container > h6 { margin: 0px 0px 16px 160px; max-width: 620px; }
}
article .bodee #drr-container > h3 { margin-top: 1.625rem; font-size: 1.125rem; line-height: 1.4375rem; }
@media only screen and (min-width: 60.625em) {
}
@media only screen and (min-width: 48em) {
}
@media only screen and (min-width: 48em) {
}
@media only screen and (min-width: 60.625em) {
}
@media only screen and (min-width: 48em) {
}
@media only screen and (min-width: 48em) {
}
@media only screen and (min-width: 48em) {
}
@media only screen and (min-width: 48em) {
}
@media only screen and (min-width: 48em) {
}
@media only screen and (min-width: 48em) {
}
@media only screen and (min-width: 60.625em) {
}
@media only screen and (min-width: 48em) {
}
@media only screen and (min-width: 60.625em) {
}
@media only screen and (min-width: 48em) {
}
@media only screen and (min-width: 60.625em) {
}
@media only screen and (min-width: 48em) {
}
@media only screen and (min-width: 60.625em) {
}
@media only screen and (min-width: 24.0625em) {
}
@media only screen and (min-width: 48em) {
}
@media only screen and (min-width: 48em) {
}
@media only screen and (min-width: 48em) and (max-width: 58.063em) {
}
article .bodee #drr-container > figure { max-width: 100%; width: 300px; margin: 0px auto 16px; }
@media only screen and (min-width: 48em) {
  article .bodee #drr-container > figure { width: auto; float: left; clear: none; margin: 0.5rem 1rem 16px 10px; }
  article .bodee #drr-container > figure:nth-of-type(n+2) { clear: left; }
}
@media only screen and (min-width: 60.625em) {
  article .bodee #drr-container > figure { margin: 0.5rem 1.5rem 1rem 0px; }
}
article .bodee #drr-container > figure img { max-width: 375px; height: auto; float: none; margin-top: 1rem; width: 300px; }
@media only screen and (min-width: 48em) {
  article .bodee #drr-container > figure img { float: left; width: auto; }
}
@media only screen and (min-width: 48em) {
}
@media only screen and (min-width: 48em) and (max-width: 58.063em) {
}
@media only screen and (min-width: 60.625em) {
}
@media only screen and (min-width: 48em) {
}
@media only screen and (min-width: 60.625em) {
}
@media only screen and (min-width: 48em) {
}
@media only screen and (min-width: 48em) {
}
@media only screen and (min-width: 48em) {
}
@media only screen and (min-width: 48em) {
}
@media only screen and (min-width: 48em) {
}
@media only screen and (min-width: 48em) {
}
@media only screen and (min-width: 60.625em) {
}
@media only screen and (min-width: 48em) {
}
@media only screen and (min-width: 48em) {
}
@media only screen and (min-width: 48em) {
}
@media only screen and (min-width: 48em) {
}
@media only screen and (min-width: 48em) {
}
@media only screen and (min-width: 48em) {
}
@media only screen and (min-width: 48em) {
}
@media only screen and (min-width: 48em) {
}
article .bodee #drr-container > figure.inline-small, article .bodee #drr-container > figure.small { width: 40%; max-width: 150px; float: left; margin-right: 1rem; margin-left: 1.25rem; }
@media only screen and (min-width: 48em) {
  article .bodee #drr-container > figure.inline-small, article .bodee #drr-container > figure.small { margin: 0.5rem 1rem 16px 10px; }
}
@media only screen and (min-width: 60.625em) {
  article .bodee #drr-container > figure.inline-small, article .bodee #drr-container > figure.small { margin: 0.5rem 1.5rem 1rem 0px; }
}
article .bodee #drr-container > figure.inline-small img, article .bodee #drr-container > figure.small img { width: 100%; height: auto; float: left; margin-bottom: 0px; box-sizing: border-box; }
article .bodee #drr-container > figure.inline-small figcaption, article .bodee #drr-container > figure.small figcaption { margin: 0.5rem 10px 0.5rem 0px; clear: left; padding-top: 0.3rem; }
@media only screen and (min-width: 48em) {
  article .bodee #drr-container > figure.inline-small figcaption, article .bodee #drr-container > figure.small figcaption { margin: 0.25rem 0px 0.5rem; float: left; padding-top: 0px; }
}
@media only screen and (min-width: 48em) {
  article .bodee #drr-container > figure.inline-small.right, article .bodee #drr-container > figure.small.right { float: right; margin-right: 0px; margin-left: 1rem; }
}
@media only screen and (min-width: 60.625em) {
}
@media only screen and (min-width: 48em) {
}
@media only screen and (min-width: 60.625em) {
}
@media only screen and (min-width: 48em) {
}
@media only screen and (min-width: 60.625em) {
}
@media only screen and (min-width: 60.625em) {
}
@media only screen and (min-width: 48em) {
}
@media only screen and (min-width: 48em) {
}
@media only screen and (min-width: 48em) {
}
@media only screen and (min-width: 60.625em) {
}
@media only screen and (min-width: 60.625em) {
}
@media only screen and (min-width: 60.625em) {
}
@media only screen and (min-width: 48em) {
}
@media only screen and (min-width: 60.625em) {
}
@media only screen and (min-width: 24.0625em) {
}
@media only screen and (min-width: 60.625em) {
}
@media only screen and (min-width: 48em) {
}
@media only screen and (min-width: 60.625em) {
}
@media only screen and (min-width: 48em) {
}
@media only screen and (min-width: 48em) {
}
@media only screen and (min-width: 60.625em) {
}
@media only screen and (min-width: 60.625em) {
}
@media only screen and (min-width: 60.625em) {
}
@media only screen and (min-width: 60.625em) {
}
@media only screen and (min-width: 48em) {
}
@media only screen and (min-width: 48em) {
}
@media only screen and (min-width: 48em) {
}
@media only screen and (min-width: 48em) {
}
@media only screen and (min-width: 60.625em) {
}
@media only screen and (min-width: 60.625em) {
}
@media only screen and (min-width: 48em) {
}
@media only screen and (min-width: 60.625em) {
}
article .bodee code { color: rgb(124, 24, 6); font-family: Monaco,monospace,serif; font-size: 1rem; }
article .bodee .lazyload_ad code, article .bodee .lazyload_ad_article code { display: none; }
@media only screen and (min-width: 48em) {
}
@media only screen and (min-width: 60.625em) {
}
@media only screen and (min-width: 48em) {
}
@media only screen and (min-width: 48em) and (max-width: 58.063em) {
}
@media only screen and (min-width: 60.625em) {
}
@media only screen and (min-width: 60.625em) {
}
@media only screen and (min-width: 60.625em) {
}
@media only screen and (min-width: 48em) {
}
@media only screen and (min-width: 48em) {
}
@media only screen and (min-width: 48em) {
}
@media only screen and (min-width: 48em) {
}
article .bodee .pagination { margin: 2rem auto 16px; }
@media only screen and (min-width: 48em) {
  article .bodee .pagination { margin-left: 40px; margin-right: 40px; }
}
@media only screen and (min-width: 48em) and (max-width: 58.063em) {
  article .bodee .pagination { margin: 2rem auto 16px; }
}
@media only screen and (min-width: 60.625em) {
  article .bodee .pagination { margin-left: 0px; margin-right: 0px; }
}
article .bodee .pagination .current-page { display: none; }
article .bodee .pagination .page-numbers { display: inline; }
article .bodee .pagination .page-link.next { border-left: 1px solid rgb(223, 223, 223); padding: 0px 10px; }
@media only screen and (min-width: 48em) {
}
@media only screen and (min-width: 48em) and (max-width: 58.063em) {
}
@media only screen and (min-width: 60.625em) {
}
@media only screen and (min-width: 60.625em) {
}
article .bodee .apart-alt { border-bottom: 1px solid rgb(216, 216, 216); margin: 0px 0px 10px; }
article .bodee .apart-alt:before, article .bodee .apart-alt:after { content: " "; display: table; }
article .bodee .apart-alt:after { clear: both; }
@media only screen and (min-width: 48em) {
  article .bodee .apart-alt { float: left; clear: left; margin: 0px 20px 10px 10px; width: 8.75rem; }
}
@media only screen and (min-width: 60.625em) {
  article .bodee .apart-alt { margin: 0px; }
}
article .bodee .apart-alt.tags { border: 0px none; margin: 0.5rem 10px 0px; padding-top: 0px; width: auto; float: none; }
@media only screen and (min-width: 48em) {
  article .bodee .apart-alt.tags { max-width: 620px; width: 620px; margin: 0.4rem 40px 16px; }
}
@media only screen and (min-width: 48em) and (max-width: 58.063em) {
  article .bodee .apart-alt.tags { margin: 0.4rem auto 16px; }
}
@media only screen and (min-width: 60.625em) {
  article .bodee .apart-alt.tags { margin-left: 0px; }
}
article .bodee .apart-alt.tags:nth-child(2) { display: none; padding: 0px; }
@media only screen and (min-width: 60.625em) {
  article .bodee .apart-alt.tags:nth-child(2) { display: block; margin-bottom: 20px; width: 8.75rem; }
}
article .bodee .apart-alt.tags .related { padding-right: 3px; }
article .bodee .apart-alt.tags ul { display: inline; }
article .bodee .apart-alt.tags ul li { margin: 0.4rem 0.1rem 0px 0px; }
@media only screen and (min-width: 48em) {
}
@media only screen and (min-width: 48em) {
}
@media only screen and (min-width: 48em) {
}
@media only screen and (min-width: 48em) {
}
@media only screen and (min-width: 48em) {
}
@media only screen and (min-width: 48em) {
}
@media only screen and (min-width: 24.0625em) {
}
@media only screen and (min-width: 48em) {
}
@media only screen and (min-width: 60.625em) {
}
@media only screen and (min-width: 48em) {
}
@media only screen and (min-width: 24.0625em) {
}
@media only screen and (min-width: 48em) {
}
@media only screen and (min-width: 60.625em) {
}
@media only screen and (min-width: 48em) {
}
@media only screen and (min-width: 48em) {
}
@media only screen and (min-width: 48em) {
}
@media only screen and (min-width: 48em) {
}
@media only screen and (min-width: 60.625em) {
}
article .bodee div#gpt-pin { position: fixed; bottom: 0px; margin-left: -15px; z-index: 10; display: none; }
@media only screen and (min-width: 48em) {
}
@media only screen and (min-width: 79.75em) {
}
@media only screen and (min-width: 79.75em) {
}
@media only screen and (min-width: 48em) {
}
@media only screen and (min-width: 79.75em) {
}
@media only screen and (min-width: 48em) {
}
@media only screen and (min-width: 48em) {
}
@media only screen and (min-width: 79.75em) {
}
@media only screen and (min-width: 48em) {
}
@media only screen and (min-width: 79.75em) {
}
article #content-recommender { margin: 0px 15px; padding-bottom: 15px; }
@media only screen and (min-width: 60.625em) {
  article #content-recommender { margin-left: 0px; margin-right: 0px; }
}
article .tags ul { list-style: none outside none; padding: 0px; margin: 0px; }
article .tags li { background: none repeat scroll 0% 0% rgb(51, 51, 51); border-radius: 4px 4px 4px 4px; display: inline-block; font-size: 0.85rem; padding: 3px 7px 2px; }
@media only screen and (min-width: 48em) {
  article .tags li { margin: 0.25rem 0px 0px; }
}
article .tags li a { text-decoration: none; }
@media only screen and (min-width: 48em) {
}
@media only screen and (min-width: 48em) and (max-width: 58.063em) {
}
@media only screen and (min-width: 60.625em) {
}
@media only screen and (min-width: 48em) {
}
@media only screen and (min-width: 48em) {
}
@media only screen and (min-width: 48em) {
}
@media only screen and (min-width: 60.625em) {
}
@media only screen and (min-width: 48em) {
}
@media only screen and (min-width: 24.0625em) {
}
@media only screen and (min-width: 48em) {
}
@media only screen and (min-width: 48em) {
}
@media only screen and (min-width: 48em) {
}
@media only screen and (min-width: 60.625em) {
}
@media only screen and (min-width: 60.625em) {
}
article .bodee { position: relative; }
article .bodee #drr-container.cat.no-primary-image { margin-top: 10px; }
@media only screen and (min-width: 48em) {
  article .bodee #drr-container.cat { margin-left: 1.25rem; max-width: calc(100% - 340px); }
}
@media only screen and (min-width: 48em) and (max-width: 58.063em) {
  article .bodee #drr-container.cat { max-width: 620px; margin: 0px auto 16px; }
}
@media only screen and (min-width: 60.625em) {
  article .bodee #drr-container.cat { max-width: 620px; margin: 0px 0px 16px; padding: 0px; }
}
@media only screen and (min-width: 48em) {
  article .bodee #drr-container.cat > p, article .bodee #drr-container.cat h2, article .bodee #drr-container.cat h3, article .bodee #drr-container.cat h4, article .bodee #drr-container.cat h5, article .bodee #drr-container.cat li, article .bodee #drr-container.cat figure.large, article .bodee #drr-container.cat figure.full, article .bodee #drr-container.cat blockquote, article .bodee #drr-container.cat ul, article .bodee #drr-container.cat ol { margin-left: 0px; margin-right: 0px; max-width: 620px; padding: 0px; }
}
@media only screen and (min-width: 48em) and (max-width: 58.063em) {
  article .bodee #drr-container.cat > p, article .bodee #drr-container.cat h2, article .bodee #drr-container.cat h3, article .bodee #drr-container.cat h4, article .bodee #drr-container.cat h5, article .bodee #drr-container.cat li, article .bodee #drr-container.cat figure.large, article .bodee #drr-container.cat figure.full, article .bodee #drr-container.cat blockquote, article .bodee #drr-container.cat ul, article .bodee #drr-container.cat ol { max-width: 620px; margin: 0px auto 16px; padding: 0px; }
}
@media only screen and (min-width: 60.625em) {
  article .bodee #drr-container.cat > p, article .bodee #drr-container.cat h2, article .bodee #drr-container.cat h3, article .bodee #drr-container.cat h4, article .bodee #drr-container.cat h5, article .bodee #drr-container.cat li, article .bodee #drr-container.cat figure.large, article .bodee #drr-container.cat figure.full, article .bodee #drr-container.cat blockquote, article .bodee #drr-container.cat ul, article .bodee #drr-container.cat ol { margin: 0px 0px 16px; padding: 0px; }
}
article .bodee #drr-container.cat h3 { font-size: 1.5rem; line-height: 1.8rem; margin-top: 1.625rem; }
article .bodee #drr-container.cat p, article .bodee #drr-container.cat ul, article .bodee #drr-container.cat ol { font-size: 1.125rem; line-height: 1.875rem; }
@media only screen and (min-width: 24.0625em) {
}
@media only screen and (min-width: 48em) and (max-width: 58.063em) {
}
@media only screen and (min-width: 48em) {
}
@media only screen and (min-width: 48em) {
}
@media only screen and (min-width: 60.625em) {
}
@media only screen and (min-width: 48em) {
}
@media only screen and (min-width: 48em) {
}
@media only screen and (min-width: 48em) {
}
@media only screen and (min-width: 48em) {
}
@media only screen and (min-width: 48em) and (max-width: 58.063em) {
}
@media only screen and (min-width: 48em) and (max-width: 58.063em) {
}
@media only screen and (min-width: 60.625em) {
}
@media only screen and (min-width: 48em) and (max-width: 58.063em) {
}
@media only screen and (min-width: 48em) {
}
@media only screen and (min-width: 48em) and (max-width: 58.063em) {
}
@media only screen and (min-width: 60.625em) {
}
@media only screen and (min-width: 48em) {
}
@media only screen and (min-width: 48em) {
}
@media only screen and (min-width: 48em) and (max-width: 58.063em) {
}
@media only screen and (min-width: 60.625em) {
}
@media only screen and (min-width: 48em) {
}
@media only screen and (min-width: 48em) and (max-width: 58.063em) {
}
@media only screen and (min-width: 60.625em) {
}
@media only screen and (min-width: 48em) {
}
@media only screen and (min-width: 48em) and (max-width: 58.063em) {
}
@media only screen and (min-width: 60.625em) {
}
@media only screen and (min-width: 48em) {
}
@media only screen and (min-width: 48em) and (max-width: 58.063em) {
}
@media only screen and (min-width: 60.625em) {
}
@media only screen and (min-width: 48em) {
}
@media only screen and (min-width: 48em) and (max-width: 58.063em) {
}
@media only screen and (min-width: 60.625em) {
}
article .bodee #drr-container.cat figure figcaption { margin-top: 0.5rem; overflow: hidden; }
@media only screen and (min-width: 48em) {
}
@media only screen and (min-width: 48em) {
}
@media only screen and (min-width: 48em) {
}
article .bodee #drr-container.cat .nativo-promo { overflow: hidden; margin-left: 20px; margin-right: 20px; }
@media only screen and (min-width: 48em) {
  article .bodee #drr-container.cat .nativo-promo { margin: 0px 0px 16px; }
}
@media only screen and (min-width: 60.625em) {
  article .bodee #drr-container.cat .nativo-promo { max-width: 620px; }
}
@media only screen and (min-width: 48em) {
}
@media only screen and (min-width: 48em) {
}
@media only screen and (min-width: 48em) {
}
article .related-promo-wrapper .promo { border-top: 0px none; border-bottom: 0px none; }
article .related-promo-wrapper .promo ul { padding: 0px; }
article .related-promo-wrapper .promo ul li { padding-bottom: 0.75rem; }
article .related-promo-wrapper .promo ul li img { border: 1px solid rgb(232, 232, 232); margin-right: 0.9375rem; }
article .related-promo-wrapper .promo ul li .item-eyebrow { font-size: 0.75rem; }
@media only screen and (min-width: 60.625em) {
  article .related-promo-wrapper .promo ul li.with-image .title { margin-left: 90px; }
}
@media only screen and (min-width: 48em) {
}
@media only screen and (min-width: 48em) and (max-width: 58.063em) {
}
@media only screen and (min-width: 60.625em) {
}
@media only screen and (min-width: 48em) {
}
@media only screen and (min-width: 48em) and (max-width: 58.063em) {
}
@media only screen and (min-width: 60.625em) {
}
.article #cboxPrevious { background-image: url("ss-icons-arrows.png"); background-position: 0px -35px; background-size: 18px auto; }
.article #cboxNext { background-image: url("ss-icons-arrows.png"); background-position: 6px 2px; background-size: 18px auto; }
#video-howto-wrapper { float: right; }
.howto-video { overflow: hidden; margin: 0px 0px 20px; padding: 12px 0px 0px 35px; width: auto; }
@media only screen and (min-width: 48em) {
  .howto-video { padding: 12px 10px 0px 25px; }
}
@media only screen and (min-width: 60.625em) {
  .howto-video { padding: 12px 0px 0px 35px; }
}
.howto-video .howto-video-feature { width: 300px; }
.howto-video .howto-video-feature #video-container-how-to { border: 1px solid rgb(204, 204, 204); overflow: hidden; }
.howto-video .howto-video-feature h3 { font-size: 0.8125rem; margin: 0.75rem 0px 0.25rem; text-transform: uppercase; }
.howto-video .howto-video-feature .video-title { font-size: 0.9375rem; line-height: 1.25rem; }
@media only screen and (min-width: 48em) {
}
@media only screen and (min-width: 60.625em) {
}
@media only screen and (min-width: 48em) {
}
@media only screen and (min-width: 60.625em) {
}
@media only screen and (min-width: 48em) {
}
@media only screen and (min-width: 60.625em) {
}
@media only screen and (min-width: 48em) {
}
@media only screen and (min-width: 48em) {
}
@media only screen and (min-width: 48em) {
}
@media only screen and (min-width: 60.625em) {
}
@media only screen and (min-width: 48em) {
}
@media only screen and (min-width: 48em) {
}
@media only screen and (min-width: 48em) {
}
@media only screen and (min-width: 60.625em) {
}
@media only screen and (min-width: 48em) {
}
@media only screen and (min-width: 48em) {
}
@media only screen and (min-width: 48em) {
}
@media only screen and (min-width: 60.625em) {
}
@media only screen and (min-width: 48em) {
}
@media only screen and (min-width: 60.625em) {
}
@media only screen and (min-width: 48em) {
}
@media only screen and (min-width: 48em) {
}
@media only screen and (min-width: 48em) {
}
@media only screen and (min-width: 48em) {
}
@media only screen and (min-width: 48em) {
}
@media only screen and (min-width: 60.625em) {
}
article .ad { width: 300px; margin: 10px auto; float: none; }
@media only screen and (min-width: 48em) {
  article .ad { float: right; background: none repeat scroll 0px center transparent; text-align: center; width: auto; margin: 0px; }
}
article .ad.placement { margin: 0px auto; }
@media only screen and (min-width: 48em) {
}
@media only screen and (min-width: 48em) {
}
@media only screen and (min-width: 60.625em) {
}
@media only screen and (min-width: 48em) {
  article header.cat { margin-bottom: 0.9375rem; }
}
@media only screen and (min-width: 48em) {
}
@media only screen and (min-width: 48em) and (max-width: 58.063em) {
}
@media only screen and (min-width: 60.625em) {
}
@media only screen and (min-width: 48em) {
}
@media only screen and (min-width: 48em) and (max-width: 58.063em) {
}
@media only screen and (min-width: 48em) {
}
@media only screen and (min-width: 60.625em) {
}
@media only screen and (min-width: 48em) {
}
@media only screen and (min-width: 60.625em) {
}
@media only screen and (min-width: 800px) and (max-width: 919px) {
}
@media only screen and (min-width: 920px) and (max-width: 959px) {
}
@media only screen and (min-width: 48em) {
}
@media only screen and (min-width: 60.625em) {
}
#amazon-bottom-widget { max-width: 620px; margin-left: 16px; margin-right: 16px; }
@media only screen and (min-width: 60.625em) {
  #amazon-bottom-widget { margin-left: 0px; margin-right: 0px; }
}
#amazon-bottom-widget .amzn-custom-header { font-weight: 700; font-size: 1.25rem; line-height: 1.2; color: rgb(34, 34, 34); border-bottom: 1px solid rgb(210, 210, 210); text-transform: uppercase; margin-bottom: 1px; margin-top: 45px; padding-bottom: 2px; }
@media only screen and (min-width: 48em) {
  #amazon-bottom-widget .amzn-custom-header { font-size: 1.563rem; }
}
#comments.temp-message { margin: 30px 5px 0px; padding-bottom: 40px; }
@media only screen and (min-width: 48em) {
  #comments.temp-message { margin-left: 10px; margin-right: 19px; }
}
@media only screen and (min-width: 60.625em) {
  #comments.temp-message { margin-left: 0px; margin-right: 0px; }
}
#comments.temp-message .gig-comments-headerText { font-weight: bold; font-size: 1.5rem; line-height: 1.2; text-transform: uppercase; border-bottom: 1px solid rgb(210, 210, 210); margin-bottom: 15px; padding-top: 15px; margin-left: 10px; margin-right: 10px; padding-bottom: 6px; }
@media only screen and (min-width: 60.625em) {
  #comments.temp-message .gig-comments-headerText { margin-left: 0px; margin-right: 0px; }
}
#comments.temp-message .subhead { font-family: "Helvetica Neue",Arial,Helvetica,sans-serif; font-size: 0.85rem; color: rgb(68, 68, 68); margin-left: 10px; margin-right: 10px; }
@media only screen and (min-width: 60.625em) {
  #comments.temp-message .subhead { margin-left: 0px; margin-right: 0px; }
}
#comments.temp-message .subhead a { color: rgb(37, 167, 215); }
#comments.temp-message .subhead a:hover { color: rgb(68, 68, 68); }
@media only screen and (min-width: 48em) {
}
@media only screen and (min-width: 60.625em) {
}
@media only screen and (min-width: 48em) {
}
@media only screen and (min-width: 48em) and (max-width: 58.063em) {
}
@media only screen and (min-width: 60.625em) {
}
@media only screen and (min-width: 48em) {
}
@media only screen and (min-width: 48em) and (max-width: 58.063em) {
}
@media only screen and (min-width: 60.625em) {
}
@media only screen and (min-width: 48em) {
}
@media only screen and (min-width: 48em) and (max-width: 58.063em) {
}
@media only screen and (min-width: 60.625em) {
}
@media only screen and (min-width: 48em) {
}
@media only screen and (min-width: 48em) and (max-width: 58.063em) {
}
@media only screen and (min-width: 60.625em) {
}
@media only screen and (min-width: 48em) {
}
@media only screen and (min-width: 48em) and (max-width: 58.063em) {
}
@media only screen and (min-width: 60.625em) {
}
@media only screen and (min-width: 48em) {
}
@media only screen and (min-width: 48em) {
}
#sharer { font-family: sans-serif; font-size: 1.375rem; float: right; width: 92px; line-height: 1rem; }
@media only screen and (min-width: 71.25em) {
  #sharer { line-height: normal; opacity: 0; transition: opacity 0.5s ease 0s; }
  #sharer.show { opacity: 1; }
}
#sharer ul { list-style: none outside none; padding: 0px; margin: 0px; }
#sharer ul li { padding: 0px; margin: 0px; display: none; }
@media only screen and (min-width: 48em) {
}
@media only screen and (min-width: 48em) {
}
@media only screen and (min-width: 71.25em) {
}
@media only screen and (min-width: 60.625em) {
}
#sharer ul li.sosh { position: relative; }
#sharer ul li .sidecar-icon { height: 25px; width: 25px; }
#sharer ul li .sidecar-icon:hover { transform: scale(1.2); }
@media only screen and (min-width: 24.0625em) {
  #sharer ul li .sidecar-icon { height: 28px; width: 28px; }
}
#sharer a { text-decoration: none; color: rgb(163, 172, 178); }
@media only screen and (min-width: 71.25em) {
}
@media only screen and (min-width: 71.25em) {
}
@media only screen and (min-width: 71.25em) {
  #sharer { position: absolute; width: 64px; left: -80px; top: 147px; border-bottom: 1px solid rgb(222, 222, 222); background: none repeat scroll 0% 0% rgb(255, 255, 255); z-index: 5000000; }
  #sharer ul li { border-width: 1px 1px 0px; border-style: solid solid none; border-color: rgb(222, 222, 222) rgb(222, 222, 222) -moz-use-text-color; -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; display: inline-block; padding: 15px 10px 10px; }
}
#sharer.sidecar { border: 0px none; float: none; width: 100%; }
@media only screen and (min-width: 48em) {
  #sharer.sidecar { width: calc(100% - 335px); }
}
@media only screen and (min-width: 71.25em) {
  #sharer.sidecar { float: right; width: 64px; }
}
#sharer.sidecar ul li { border: 0px none; display: inline-block; float: left; padding: 0.3125rem 0.3125rem 0.625rem; }
@media only screen and (min-width: 71.25em) {
}
#sharer.sidecar ul li.hide { transition: opacity 1s ease 0s; }
@media only screen and (min-width: 48em) {
  #sharer.sidecar ul li.hide { opacity: 0; padding: 0px; }
}
#sharer.sidecar ul li.hide .sidecar-icon { height: 0px; width: 0px; }
@media only screen and (min-width: 60.625em) {
}
#sharer.sidecar ul li.print { display: none; }
@media only screen and (min-width: 24.0625em) {
  #sharer.sidecar ul li.print { display: inline-block; }
}
@media only screen and (min-width: 24.0625em) {
  #sharer.sidecar ul li { padding: 0.3125rem 0.375rem 0.625rem; }
}
@media only screen and (min-width: 48em) {
  #sharer.sidecar ul.expand li.hide { opacity: 1; padding: 0.3125rem 0.375rem 0.625rem; }
}
#sharer.sidecar ul.expand li.hide .sidecar-icon { height: 25px; width: 25px; }
@media only screen and (min-width: 24.0625em) {
  #sharer.sidecar ul.expand li.hide .sidecar-icon { height: 28px; width: 28px; }
}
@media only screen and (min-width: 71.25em) {
}
.cat-social { margin-left: 5px; }
@media only screen and (min-width: 48em) {
  .cat-social { position: absolute; float: right; right: 0px; margin-top: 25px; margin-right: 10px; z-index: 1; }
}
@media only screen and (min-width: 60.625em) {
  .cat-social { margin-right: 0px; margin-left: 0px; }
}
.cat-social #sharer { left: 0px; }
.cat-social #sharer.sidecar { width: auto; float: none; position: relative; top: 0px; }
@media only screen and (min-width: 48em) {
  .cat-social #sharer.sidecar ul.expand li.hide { padding: 0.3125rem 0.2rem 0.625rem; }
}
.cat-social #sharer.sidecar ul li { float: left; }
@media only screen and (min-width: 48em) {
  .cat-social #sharer.sidecar ul li { padding: 0.3125rem 0.2rem 0.625rem; float: none; }
}
.cat-social #sharer.sidecar ul li:last-child { padding-right: 0px; }
@media only screen and (min-width: 48em) {
}
@media only screen and (min-width: 48em) {
}
@media only screen and (min-width: 48em) {
}
@media only screen and (min-width: 60.625em) {
}
@media only screen and (min-width: 48em) {
}
@media only screen and (min-width: 48em) {
}
@media only screen and (min-width: 71.25em) {
}
.eml-friend, .eml-ty, .eml-friend-error { position: relative; margin: 5% auto 0px; border: 1px solid rgb(22, 22, 29); background-color: rgb(255, 255, 255); width: 80%; min-height: 30rem; padding-bottom: 20px; font-size: 0.875rem; }
@media only screen and (min-width: 71.25em) {
  .eml-friend, .eml-ty, .eml-friend-error { width: 48%; }
}
.eml-friend hr, .eml-ty hr, .eml-friend-error hr { margin: 0.6875rem 0px; clear: both; }
.eml-friend h3, .eml-ty h3, .eml-friend-error h3 { font-size: 1.7rem; margin: 1rem 2rem 1.5rem; }
.eml-friend .input-row, .eml-ty .input-row, .eml-friend-error .input-row { overflow: hidden; margin: 0.5rem 2rem; }
.eml-friend .input-row .input-label, .eml-ty .input-row .input-label, .eml-friend-error .input-row .input-label { float: left; margin: 0px; }
.eml-friend .input-row input, .eml-friend .input-row textarea, .eml-ty .input-row input, .eml-ty .input-row textarea, .eml-friend-error .input-row input, .eml-friend-error .input-row textarea { display: block; float: right; width: 80%; border: 1px solid rgb(222, 222, 222); border-radius: 0.18rem 0.18rem 0.18rem 0.18rem; background-color: rgb(255, 255, 255); margin: 0px 5px; padding: 6px; outline: 0px none; box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.15) inset; }
.eml-friend .input-row input:focus, .eml-friend .input-row textarea:focus, .eml-ty .input-row input:focus, .eml-ty .input-row textarea:focus, .eml-friend-error .input-row input:focus, .eml-friend-error .input-row textarea:focus { background-color: rgb(243, 249, 254); }
.eml-friend .input-row .addl-text, .eml-ty .input-row .addl-text, .eml-friend-error .input-row .addl-text { font-size: 0.6875rem; color: rgb(153, 153, 153); text-align: right; margin: 0.25rem 0px 0px; clear: both; }
.eml-friend .submit, .eml-ty .submit, .eml-friend-error .submit { overflow: hidden; margin: 0.5rem 2rem; }
.eml-friend .submit input, .eml-ty .submit input, .eml-friend-error .submit input { float: left; margin-left: 15%; width: 20%; }
.eml-friend .submit .submit-privacy, .eml-ty .submit .submit-privacy, .eml-friend-error .submit .submit-privacy { float: left; width: 18%; font-size: 0.6875rem; text-decoration: none; font-style: italic; text-align: right; margin-top: 0.6875rem; }
.eml-friend .msg-sent, .eml-ty .msg-sent, .eml-friend-error .msg-sent { font-style: italic; margin: 0px 2rem; font-size: 1rem; }
@media only screen and (min-width: 48em) {
  .eml-friend #recaptcha_widget_div, .eml-ty #recaptcha_widget_div, .eml-friend-error #recaptcha_widget_div { width: 82%; float: right; }
}
.eml-friend .error-msg, .eml-ty .error-msg, .eml-friend-error .error-msg { color: rgb(255, 0, 0); margin-bottom: 10px; }
@media only screen and (min-width: 48em) {
}
@media only screen and (min-width: 60.625em) {
}
@media only screen and (min-width: 48em) {
}
@media only screen and (min-width: 60.625em) {
}
@media only screen and (min-width: 60.625em) {
}
@media only screen and (min-width: 60.625em) {
}
@media only screen and (min-width: 48em) {
}
@media only screen and (min-width: 60.625em) {
}
@media only screen and (min-width: 60.625em) {
}
@media only screen and (min-width: 48em) {
}
@media only screen and (min-width: 60.625em) {
}
@media only screen and (min-width: 60.625em) {
}
@media only screen and (min-width: 60.625em) {
}
@media only screen and (min-width: 48em) {
}
@media only screen and (min-width: 60.625em) {
}
.byline { clear: left; margin: 0px 10px; }
@media only screen and (min-width: 48em) {
  .byline { width: calc(100% - 345px); margin-bottom: 2rem; height: 70px; position: relative; }
}
@media only screen and (min-width: 60.625em) {
  .byline { margin-left: 0px; }
}
.byline .byline-wrapper { border-top: 1px solid rgb(218, 218, 218); border-bottom: 1px solid rgb(218, 218, 218); margin-left: 0px; padding: 0.5rem 0px; }
.byline.cat { width: auto; margin-top: 10px; margin-bottom: 0px; }
@media only screen and (min-width: 48em) {
  .byline.cat { border-top: 1px solid rgb(222, 222, 222); float: left; width: 97.5%; margin-bottom: 2rem; margin-top: 0px; height: auto; }
}
@media only screen and (min-width: 60.625em) {
  .byline.cat { width: 100%; }
}
.byline.cat .byline-wrapper { border-bottom: 0px none; border-top: 0px none; height: auto; }
@media only screen and (min-width: 48em) {
}
@media only screen and (min-width: 48em) {
}
.byline p { font-size: 0.875rem; padding: 0px; margin: 0px; }
.byline p span.divider { color: rgb(222, 222, 222); padding: 0px 0.3rem; font-weight: 400; }
@media only screen and (min-width: 60.625em) {
}
.byline p.name { display: inline-block; font-size: 1rem; line-height: 1rem; }
@media only screen and (min-width: 48em) {
  .byline p.name { font-size: 1.1rem; }
}
.byline p.dateline { margin-top: 3px; }
@media only screen and (min-width: 60.625em) {
}
@media only screen and (min-width: 48em) {
}
@media only screen and (min-width: 48em) {
}
@media only screen and (min-width: 60.625em) {
}
@media only screen and (min-width: 48em) {
}
@media only screen and (min-width: 48em) {
}
nav.breadcrumbs { display: none; }
@media only screen and (min-width: 60.625em) {
  nav.breadcrumbs { display: block; padding: 0px 10px 0px 0px; margin: 5px 0px; }
}
nav.breadcrumbs ul li { font-size: 0.85rem; padding-right: 5px; }
nav.breadcrumbs ul li:after { content: " > "; padding-left: 5px; }
nav.breadcrumbs ul li:last-child:after { content: ""; }
nav.breadcrumbs ul li a { text-decoration: none; }
@media only screen and (min-width: 48em) {
}
@media only screen and (min-width: 60.625em) {
}
@media only screen and (min-width: 48em) {
}
@media only screen and (min-width: 48em) {
}
@media only screen and (min-width: 48em) {
}
@media only screen and (min-width: 60.625em) {
}
@media only screen and (min-width: 48em) {
}
@media only screen and (min-width: 60.625em) {
}
@media only screen and (min-width: 24.0625em) {
}
@media only screen and (min-width: 48em) {
}
@media only screen and (min-width: 60.625em) {
}
#colorbox, #cboxOverlay { position: absolute; top: 0px; left: 0px; z-index: 9999; overflow: hidden; }
#cboxWrapper { position: absolute; top: 0px; left: 0px; z-index: 9999; overflow: hidden; max-width: none; }
#cboxOverlay { position: fixed; width: 100%; height: 100%; }
#cboxMiddleLeft, #cboxBottomLeft { clear: left; }
#cboxContent { position: relative; }
#cboxTitle { margin: 0px; }
#cboxLoadingOverlay, #cboxLoadingGraphic { position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; }
#cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow { cursor: pointer; }
#colorbox, #cboxContent, #cboxLoadedContent { box-sizing: content-box; }
#cboxOverlay { background-color: rgb(255, 255, 255); opacity: 0.7 ! important; z-index: 6000000; }
#colorbox { outline: 0px none; z-index: 6000000; }
#cboxWrapper { background-color: rgb(255, 255, 255); opacity: 1; }
#cboxTopLeft, #cboxTopRight, #cboxBottomLeft, #cboxBottomRight, #cboxMiddleLeft, #cboxMiddleRight, #cboxTopCenter, #cboxBottomCenter { background-image: none; }
#cboxTopLeft { width: 0.8rem; height: 0.8rem; }
#cboxTopRight { width: 0.8rem; height: 0.8rem; }
#cboxBottomLeft { width: 0.8rem; height: 0.8rem; }
#cboxBottomRight { width: 0.8rem; height: 0.8rem; }
#cboxMiddleLeft { width: 0.8rem; }
#cboxMiddleRight { width: 0.8rem; }
#cboxTopCenter { height: 0.8rem; }
#cboxBottomCenter { height: 0.8rem; }
#cboxContent { background: none repeat scroll 0% 0% rgb(255, 255, 255); overflow: hidden; }
#cboxTitle, #cboxCurrent { font-family: Helvetica,Arial,sans-serif; font-size: 0.875rem; line-height: 1.125rem; }
#cboxTitle { position: absolute; bottom: 4px; left: 185px; text-align: left; color: rgb(148, 148, 148); }
#cboxCurrent { position: absolute; bottom: 4px; left: 58px; color: rgb(148, 148, 148); }
#cboxLoadingOverlay { background: url("loading_background.png") no-repeat scroll center center transparent; }
#cboxLoadingGraphic { background: url("loading.gif") no-repeat scroll center center transparent; }
#cboxPrevious, #cboxNext, #cboxSlideshow, #cboxClose { border: 0px none; padding: 0px; margin: 0px; overflow: visible; width: auto; background: none repeat scroll 0px center transparent; }
#cboxPrevious:active, #cboxNext:active, #cboxSlideshow:active, #cboxClose:active { outline: 0px none; }
#cboxSlideshow { position: absolute; bottom: 4px; right: 30px; color: rgb(0, 146, 239); }
#cboxPrevious { position: absolute; bottom: 0px; left: 0px; background-image: url("ss-standard-icon-sprite-7items.svg"); background-size: 25px auto; background-position: 0px -225px; background-repeat: no-repeat; width: 25px; height: 25px; text-indent: -9999px; }
#cboxPrevious:hover { opacity: 0.5; }
#cboxNext { position: absolute; bottom: 0px; left: 27px; background-image: url("ss-standard-icon-sprite-7items.svg"); background-size: 25px auto; background-position: 0px -189px; background-repeat: no-repeat; width: 25px; height: 25px; text-indent: -9999px; }
#cboxNext:hover { opacity: 0.5; }
@media only screen and (min-width: 48em) {
}
@media only screen and (min-width: 60.625em) {
}
@media only screen and (min-width: 48em) {
}
@media only screen and (min-width: 48em) {
}
@media only screen and (min-width: 48em) {
}
@media only screen and (min-width: 60.625em) {
}
@media only screen and (min-width: 48em) {
}
@media only screen and (min-width: 48em) {
}
@media only screen and (min-width: 48em) {
}
@media only screen and (min-width: 60.625em) {
}
@media only screen and (min-width: 48em) {
}
@media only screen and (min-width: 60.625em) {
}
@media only screen and (min-width: 48em) {
}
@media only screen and (min-width: 48em) {
}
@media only screen and (min-width: 48em) {
}
@media only screen and (min-width: 48em) {
}
@media only screen and (min-width: 48em) {
}
@media only screen and (min-width: 60.625em) {
}
@media only screen and (min-width: 48em) {
}
@media only screen and (min-width: 48em) {
}
@media only screen and (min-width: 60.625em) {
}
@media only screen and (min-width: 48em) {
}
@media only screen and (min-width: 48em) {
}
@media only screen and (min-width: 60.625em) {
}
@media only screen and (min-width: 48em) {
}
@media only screen and (min-width: 60.625em) {
}
@media only screen and (min-width: 60.625em) {
}
@media only screen and (min-width: 60.625em) {
}
@media only screen and (min-width: 60.625em) {
}
@media only screen and (min-width: 79.75em) {
}
@media only screen and (min-width: 79.75em) {
}
@media only screen and (min-width: 79.75em) {
}
@media only screen and (min-width: 79.75em) {
}
@media only screen and (min-width: 60.625em) {
}
@media only screen and (min-width: 79.75em) {
}
@media only screen and (min-width: 60.625em) {
}
@media only screen and (min-width: 79.75em) {
}
