/* Code tidied up by ScrapBook */
#colorbox, #cboxOverlay, #cboxWrapper { position: absolute; top: 0px; left: 0px; z-index: 9999; overflow: visible; }
#cboxOverlay { position: fixed; width: 100%; height: 100%; }
#cboxMiddleLeft, #cboxBottomLeft { clear: left; }
#cboxContent { position: relative; }
#cboxTitle { margin: 0px; }
#cboxLoadingOverlay, #cboxLoadingGraphic { position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; }
#cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow { cursor: pointer; }
#colorbox, #cboxContent, #cboxLoadedContent { box-sizing: content-box; }
#cboxOverlay { background: url("overlay.png") repeat scroll 0px 0px transparent; }
#colorbox { outline: 0px none; }
#cboxTopLeft { width: 21px; height: 21px; background: url("controls.png") no-repeat scroll -101px 0px transparent; }
#cboxTopRight { width: 21px; height: 21px; background: url("controls.png") no-repeat scroll -130px 0px transparent; }
#cboxBottomLeft { width: 21px; height: 21px; background: url("controls.png") no-repeat scroll -101px -29px transparent; }
#cboxBottomRight { width: 21px; height: 21px; background: url("controls.png") no-repeat scroll -130px -29px transparent; }
#cboxMiddleLeft { width: 21px; background: url("controls.png") repeat-y scroll left top transparent; }
#cboxMiddleRight { width: 21px; background: url("controls.png") repeat-y scroll right top transparent; }
#cboxTopCenter { height: 21px; background: url("border.png") repeat-x scroll 0px 0px transparent; }
#cboxBottomCenter { height: 21px; background: url("border.png") repeat-x scroll 0px -29px transparent; }
#cboxContent { background: none repeat scroll 0% 0% rgb(255, 255, 255); overflow: visible; }
#cboxTitle { position: absolute; bottom: 4px; left: 0px; text-align: left; color: rgb(148, 148, 148); margin-left: 175px; margin-right: 35px; width: calc(100% - 210px); }
#cboxCurrent { position: absolute; bottom: 4px; left: 58px; color: rgb(148, 148, 148); }
#cboxLoadingOverlay { background: url("loading_background_001.png") no-repeat scroll center center transparent; }
#cboxLoadingGraphic { background: url("loading_001.gif") no-repeat scroll center center transparent; }
#cboxPrevious, #cboxNext, #cboxSlideshow, #cboxClose { border: 0px none; padding: 0px; margin: 0px; overflow: visible; width: auto; background: none repeat scroll 0px center transparent; }
#cboxPrevious:active, #cboxNext:active, #cboxSlideshow:active, #cboxClose:active { outline: 0px none; }
#cboxSlideshow { position: absolute; bottom: 4px; right: 30px; color: rgb(0, 146, 239); }
#cboxPrevious { position: absolute; bottom: 0px; left: 0px; background: url("controls.png") no-repeat scroll -75px 0px transparent; width: 25px; height: 25px; text-indent: -9999px; }
#cboxPrevious:hover { background-position: -75px -25px; }
#cboxNext { position: absolute; bottom: 0px; left: 27px; background: url("controls.png") no-repeat scroll -50px 0px transparent; width: 25px; height: 25px; text-indent: -9999px; }
#cboxNext:hover { background-position: -50px -25px; }
