/* Code tidied up by ScrapBook */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; }
[hidden] { display: none; }
html { font-size: 100%; }
html, button, input, select, textarea { font-family: sans-serif; color: rgb(34, 34, 34); }
body { margin: 0px; font-size: 1em; line-height: 1.4; }
body.pcworld *::-moz-selection { background: none repeat scroll 0% 0% rgb(172, 31, 43); color: rgb(255, 255, 255); text-shadow: none; }
a { color: rgb(0, 0, 238); }
a:visited { color: rgb(85, 26, 139); }
a:hover { color: rgb(0, 102, 238); }
a:focus { outline: thin dotted; }
a:hover, a:active { outline: 0px none; }
b, strong { font-weight: bold; }
hr { display: block; height: 1px; border-right: 0px none; border-width: 1px 0px 0px; border-style: solid none none; border-color: rgb(204, 204, 204) -moz-use-text-color -moz-use-text-color; -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; margin: 1em 0px; padding: 0px; }
pre, code, htmlcode, kbd, samp { font-family: monospace,serif; font-size: 1em; }
small { font-size: 85%; }
ul, ol { margin: 1em 0px; padding: 0px 0px 0px 40px; }
nav ul, nav ol { list-style: none outside none; margin: 0px; padding: 0px; }
img { border: 0px none; vertical-align: middle; }
figure { margin: 0px; }
form { margin: 0px; }
button, input, select, textarea { font-size: 100%; margin: 0px; vertical-align: baseline; }
button, input { line-height: normal; }
button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; }
input[type="search"] { box-sizing: content-box; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0px none; padding: 0px; }
textarea { overflow: auto; vertical-align: top; resize: vertical; }
input:invalid, textarea:invalid { background-color: rgb(240, 221, 221); }
.hmenu { list-style: none outside none; padding: 0px; margin: 0px; }
.hmenu li { border-left: 1px solid rgb(204, 204, 204); display: inline; list-style: none outside none; padding: 0px 3px 0px 6px; }
.hmenu li:first-child, .hmenu li.first { border-left: 0px none; padding-left: 0px; }
.fmenu { float: left; margin: 0px; padding: 0px; width: auto; }
.fmenu li { float: left; list-style: none outside none; width: auto; padding-left: 10px; }
.fmenu a { display: block; float: left; width: auto; }
* { box-sizing: border-box; }
#page-wrapper { position: relative; margin: 0px auto; background: none repeat scroll 0% 0% rgb(255, 255, 255); }
