/* Code tidied up by ScrapBook */
body { font-family: "Helvetica Neue",Arial,sans-serif; font-size: 14px; }
h1, h2, h3, h4, h5, h6 { margin-top: 1em; margin-bottom: 0.25em; }
p { line-height: 1.7em; margin: 0px 0px 0.7em; }
li { line-height: 1.45em; }
a, a:visited { color: rgb(37, 167, 215); text-decoration: none; }
a:hover { color: rgb(68, 68, 68); text-decoration: none; }
@font-face {
  font-family: "usmedia-icons";
  font-style: normal;
  font-weight: normal;
  src: url("usmedia-icons.eot") format("embedded-opentype"), url("usmedia-icons_001.woff") format("woff"), url("usmedia-icons_001.ttf") format("truetype"), url("usmedia-icons_001.svg") format("svg");
}
.hmenu li { line-height: 1.1; }
#banner-search-term.inactive { color: rgb(77, 78, 78); font-size: 14px; }
#saved-comparisons { color: rgb(102, 102, 102); font-size: 11px; text-transform: uppercase; }
#panel-nav a { color: rgb(255, 255, 255); font-weight: 500; text-align: center; text-decoration: none; text-transform: uppercase; }
#site-nav a { color: rgb(255, 255, 255); font-weight: 200; text-decoration: none; text-transform: uppercase; text-rendering: optimizelegibility; white-space: nowrap; }
#site-nav a.active, #site-nav a:hover { background-color: rgb(41, 41, 41); }
#extra-nav li a { color: rgb(51, 51, 51); }
article { font-size: 16px; }
.related { margin-top: 6px; margin-right: 6px; float: left; font-family: "facitweb",sans-serif; font-size: 14px; line-height: 1; font-weight: 500; }
article h1 { color: rgb(34, 34, 34); font-size: 44px; font-weight: 500; line-height: 1.13; }
article h3 { font-size: 1.17em; }
.network-col a { color: rgb(51, 51, 51); text-decoration: none; float: left; }
.network-col { font-size: 18px; font-weight: 500; }
#footer { color: rgb(172, 173, 173); font-size: 14px; font-weight: 500; }
#footer a { color: rgb(222, 224, 224); text-decoration: none; }
#footer a:hover { color: rgb(34, 34, 34); text-decoration: none; }
#footer h2, #footer h3 { color: rgb(34, 34, 34); }
#footer-subscribe h2 { color: rgb(174, 174, 174); font-size: 20px; font-weight: 500; }
#footer-social { font-size: 18px; color: rgb(222, 224, 224); height: 33px; vertical-align: middle; line-height: 33px; margin-bottom: 30px; }
#footer p small { line-height: 3em; }
a .btn-link, a.btn-link, button, input[type="submit"], input[type="button"] { color: rgb(255, 255, 255); font-size: 14px; font-weight: 700; text-decoration: none; text-transform: uppercase; }
@media only screen and (min-width: 320px) and (max-width: 767px) {
}
.pagination { text-align: center; }
@media only screen and (min-width: 320px) and (max-width: 767px) {
  #site-nav a { font-size: 12px; }
  article h1, body.pcworld article h1 { font-size: 27px; margin-top: 10px; }
  #loginModal { font-size: 0.8em; }
}
@media only screen and (min-width: 1024px) and (max-width: 1024px) {
}
@media not all {
}
@media only screen and (min-width: 768px) and (max-width: 768px) {
}
