/* Code tidied up by ScrapBook */
#logo { top: 15px; }
#panel-nav a { border-right: 1px solid rgb(87, 87, 88); }
#site-nav li:nth-last-child(2) { border-right: 0px none; }
#site-nav a { padding: 12px 10px 10px; }
#panel-nav a { padding: 12px 10px 10px; }
#extra-nav-toggle { background: none repeat scroll 0% 0% rgb(129, 130, 133); }
#extra-nav { font-family: "facitweb",sans-serif; }
#superadunit .topbar { background-color: rgb(143, 13, 16); }
article figure figcaption, article figure figcaption small { font-size: 14px; font-family: "facitweb",sans-serif; }
.subscribe-hover { left: -113px; font-size: 18px; }
#heroLogin li { border-color: rgb(172, 31, 43); }
.network-header { font-family: 'facitweb',sans-serif; }
#banner-search-submit { background: -moz-linear-gradient(center top , rgb(172, 31, 43) 0px, rgb(139, 19, 30) 100%) repeat scroll 0% 0% transparent; }
#content-recommender .head { font-family: "facitweb",sans-serif; text-transform: uppercase; }
@media only screen and (min-width: 320px) and (max-width: 767px) {
  #banner #logo a.banner-logo { background: url("pcworld_logo-final.svg") no-repeat scroll 0px 0px transparent; width: 127px; }
  #site-nav a { padding: 0px; }
  body .network-header { display: none; }
}
@media only screen and (min-width: 768px) and (max-width: 768px) {
  #site-nav a { padding: 12px 14px 10px; }
}
@media all and (min-width: 768px) {
}
@media only screen and (min-width: 769px) {
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  #banner #logo a.banner-logo { background: url("pcworld_logo-final.svg") no-repeat scroll 0px 0px transparent; width: 127px; height: 32px; }
}
