/* Code tidied up by ScrapBook */
#page-top { background-color: rgb(143, 13, 16); }
#logo a.banner-logo { background: url("pcworld_logo-final.svg") no-repeat scroll 0px 0px transparent; }
#magGlassClick { color: rgb(143, 13, 16); }
#saved-comparisons { background-color: rgb(51, 51, 51); }
#panel-nav a { background: none repeat scroll 0% 0% rgb(64, 64, 65); }
#panel-nav a:hover { background: none repeat scroll 0% 0% rgb(34, 34, 34); }
a .btn-link, a.btn-link, button, input[type="submit"], input[type="button"] { background: -moz-linear-gradient(center top , rgb(172, 31, 43) 0px, rgb(139, 19, 30) 100%) repeat scroll 0% 0% transparent; }
a.btn-link:hover, a:hover .btn-link, button:hover, input[type="submit"]:hover, input[type="button"]:hover { background: -moz-linear-gradient(center top , rgb(139, 19, 30) 0px, rgb(172, 31, 43) 100%) repeat scroll 0% 0% transparent; }
