/* Code tidied up by ScrapBook */
#page-wrapper { background: none repeat scroll 0% 0% rgb(255, 255, 255); }
#extra-nav { background: none repeat scroll 0% 0% rgb(255, 255, 255); box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.5); }
#extra-nav ul { border-left: 1px solid rgb(204, 204, 204); }
#extra-nav ul:nth-child(2n) li a { background: none repeat scroll 0% 0% rgb(232, 239, 243); }
#network { background: none repeat scroll 0% 0% rgb(231, 231, 231); }
#footer { background: -moz-linear-gradient(center top , rgb(48, 48, 48) 0px, rgb(77, 78, 78) 1%, rgb(69, 70, 70) 99%, rgb(51, 51, 51) 100%) repeat scroll 0% 0% transparent; }
#footer-logo-pcw { background: url("pcworld_logo-final.svg") no-repeat scroll 0px 0px transparent; }
#footer-subscribe { background: none repeat scroll 0% 0% rgb(34, 34, 34); }
#main, article { background: none repeat scroll 0% 0% rgb(255, 255, 255); }
@media only screen and (min-width: 320px) and (max-width: 767px) {
  #section-nav a, #site-nav a, body.news #panel-nav a#whatsHotNav, body.reviews #panel-nav a#reviewsNav, body.howto #panel-nav a#howtoNav, #site-nav a, #section-nav a, body.pcworld #site-nav a, body.pcworld #section-nav a, body.macworld #site-nav a, body.macworld #section-nav a { background: none repeat scroll 0px center transparent; }
}
@media only screen and (max-width: 768px) {
}
@media only screen and (min-width: 768px) and (max-width: 768px) {
}
@media not all, only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-resolution: 240dpi) {
}
