/* Code tidied up by ScrapBook */
h1, h2, h3, h4, h5, h6 { font-family: "facitweb",sans-serif; }
#banner-search-term.inactive { font-family: "facitweb",sans-serif; }
#saved-comparisons { font-family: "facitweb",sans-serif; }
#panel-nav a { font-family: "facitweb",sans-serif; font-size: 13px; }
#site-nav a { font-family: "facitweb",sans-serif; font-size: 13px; }
#extra-nav { font-family: "facitweb",sans-serif; }
#extra-nav li a:hover { color: rgb(185, 26, 22); }
article { font-size: 15px; }
article h1 { font-family: "facitweb",sans-serif; font-size: 38px; }
.network-col { font-family: "facitweb",sans-serif; }
#footer { font-family: "facitweb",sans-serif; }
a .btn-link, a.btn-link, button, input[type="submit"], input[type="button"] { font-family: "facitweb",sans-serif; }
.pagination { font-family: "facitweb",sans-serif; }
@media only screen and (min-width: 320px) and (max-width: 767px) {
}
@media only screen and (min-width: 769px) and (max-width: 990px) {
  #site-nav a, #panel-nav a { font-size: 12px; }
}
@media only screen and (min-width: 48em) {
}
