/* Code tidied up by ScrapBook */
#footer-subscribe h2 { clear: none; }
#footer-subscribe.clearfix { overflow: visible; }
@media only screen and (min-width: 769px) {
}
@media only screen and (min-width: 768px) and (max-width: 768px) {
  body #logo a.banner-logo { width: 192px; }
  body.pcworld #logo a.banner-logo { width: 192px; }
  #panel-nav li { width: 192px; }
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  #banner-search-term { width: 155px; }
  #tso { width: 95%; margin: 10px 0px 20px 7px; display: inline-block; }
  #tso ul { float: none; }
  #tso ul li { float: none; width: 100%; margin-right: 0px; }
}
@media only screen and (min-width: 1024px) and (max-width: 1024px) {
  #banner { padding: 0px 23px; }
}
@media only screen and (max-width: 768px) and (min-width: 1px) {
}
#page-top { z-index: 3; position: relative; }
#gpt-infunnel { text-align: center; position: fixed; bottom: 0px; z-index: 5000; margin: 0px auto; width: 100%; }
