/* Code tidied up by ScrapBook */
@charset "UTF-8";
@font-face {
  font-family: "SSSocial";
  font-style: normal;
  font-weight: bold;
  src: url("ss-social-circle.eot") format("embedded-opentype"), url("ss-social-circle.woff") format("woff"), url("ss-social-circle.ttf") format("truetype"), url("ss-social-circle.svg") format("svg");
}
@font-face {
  font-family: "SSSocial";
  font-style: normal;
  font-weight: normal;
  src: url("ss-social-regular.eot") format("embedded-opentype"), url("ss-social-regular.woff") format("woff"), url("ss-social-regular.ttf") format("truetype"), url("urn:scrapbook-download-error:http://www.pcworld.com/www.idgcsmb/webfonts/ss-social-regular.svg#SSSocialRegular") format("svg");
}
.ss-icon, .ss-icon.ss-social, .ss-icon.ss-social-circle, [class^="ss-"]:before, [class*=" ss-"]:before, [class^="ss-"][class*=" ss-social"]:before, [class*=" ss-"][class*=" ss-social"]:before, .right[class^="ss-"]:after, .right[class*=" ss-"]:after, .right[class^="ss-"][class*=" ss-social"]:after, .right[class*=" ss-"][class*=" ss-social"]:after { font-family: "SSSocial"; font-style: normal; font-weight: normal; text-decoration: none; text-rendering: optimizelegibility; white-space: nowrap; -moz-font-feature-settings: "liga"; }
.ss-icon.ss-social-circle, .ss-social-circle[class^="ss-"]:before, .ss-social-circle[class*=" ss-"]:before, .ss-social-circle.right[class^="ss-"]:after, .ss-social-circle.right[class*=" ss-"]:after { font-weight: bold; }
