/* Code tidied up by ScrapBook */
@charset "UTF-8";
@font-face {
  font-family: "SSStandard";
  font-style: normal;
  font-weight: normal;
  src: url("ss-standard.eot") format("embedded-opentype"), url("ss-standard.woff") format("woff"), url("ss-standard.ttf") format("truetype"), url("ss-standard.svg") format("svg");
}
.ss-icon, .ss-icon.ss-standard, [class^="ss-"]:before, [class*=" ss-"]:before, .ss-standard[class^="ss-"]:before, .ss-standard[class*=" ss-"]:before, .right[class^="ss-"]:after, .right[class*=" ss-"]:after, .ss-standard.right[class^="ss-"]:after, .ss-standard.right[class*=" ss-"]:after { font-family: "SSStandard"; font-style: normal; font-weight: normal; text-decoration: none; text-rendering: optimizelegibility; white-space: nowrap; -moz-font-feature-settings: "liga"; }
.ss-search:before, .ss-search.right:after { content: "🔎"; }
.ss-play:before, .ss-play.right:after { content: "▶"; }
.ss-rows:before, .ss-rows.right:after { content: ""; }
.ss-delete:before, .ss-delete.right:after { content: "␡"; }
.ss-navigateright:before, .ss-navigateright.right:after { content: "▻"; }
.ss-dropdown:before, .ss-dropdown.right:after { content: "▾"; }
