/* Code tidied up by ScrapBook */
.video-wrapper { height: 0px; padding-bottom: 56.25%; position: relative; width: 100%; }
.video-wrapper .video-js, .embed-wrapper .video-js { height: 100% ! important; position: absolute; top: 0px; width: 100% ! important; }
@media only screen and (min-width: 1px) and (max-width: 767px) {
}
