/* Code tidied up by ScrapBook */
.mdg-comment, .mdg-infobox { margin-left: 1em; padding: 7px; border: 1px solid rgb(170, 170, 170); background-color: rgb(232, 232, 232); }
div.preformat-panel { text-transform: uppercase; font-size: 9px; font-family: tahoma,arial,sans-serif; font-weight: bold; margin-left: 1em; border-width: 1px 1px 0px; border-style: dashed; border-color: black; background-color: rgb(221, 221, 221); padding: 3px; }
