/* Code tidied up by ScrapBook */
@font-face {
  font-family: "Museo500Regular";
  font-style: normal;
  font-weight: normal;
  src: url("Museo500-Regular-webfont.eot") format("embedded-opentype"), url("Museo500-Regular-webfont.woff") format("woff");
}
