/* Code tidied up by ScrapBook */
.avPlayerWrapper div, .avPlayerWrapper iframe, .avPlayerWrapper object, .avPlayerWrapper embed { outline: 0px none; }
.avPlayerWrapper { display: block; text-align: center; clear: both; }
.avPlayerWrapper .avPlayerContainer { display: block; padding: 0px; margin: 0px auto; }
.avVideo .avPlayerContainer .avPlayerBlock { width: 100% ! important; position: relative ! important; padding: 0px 0px 56% ! important; }
.avVideo .avPlayerContainer .avPlayerBlock iframe, .avVideo .avPlayerContainer .avPlayerBlock object, .avVideo .avPlayerContainer .avPlayerBlock embed, .avVideo .avPlayerContainer .avPlayerBlock video, .avVideo .avPlayerContainer .avPlayerBlock > div { position: absolute ! important; top: 0px; left: 0px; min-width: 320px ! important; width: 100% ! important; height: 100% ! important; }
