/* Code tidied up by ScrapBook */
meta.foundation-mq-small { font-family: "/only screen/"; width: 0px; }
meta.foundation-mq-small-only { font-family: "/only screen and (max-width: 37.438em)/"; width: 0px; }
meta.foundation-mq-medium { font-family: "/only screen and (min-width:37.5em)/"; width: 37.5em; }
meta.foundation-mq-medium-only { font-family: "/only screen and (min-width:37.5em) and (max-width:49.938em)/"; width: 37.5em; }
meta.foundation-mq-large { font-family: "/only screen and (min-width:50em)/"; width: 50em; }
meta.foundation-mq-large-only { font-family: "/only screen and (min-width:50em) and (max-width:63.9em)/"; width: 50em; }
meta.foundation-mq-xlarge { font-family: "/only screen and (min-width:64em)/"; width: 64em; }
meta.foundation-mq-xlarge-only { font-family: "/only screen and (min-width:64em) and (max-width:66.25em)/"; width: 64em; }
meta.foundation-mq-xxlarge { font-family: "/only screen and (min-width:66.3em)/"; width: 66.3em; }
meta.foundation-data-attribute-namespace { font-family: false; }
body, html { height: 100%; }
html { box-sizing: border-box; }
*, *::after, *::before { box-sizing: inherit; }
body, html { font-size: 16px; }
body { background: rgb(255, 255, 255) none repeat scroll 0% 0%; color: rgb(34, 34, 34); cursor: auto; font-family: "ProximaNovaCond",sans-serif; font-style: normal; font-weight: normal; line-height: 24px; margin: 0px; padding: 0px; position: relative; }
a:hover { cursor: pointer; }
img { max-width: 100%; height: auto; }
.left { float: left ! important; }
.right { float: right ! important; }
.clearfix::after, .clearfix::before { content: " "; display: table; }
.clearfix::after { clear: both; }
.hide { display: none; }
.invisible { visibility: hidden; }
img { display: inline-block; vertical-align: middle; }
@media only screen {
}
@media only screen and (min-width: 37.5em) {
}
@media only screen and (min-width: 50em) {
}
@media only screen and (max-width: 1024px) {
}
@media only screen and (min-width: 64em) {
}
.svg-icon { width: 18px; height: 18px; margin-top: -4.5px; display: inline-block; vertical-align: middle; opacity: 0.3; pointer-events: none; }
.svg-icon.stroked { fill: none; stroke: rgb(0, 0, 0); }
@media only screen and (min-width: 50em) {
}
@media only screen and (min-width: 50em) {
}
@media only screen and (min-width: 50em) {
}
.u-prepended .svg-icon { margin-right: 15px; }
@media only screen and (min-width: 50em) {
  .u-prepended .svg-icon { margin-right: 9.9px; }
}
@media only screen and (min-width: 50em) {
}
@media only screen and (min-width: 50em) {
}
@media only screen and (min-width: 50em) {
}
@media only screen and (min-width: 50em) {
}
@media only screen and (min-width: 50em) {
}
@media only screen and (min-width: 50em) {
}
@media only screen and (min-width: 50em) {
}
@media only screen and (min-width: 50em) {
}
@media only screen and (min-width: 50em) {
}
@media only screen and (min-width: 50em) {
}
@media only screen and (min-width: 50em) {
}
@media only screen and (min-width: 50em) {
}
@media only screen and (min-width: 50em) {
}
@media only screen and (min-width: 50em) {
}
@media only screen and (min-width: 50em) {
}
@media only screen and (min-width: 50em) {
}
@media only screen and (min-width: 50em) {
}
@media only screen and (min-width: 50em) {
}
@media only screen and (min-width: 50em) {
}
@media only screen and (min-width: 50em) {
}
@media only screen and (min-width: 50em) {
}
@media only screen and (min-width: 50em) {
}
@media only screen and (min-width: 50em) {
}
@media only screen and (min-width: 50em) {
}
@media only screen and (min-width: 50em) {
}
@media only screen and (min-width: 50em) {
}
@media only screen and (min-width: 50em) {
}
@media only screen and (min-width: 50em) {
}
@media only screen and (min-width: 50em) {
}
@media only screen and (min-width: 50em) {
}
@media only screen and (min-width: 50em) {
}
@media only screen and (min-width: 50em) {
}
.svg-star { fill: transparent; stroke: rgb(0, 0, 0); }
.svg-chevron--small.chevron--bottom, .svg-chevron.chevron--bottom { transform: rotate(90deg); }
@media only screen and (min-width: 64em) {
}
.magnifier .svg-zoom-in, .recommend .svg-star { position: absolute; width: 18px; height: 18px; left: 7px; top: 11px; opacity: 0.6; }
.magnifier .svg-zoom-in { fill: rgb(255, 255, 255); }
.magnifier:hover .svg-zoom-in, .recommend:hover .svg-star { opacity: 0.9; }
@media only screen and (min-width: 64em) {
}
.permalink .post-dropdown-trigger { top: 2px; }
@media only screen and (min-width: 37.5em) {
}
@media only screen and (max-width: 49.938em) {
}
@media only screen and (max-width: 63.9em) {
  .svg-icon { width: 20px; height: 20px; margin-top: -3px; }
}
circle, path, rect { vector-effect: non-scaling-stroke; }
.svg-icon { fill: none; stroke-width: 1.01px; stroke-linecap: round; stroke-linejoin: round; stroke: rgb(0, 0, 0); }
.svg-icon--filled { fill: rgb(0, 0, 0); stroke: none; }
.magnifier .svg-zoom-in { fill: none; stroke: rgb(255, 255, 255); }
.f-dropdown { display: none; left: -9999px; list-style: outside none none; margin-left: 0px; position: absolute; background: rgb(255, 255, 255) none repeat scroll 0% 0%; border: 1px solid rgb(204, 204, 204); font-size: 0.875rem; height: auto; max-height: none; width: 100%; z-index: 89; margin-top: 2px; max-width: 200px; }
.f-dropdown > :first-child { margin-top: 0px; }
.f-dropdown > :last-child { margin-bottom: 0px; }
.f-dropdown::before { border-width: 6px; border-style: inset inset solid; -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; border-color: transparent transparent rgb(255, 255, 255); top: -12px; left: 10px; z-index: 89; }
.f-dropdown::before, .f-dropdown::after { content: ""; display: block; height: 0px; width: 0px; position: absolute; }
.f-dropdown::after { border-width: 7px; border-style: inset inset solid; -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; border-color: transparent transparent rgb(204, 204, 204); top: -14px; left: 9px; z-index: 88; }
.f-dropdown li { cursor: pointer; font-size: 0.875rem; line-height: 1.25rem; margin: 0px; }
.f-dropdown li:focus, .f-dropdown li:hover { background: rgb(238, 238, 238) none repeat scroll 0% 0%; }
.f-dropdown li a { display: block; padding: 0.5rem; color: rgb(85, 85, 85); }
.f-dropdown.content { display: none; left: -9999px; list-style: outside none none; margin-left: 0px; position: absolute; background: rgb(255, 255, 255) none repeat scroll 0% 0%; border: 1px solid rgb(204, 204, 204); font-size: 0.875rem; height: auto; max-height: none; padding: 0.938rem; width: 100%; z-index: 89; max-width: 200px; }
.f-dropdown.content > :first-child { margin-top: 0px; }
.f-dropdown.content > :last-child { margin-bottom: 0px; }
.f-dropdown.tiny { max-width: 200px; }
.button, button { border-style: solid; border-width: 0px; font-family: "ProximaNovaCond",sans-serif; margin: 0px; padding: 1rem 2rem 1.062rem; background-color: rgb(0, 140, 186); border-color: rgb(0, 112, 149); color: rgb(255, 255, 255); transition: background-color 300ms ease-out 0s; }
.button:focus, .button:hover, button:focus, button:hover { background-color: rgb(0, 112, 149); color: rgb(255, 255, 255); }
.button.tiny, button.tiny { padding: 0.438rem 0.875rem 0.5rem; font-size: 0.875rem; }
button::-moz-focus-inner { border: 0px none; padding: 0px; }
@media only screen and (min-width: 37.5em) {
  .button, button { display: inline-block; }
}
:-moz-placeholder, *::-moz-placeholder { color: rgb(204, 204, 204); }
.row { margin: 0px auto; max-width: 63rem; width: 100%; }
.row::after, .row::before { content: " "; display: table; }
.row::after { clear: both; }
.column, .columns { padding-left: 1.125rem; padding-right: 1.125rem; width: 100%; float: left; }
@media only screen {
  .column, .columns { position: relative; padding-left: 1.125rem; padding-right: 1.125rem; float: left; }
  .small-12 { width: 100%; }
}
@media only screen and (min-width: 37.5em) {
  .column, .columns { position: relative; padding-left: 1.125rem; padding-right: 1.125rem; float: left; }
}
@media only screen and (min-width: 50em) {
  .column, .columns { position: relative; padding-left: 1.125rem; padding-right: 1.125rem; float: left; }
}
.loading-full, .reveal-modal-bg { background: rgba(0, 0, 0, 0.45) none repeat scroll 0% 0%; bottom: 0px; display: none; position: fixed; right: 0px; top: 0px; z-index: 1004; left: 0px; }
.reveal-modal { border-radius: 0px; display: none; position: absolute; top: 0px; visibility: hidden; width: 100%; z-index: 1005; left: 0px; background-color: rgb(255, 255, 255); padding: 1.25rem; border: 1px solid rgb(102, 102, 102); box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4); }
@media only screen and (max-width: 37.438em) {
  .reveal-modal { min-height: 100vh; }
}
.reveal-modal > :first-child { margin-top: 0px; }
.reveal-modal > :last-child { margin-bottom: 0px; }
@media only screen and (min-width: 37.5em) {
  .reveal-modal { left: 0px; margin: 0px auto; max-width: 63rem; right: 0px; width: 90%; top: 6.25rem; }
}
@media only screen and (min-width: 37.5em) {
}
@media only screen and (min-width: 37.5em) {
}
@media only screen and (min-width: 37.5em) {
  .reveal-modal.tiny, .reveal-modal.small { left: 0px; margin: 0px auto; max-width: 63rem; right: 0px; }
  .reveal-modal.small { width: 40%; }
}
@media only screen and (min-width: 37.5em) {
}
@media only screen and (min-width: 37.5em) {
}
@media only screen and (min-width: 37.5em) {
}
@media only screen and (min-width: 37.5em) {
}
.reveal-modal .close-reveal-modal { color: rgb(170, 170, 170); cursor: pointer; font-size: 2.5rem; font-weight: bold; line-height: 1; position: absolute; top: 0.625rem; right: 1.375rem; }
@media only screen {
  .hide-for-large, .hide-for-large-only, .hide-for-large-up, .hide-for-medium, .hide-for-medium-only, .hide-for-medium-up, .hide-for-xlarge, .hide-for-xlarge-only, .hide-for-xlarge-up, .hide-for-xxlarge, .hide-for-xxlarge-only, .hide-for-xxlarge-up, .show-for-large-down, .show-for-medium-down, .show-for-small, .show-for-small-down, .show-for-small-only, .show-for-small-up, .show-for-xlarge-down, .show-for-xxlarge-down { display: inherit ! important; }
  .hide-for-large-down, .hide-for-medium-down, .hide-for-small, .hide-for-small-down, .hide-for-small-only, .hide-for-small-up, .hide-for-xlarge-down, .hide-for-xxlarge-down, .show-for-large, .show-for-large-only, .show-for-large-up, .show-for-medium, .show-for-medium-only, .show-for-medium-up, .show-for-xlarge, .show-for-xlarge-only, .show-for-xlarge-up, .show-for-xxlarge, .show-for-xxlarge-only, .show-for-xxlarge-up { display: none ! important; }
}
@media only screen and (min-width: 37.5em) {
  .hide-for-large, .hide-for-large-only, .hide-for-large-up, .hide-for-small, .hide-for-small-down, .hide-for-small-only, .hide-for-xlarge, .hide-for-xlarge-only, .hide-for-xlarge-up, .hide-for-xxlarge, .hide-for-xxlarge-only, .hide-for-xxlarge-up, .show-for-large-down, .show-for-medium, .show-for-medium-down, .show-for-medium-only, .show-for-medium-up, .show-for-small-up, .show-for-xlarge-down, .show-for-xxlarge-down { display: inherit ! important; }
  .hide-for-large-down, .hide-for-medium, .hide-for-medium-down, .hide-for-medium-only, .hide-for-medium-up, .hide-for-small-up, .hide-for-xlarge-down, .hide-for-xxlarge-down, .show-for-large, .show-for-large-only, .show-for-large-up, .show-for-small, .show-for-small-down, .show-for-small-only, .show-for-xlarge, .show-for-xlarge-only, .show-for-xlarge-up, .show-for-xxlarge, .show-for-xxlarge-only, .show-for-xxlarge-up { display: none ! important; }
}
@media only screen and (min-width: 50em) {
  .hide-for-medium, .hide-for-medium-down, .hide-for-medium-only, .hide-for-small, .hide-for-small-down, .hide-for-small-only, .hide-for-xlarge, .hide-for-xlarge-only, .hide-for-xlarge-up, .hide-for-xxlarge, .hide-for-xxlarge-only, .hide-for-xxlarge-up, .show-for-large, .show-for-large-down, .show-for-large-only, .show-for-large-up, .show-for-medium-up, .show-for-small-up, .show-for-xlarge-down, .show-for-xxlarge-down { display: inherit ! important; }
  .hide-for-large, .hide-for-large-down, .hide-for-large-only, .hide-for-large-up, .hide-for-medium-up, .hide-for-small-up, .hide-for-xlarge-down, .hide-for-xxlarge-down, .show-for-medium, .show-for-medium-down, .show-for-medium-only, .show-for-small, .show-for-small-down, .show-for-small-only, .show-for-xlarge, .show-for-xlarge-only, .show-for-xlarge-up, .show-for-xxlarge, .show-for-xxlarge-only, .show-for-xxlarge-up { display: none ! important; }
}
@media only screen and (min-width: 64em) {
  .hide-for-large, .hide-for-large-down, .hide-for-large-only, .hide-for-medium, .hide-for-medium-down, .hide-for-medium-only, .hide-for-small, .hide-for-small-down, .hide-for-small-only, .hide-for-xxlarge, .hide-for-xxlarge-only, .hide-for-xxlarge-up, .show-for-large-up, .show-for-medium-up, .show-for-small-up, .show-for-xlarge, .show-for-xlarge-down, .show-for-xlarge-only, .show-for-xlarge-up, .show-for-xxlarge-down { display: inherit ! important; }
  .hide-for-large-up, .hide-for-medium-up, .hide-for-small-up, .hide-for-xlarge, .hide-for-xlarge-down, .hide-for-xlarge-only, .hide-for-xlarge-up, .hide-for-xxlarge-down, .show-for-large, .show-for-large-down, .show-for-large-only, .show-for-medium, .show-for-medium-down, .show-for-medium-only, .show-for-small, .show-for-small-down, .show-for-small-only, .show-for-xxlarge, .show-for-xxlarge-only, .show-for-xxlarge-up { display: none ! important; }
}
@media only screen and (min-width: 66.3em) {
  .hide-for-large, .hide-for-large-down, .hide-for-large-only, .hide-for-medium, .hide-for-medium-down, .hide-for-medium-only, .hide-for-small, .hide-for-small-down, .hide-for-small-only, .hide-for-xlarge, .hide-for-xlarge-down, .hide-for-xlarge-only, .show-for-large-up, .show-for-medium-up, .show-for-small-up, .show-for-xlarge-up, .show-for-xxlarge, .show-for-xxlarge-down, .show-for-xxlarge-only, .show-for-xxlarge-up { display: inherit ! important; }
  .hide-for-large-up, .hide-for-medium-up, .hide-for-small-up, .hide-for-xlarge-up, .hide-for-xxlarge, .hide-for-xxlarge-down, .hide-for-xxlarge-only, .hide-for-xxlarge-up, .show-for-large, .show-for-large-down, .show-for-large-only, .show-for-medium, .show-for-medium-down, .show-for-medium-only, .show-for-small, .show-for-small-down, .show-for-small-only, .show-for-xlarge, .show-for-xlarge-down, .show-for-xlarge-only { display: none ! important; }
}
@media only screen and (orientation: landscape) {
}
@media only screen and (orientation: portrait) {
}
@media print {
  * { background: transparent none repeat scroll 0% 0% ! important; box-shadow: none ! important; color: rgb(0, 0, 0) ! important; text-shadow: none ! important; }
  a, a:visited { text-decoration: underline; }
  a[href]::after { content: " (" attr(href) ")"; }
  .ir a::after, a[href^="#"]::after, a[href^="javascript:"]::after { content: ""; }
  img, tr { page-break-inside: avoid; }
  img { max-width: 100% ! important; }
  @page { margin: 0.5cm; }
  h2, h3, p {  }
  h2, h3 { page-break-after: avoid; }
}
@media print {
}
@media not print {
}
.text-center { text-align: center ! important; }
@media only screen and (max-width: 37.438em) {
}
@media only screen {
}
@media only screen and (min-width: 37.5em) and (max-width: 49.938em) {
}
@media only screen and (min-width: 37.5em) {
}
@media only screen and (min-width: 50em) and (max-width: 63.9em) {
}
@media only screen and (min-width: 50em) {
}
@media only screen and (min-width: 64em) and (max-width: 66.25em) {
}
@media only screen and (min-width: 64em) {
}
@media only screen and (min-width: 66.3em) and (max-width: 67.938em) {
}
@media only screen and (min-width: 66.3em) {
}
blockquote, dd, div, dl, dt, form, h1, h2, h3, h4, h5, h6, li, ol, p, pre, td, th, ul { margin: 0px; padding: 0px; }
a { color: rgb(0, 140, 186); line-height: inherit; text-decoration: none; }
a:focus, a:hover { color: rgb(0, 120, 160); }
a img { border: medium none; }
p { font-family: inherit; font-size: 0.938rem; font-weight: normal; margin-bottom: 1.25rem; text-rendering: optimizelegibility; }
p, p.lead { line-height: 1.6; }
h1, h2, h3, h4, h5, h6 { color: rgb(0, 0, 0); font-family: "ProximaNovaCond",sans-serif; font-style: normal; font-weight: bold; line-height: 1.3; margin-bottom: 1rem; margin-top: 0px; text-rendering: optimizelegibility; }
h1 { font-size: 1.75rem; }
h2 { font-size: 1.125rem; }
h3 { font-size: 1.25rem; }
h4 { font-size: 1rem; }
hr { border-style: solid; border-color: rgb(221, 221, 221); -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; border-width: 1px 0px 0px; clear: both; height: 0px; margin: 1.25rem 0px 1.188rem; }
em, i { font-style: italic; }
em, i, b, strong { line-height: inherit; }
b, strong { font-weight: bold; }
small { font-size: 0.875rem; line-height: inherit; }
dl, ol, ul { font-family: inherit; font-size: 0.938rem; line-height: 1.6; list-style-position: outside; margin-bottom: 1.25rem; }
ul { margin-left: 1.1rem; }
@media only screen and (min-width: 37.5em) {
  h1, h2, h3, h4, h5, h6 { line-height: 1.3; }
  h1 { font-size: 2.375rem; }
  h2 { font-size: 1.75rem; }
  h3 { font-size: 1.562rem; }
  h4 { font-size: 1.312rem; }
}
.f-dropdown { left: -99999px; top: -99999px; z-index: 98; }
@media only screen and (max-width: 37.438em) {
  .f-dropdown.tiny { max-width: none; }
}
@media only screen and (max-width: 37.438em) {
  .f-dropdown::after, .f-dropdown::before { display: none; }
}
@media only screen and (max-width: 1024px) {
  .f-dropdown li:not(.private-list-item) { line-height: 1.75rem; }
}
.f-dropdown li a, .f-dropdown li a:active, .f-dropdown li a:focus, .f-dropdown li a:hover { color: rgb(85, 85, 85); }
.f-dropdown li a:hover { text-decoration: none; }
.f-dropdown ul { margin: 0px; }
.f-dropdown:focus { outline: medium none; }
@media only screen and (min-width: 37.5em) {
  .reveal-modal.tiny, .reveal-modal.small { max-width: 55.5556rem; left: 0px; right: 0px; margin: 0px auto; }
  .reveal-modal.small { width: 40%; }
}
@media only screen and (max-width: 49.938em) {
  .reveal-modal.small { width: 90%; }
}
@media only screen and (max-width: 37.438em) {
  .reveal-modal.small { width: 90%; margin-left: 0px; }
}
.hide { display: none ! important; }
.button.small, .button.tiny, button.small, button.tiny { padding-top: 0px; padding-bottom: 0px; }
@media only screen and (min-width: 64em) {
}
.button, button { -moz-appearance: none; border: 0px none; cursor: pointer; font-weight: normal; line-height: normal; margin: 0px; position: relative; text-decoration: none; text-align: center; border-radius: 0px; display: inline-block; padding: 0px; font-size: 1rem; background-color: transparent; color: rgb(0, 0, 0); transition: none 0s ease 0s ; }
.button:active, .button:focus, .button:hover, button:active, button:focus, button:hover { color: rgb(0, 0, 0); }
.button, button, button[type="submit"] { height: 42px; line-height: 42px; border-radius: 21px; font-size: 1rem; border: 1px solid transparent; background-color: rgb(0, 147, 236); color: rgb(255, 255, 255); letter-spacing: 0.5px; padding: 0px 2rem; }
.button { transition: background-color 0.4s ease-in-out 0s, border-color 0.4s ease-in-out 0s, color 0.4s ease-in-out 0s; }
.button .svg-icon { stroke: currentcolor; opacity: 1; }
.button .svg-icon--filled { stroke: none; fill: currentcolor; }
.button:active, .button:focus, .button:hover { background-color: rgb(0, 115, 185); color: rgb(255, 255, 255); }
.button.button--small, .button.small, .button.tiny { height: 34px; border-radius: 34px; line-height: 34px; font-size: 14px; }
.button.button--small:not(.dropdown), .button.small:not(.dropdown), .button.tiny:not(.dropdown) { padding: 0px 1.5rem; }
.button .svg-icon { margin-top: -2px; }
@media only screen and (max-width: 37.438em) {
}
@media only screen {
}
.button--share { border-radius: 14px; padding: 0px 16px 0px 14px; color: rgb(255, 255, 255); height: 28px; font-size: 14px; line-height: 28px; transition: none 0s ease 0s ; }
@media only screen and (max-width: 49.938em) {
  .button--share { width: 120px; padding: 0px; text-align: center; }
}
.button--share .svg-icon { width: 14px; height: 14px; opacity: 1; margin-top: -3px; }
.button--share.button--facebook { background-color: rgb(66, 81, 132); }
.button--share.button--twitter { background-color: rgb(24, 167, 225); }
@media only screen and (max-width: 49.938em) {
}
@media only screen and (min-width: 37.5em) {
}
@media only screen and (max-width: 49.938em) {
}
@media only screen and (min-width: 50em) {
}
@media only screen and (max-width: 49.938em) {
}
@media only screen and (min-width: 37.5em) {
}
@media only screen and (max-width: 767px) {
}
@media only screen and (max-width: 37.438em) {
}
@media only screen and (min-width: 37.5em) {
}
.reveal-modal { overflow: hidden; padding: 0px 0px 20px; min-height: 0px; box-sizing: border-box; }
.reveal-modal .account-settings-wrapper > *, .reveal-modal > *, .reveal-modal > :last-child { margin: 1.25rem; }
.reveal-modal .modal-header-container { margin: 0px; text-align: center; }
.reveal-modal .row { width: auto; }
@media only screen and (min-width: 37.5em) {
  .reveal-modal { min-width: 444px; }
}
@media only screen and (max-width: 37.438em) {
  .reveal-modal.small { margin-left: 5%; }
}
@media only screen and (max-width: 49.938em) {
}
.reveal-modal .account-settings-wrapper > header, .reveal-modal header { margin: 0px; padding: calc(1.25rem - 8px) 1.25rem; position: relative; top: 2px; border-bottom: 1px solid rgb(229, 229, 229); }
.reveal-modal .account-settings-wrapper > header h3, .reveal-modal header h3 { position: relative; margin: 0px; }
.reveal-modal .account-settings-wrapper > header .modal-close-x, .reveal-modal header .modal-close-x { position: absolute; top: -5px; right: -12px; color: rgb(0, 0, 0); opacity: 0.3; font-size: 2.375rem; height: 46px; width: 46px; text-align: center; }
.reveal-modal .account-settings-wrapper > header .modal-close-x:hover, .reveal-modal header .modal-close-x:hover { text-decoration: none; opacity: 1; }
@media only screen and (max-width: 37.438em) {
}
@media only screen and (max-width: 63.9em) {
}
@media only screen and (max-width: 37.438em) {
}
@media only screen and (max-width: 37.438em) {
}
@media only screen and (min-width: 50em) {
}
@media only screen and (min-width: 50em) {
}
@media only screen and (min-width: 50em) {
}
@media only screen and (min-width: 50em) {
}
@media only screen and (max-width: 37.438em) {
}
@media only screen and (max-width: 49.938em) {
}
@media only screen and (min-width: 50em) {
}
@media only screen and (min-width: 37.5em) {
}
.store-modal .modal-content { display: flex; -moz-box-align: center; align-items: center; -moz-box-pack: center; justify-content: center; min-height: 200px; }
.store-modal .modal-content .modal-content__centered { padding: 0px 2.25rem; text-align: center; }
@media only screen and (min-width: 50em) {
}
@media only screen and (min-width: 50em) {
}
@media only screen and (min-width: 66.3em) {
}
@media only screen and (min-width: 88em) {
}
@media only screen and (min-width: 50em) {
}
@media only screen and (min-width: 66.3em) {
}
@media only screen and (min-width: 88em) {
}
@media only screen and (min-width: 50em) {
}
@media only screen and (min-width: 64em) {
}
@media only screen and (min-width: 66.3em) {
}
@media only screen and (min-width: 88em) {
}
@media only screen and (min-width: 50em) {
}
@media only screen and (min-width: 37.5em) {
}
@media only screen and (min-width: 50em) {
}
@media only screen and (min-width: 50em) {
}
@media only screen and (max-width: 49.938em) {
}
@media only screen and (min-width: 50em) {
}
@media only screen and (min-width: 50em) {
}
@media only screen and (min-width: 50em) {
}
@media only screen and (max-width: 49.938em) {
}
@media only screen and (max-width: 37.438em) {
}
.nav-dropdown.f-dropdown { max-width: 300px; border: 1px solid rgb(229, 229, 229); padding: 0px; border-top-left-radius: 0px ! important; border-top-right-radius: 0px ! important; }
@media only screen and (max-width: 49.938em) {
}
@media only screen and (max-width: 49.938em) {
}
@media only screen and (max-width: 49.938em) {
}
@media only screen and (max-width: 49.938em) {
}
@media only screen and (min-width: 50em) {
}
@media only screen and (max-width: 49.938em) {
}
@media only screen and (max-width: 49.938em) {
}
@media only screen and (min-width: 50em) {
  .nav-dropdown.main-menu, .nav-dropdown.user-menu { width: 190px; max-width: 190px; }
}
.channels-menu, .notif-menu, .user-menu { border-bottom-right-radius: 0px ! important; }
.notif-menu .notifications-spinner { min-height: 50px; }
@media only screen and (min-width: 50em) {
}
@media only screen and (min-width: 50em) {
}
@media only screen and (max-width: 49.938em) {
}
#read-only-warning { display: none; position: fixed; z-index: 98; top: auto; bottom: 0px; width: 100%; background-color: rgb(239, 119, 64); color: rgb(255, 255, 255); font-family: "ProximaNovaCond",serif; font-weight: bold; text-align: center; line-height: 25px; }
.kinja-logo-divider { margin: 60px 0px 20px; }
.kinja-logo-divider hr { border-width: 1px 0px 0px; border-style: solid none none; border-color: rgb(229, 229, 229) currentcolor currentcolor; -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; }
.footer__items, .footer__nav { padding-top: 1.5rem; padding-bottom: 30px; }
@media only screen and (min-width: 50em) {
  .footer__items, .footer__nav { padding-top: 3.562rem; }
}
.site-footer { margin: 0px auto; max-width: 63rem; width: 100%; padding-bottom: 100px; }
.site-footer::after, .site-footer::before { content: " "; display: table; }
.site-footer::after { clear: both; }
@media only screen and (min-width: 50em) {
  .site-footer { min-height: 20rem; margin-bottom: 2rem; }
}
@media only screen and (min-width: 50em) {
}
@media only screen and (min-width: 50em) {
}
.site-footer .divider { width: 160px; border-color: rgb(229, 229, 229); margin: 0px auto; }
.site-footer ul { padding: 0px; margin: 0px; }
.footer__items { text-align: left; }
@media only screen and (max-width: 49.938em) {
  .f_only_taboola_on .footer__items { padding-left: 1.125rem; padding-right: 1.125rem; width: 100%; float: left; }
}
@media only screen and (min-width: 50em) {
  .footer__items { position: relative; padding-left: 1.125rem; padding-right: 1.125rem; width: 66.667%; left: 33.333%; right: auto; float: left; }
}
@media only screen and (min-width: 50em) {
}
@media only screen and (min-width: 37.5em) and (max-width: 49.938em) {
}
@media only screen and (min-width: 50em) {
}
@media only screen and (min-width: 64em) {
}
@media only screen and (min-width: 50em) {
}
@media only screen and (min-width: 50em) {
}
@media only screen and (min-width: 50em) and (max-width: 63.9em) {
}
.footer__nav { padding-left: 1.125rem; padding-right: 1.125rem; width: 100%; float: left; margin-bottom: 3rem; }
@media only screen and (min-width: 50em) {
  .footer__nav { position: relative; padding-left: 1.125rem; padding-right: 1.125rem; width: 33.333%; right: 66.667%; left: auto; float: left; margin-bottom: 2rem; text-align: left ! important; }
}
.footer__nav .list li { display: inline-block; }
@media only screen and (min-width: 50em) {
  .footer__nav .list li { display: block; }
}
.footer__nav .list li a { text-rendering: optimizelegibility; }
.footer__nav .list--copyright, .footer__nav .list--legal, .footer__nav .list--site { text-align: center; }
@media only screen and (min-width: 50em) {
  .footer__nav .list--copyright, .footer__nav .list--legal, .footer__nav .list--site { text-align: left; }
}
.footer__nav .list--site { margin-bottom: 0.875rem; line-height: 1.75; }
.footer__nav .list--site a { color: rgb(51, 51, 51); letter-spacing: 0.3px; }
@media only screen and (min-width: 50em) {
  .footer__nav .list--site { margin-top: -8px; }
}
@media only screen and (min-width: 50em) {
  .footer__nav .list--site__baseline { margin-top: 0px; }
}
.footer__nav .list--copyright, .footer__nav .list--legal { font-size: 0.8rem; letter-spacing: 0.3px; }
.footer__nav .list--copyright, .footer__nav .list--copyright a, .footer__nav .list--legal, .footer__nav .list--legal a { color: rgb(181, 181, 181); }
@media only screen and (min-width: 50em) {
  .footer__nav .list--copyright, .footer__nav .list--legal { margin-top: -2px; }
}
.footer__nav .list--copyright { margin-top: 14px; }
@media only screen and (min-width: 50em) {
  .f_only_taboola_on .footer__items { padding-top: 1.875rem; }
}
@keyframes check {
0% { height: 0px; width: 0px; }
33.3333% { width: 8px; height: 0px; }
}
@keyframes check {
0% { height: 0px; width: 0px; }
33.3333% { width: 8px; height: 0px; }
}
@keyframes settingsfield-change-color {
0% { color: rgb(0, 147, 236); }
100% { color: rgba(0, 0, 0, 0.75); }
}
@keyframes settingsfield-change-color {
0% { color: rgb(0, 147, 236); }
100% { color: rgba(0, 0, 0, 0.75); }
}
@media only screen and (max-width: 49.938em) {
}
@media only screen and (max-width: 49.938em) {
}
@media only screen and (max-width: 49.938em) {
}
@media only screen and (max-width: 37.438em) {
}
@media only screen and (max-width: 49.938em) {
}
@media only screen and (max-width: 49.938em) {
}
@media only screen and (max-width: 49.938em) {
}
@media only screen and (max-width: 49.938em) {
}
@media only screen and (max-width: 49.938em) {
}
@media only screen and (max-width: 49.938em) {
}
@media only screen and (max-width: 49.938em) {
}
@media only screen and (max-width: 49.938em) {
}
@media only screen and (max-width: 49.938em) {
}
.author-bio__wrapper { max-width: 636px; margin-left: auto; margin-right: auto; clear: left; }
.author-bio { display: inline-block; background: rgb(245, 245, 245) none repeat scroll 0% 0%; border-radius: 3px; clear: both; color: rgb(102, 102, 102); max-width: 636px; margin-bottom: 1.5rem; padding: 14px; }
.author-bio.author-bio--below-post { margin: 2rem 0px 0.5rem; }
@media only screen and (max-width: 49.938em) {
}
.author-bio p { margin: 0px; }
.author-bio .svg-icon { width: 14px; height: 14px; }
.author-bio .svg-icon.svg-twitter { margin-top: -2px; }
.author-bio .author-bio__name { font-size: 1.2em; }
.author-bio .author-bio--flair { display: inline-block; margin-right: 15px; vertical-align: baseline; position: relative; }
.author-bio .author-bio--flair .svg-icon { margin-right: 3px; position: relative; top: 2px; vertical-align: baseline; }
.author-bio .author-bio--flair::after { content: ""; top: 0px; left: 0px; width: 100%; height: 100%; }
.author-bio .author-bio__extra-info { display: inline-block; }
.author-bio .author-bio__extra-info .author-bio--flair:last-child { margin-right: 0px; }
.author-bio .author-bio__bio { margin: 4px 0px 0px; }
.spinner.bounce { display: block; margin: auto; width: 62px; text-align: center; height: 18px; }
.spinner.bounce > span { width: 18px; height: 18px; background-color: rgb(204, 204, 204); border-radius: 100%; display: inline-block; animation: 0.8s ease-in-out 0s normal both infinite running bouncedelay; }
.spinner.bounce .one { animation-delay: -0.32s; }
.spinner.bounce .two { animation-delay: -0.16s; }
@keyframes bouncedelay {
0%, 80%, 100% { transform: scale(0.8); }
40% { transform: scale(1); }
}
@keyframes bouncedelay {
0%, 80%, 100% { transform: scale(0.8); }
40% { transform: scale(1); }
}
.lightbox-wrapper { position: relative; clear: both; display: block; }
.lightbox-wrapper:hover .lightbox { opacity: 1; }
.lightbox { opacity: 0; position: absolute; top: 8px; left: 8px; width: 32px; height: 32px; border-radius: 5px; cursor: pointer; transition: all 0.15s ease 0s; background-color: rgba(0, 0, 0, 0.7); z-index: 93; }
@keyframes fadein {
0% { opacity: 0; }
100% { opacity: 1; }
}
@keyframes fadein {
0% { opacity: 0; }
100% { opacity: 1; }
}
@media only screen and (max-width: 37.438em) {
}
@media only screen and (max-width: 37.438em) {
}
@media only screen and (max-width: 37.438em) {
}
@media only screen and (max-width: 37.438em) {
}
@media only screen and (max-width: 37.438em) {
}
@media only screen and (min-width: 37.5em) {
}
@media only screen and (max-width: 37.438em) {
}
@media only screen and (max-width: 37.438em) {
}
@media only screen and (max-width: 37.438em) {
}
@media only screen and (max-width: 37.438em) {
}
@media only screen and (max-width: 37.438em) {
}
@media only screen and (max-width: 37.438em) {
}
@media only screen and (max-width: 37.438em) {
}
.reply-to-post { margin-left: 6px; margin-right: 10px; padding-right: 10px; border-right: 1px solid rgb(229, 229, 229); }
.reply-to-post:hover { color: rgb(51, 51, 51); text-decoration: none; }
@media only screen and (max-width: 37.438em) {
  .reply-to-post { display: none; }
}
@media only screen and (max-width: 37.438em) {
}
@media only screen and (max-width: 37.438em) {
}
@media only screen and (max-width: 37.438em) {
}
@media only screen {
}
@media only screen and (min-width: 1343px) {
}
@media only screen {
}
@media only screen and (max-width: 37.438em) {
}
@media only screen and (min-width: 37.5em) {
}
@media only screen and (min-width: 37.5em) {
}
@media only screen and (max-width: 49.938em) {
}
@media only screen and (min-width: 37.5em) {
}
@media only screen and (min-width: 37.5em) {
}
@media only screen and (min-width: 900px) and (max-width: 1024px) {
}
@media only screen and (min-width: 1280px) and (max-width: 1407px) {
}
@media only screen and (min-width: 1408px) {
}
a.reply-to-post--mobile { transition: background-color 0.4s ease-in-out 0s, border-color 0.4s ease-in-out 0s, color 0.4s ease-in-out 0s; display: none; background-color: transparent; border: 1px solid rgb(229, 229, 229); height: 36px; border-radius: 18px; padding-top: 9px; padding-bottom: 9px; color: rgb(0, 0, 0); font-size: 18px; text-align: center; line-height: 1; vertical-align: top; }
@media only screen and (max-width: 37.438em) {
  a.reply-to-post--mobile { display: block; }
}
a.reply-to-post--mobile:hover { border-color: rgb(170, 170, 170); text-decoration: none; background-color: transparent; }
@media only screen and (max-width: 37.438em) {
}
@media only screen and (min-width: 37.5em) {
}
@media only screen and (min-width: 900px) and (max-width: 1024px) {
}
@media only screen and (min-width: 1280px) and (max-width: 1407px) {
}
@media only screen and (min-width: 1408px) {
}
@media only screen and (max-width: 37.438em) {
}
@media only screen and (max-width: 37.438em) {
}
@media only screen and (max-width: 37.438em) {
}
@media only screen and (max-width: 37.438em) {
}
@media only screen and (max-width: 37.438em) {
}
@media only screen and (max-width: 37.438em) {
}
@media only screen and (max-width: 49.938em) {
}
.reply-spinner { margin: 20px 0px; }
@media only screen and (max-width: 37.438em) {
}
@media only screen and (min-width: 37.5em) {
}
@media only screen and (min-width: 37.5em) {
}
@media only screen and (max-width: 37.438em) {
  .post-bottom__inner { display: flex; -moz-box-orient: horizontal; -moz-box-direction: normal; flex-flow: row wrap; }
}
@media only screen and (max-width: 37.438em) {
  .fb-like { -moz-box-flex: 1; flex: 1 1 100%; -moz-box-ordinal-group: 2; order: 1; }
}
@media only screen and (max-width: 37.438em) {
  .discussion-region { margin-top: 20px; margin-bottom: 20px; }
}
@media only screen and (max-width: 37.438em) {
}
@media only screen and (max-width: 37.438em) {
}
@media only screen and (max-width: 37.438em) {
}
@media only screen and (max-width: 37.438em) {
}
@media only screen and (max-width: 37.438em) {
}
@media only screen and (max-width: 37.438em) {
}
@media print {
  body { margin: 4rem; }
  a, a::after { content: normal ! important; text-decoration: none; }
  .global-nav { position: static; border-bottom: 0px none; margin-left: 4rem; }
  .ad-bottom, .ad-top, .ad-top-banner, .discussion-region, .flex-video, .global-nav__left, .global-nav__right, .header-action-wrapper, .kinja-logo-divider, .medium-headline, .meta-tools, .post-bottom, .readmore-referenced, .referenced-wide.referenced-fullwidth .readmore-referenced, .reply-filters-tabbed, .reply-footer-bar, .reply-views, .reply .reply-tools > a, .sharingfooter, .sidebar, .small-headline, .top-nav, .unapproved-filter, footer { display: none; }
  h1 { font-size: 2.5rem; }
  .navwrap--outer { height: 0px; }
}
.reply-filter, .reply-footer-bar, .reply__flagged-indicator, .reply__recommend .like-count, .reply__tools, .unapproved-filter .button-container a, a.button--pagination, a.commentlist__filter-button, a.reply-to-post--mobile { font-family: "ProximaNovaCond",sans-serif; font-weight: 400; }
.ad-billboard, .ad-top-banner { text-align: center; }
.ad-billboard .ad-container, .ad-top-banner .ad-container { height: 250px; max-width: 970px; margin-left: auto; margin-right: auto; display: block; }
.ad-top-banner .ad-container { margin-bottom: 20px; }
.ad-desktop .ad-inner .ad-label, .ad-desktop .ad-mobile-inner .ad-label, .ad-mobile .ad-inner .ad-label, .ad-mobile .ad-mobile-inner .ad-label, .ad-permalink-comment .ad-inner .ad-label, .ad-permalink-comment .ad-mobile-inner .ad-label, .ad-unit--featured-recirculation .ad-label, .ad-unit--fixed-bottom .ad-label, .ad-unit--in-post .ad-inner .ad-label, .ad-unit--in-post .ad-mobile-inner .ad-label, .f_inline_featured_ads_on.permalink.featured-post .post-content .ad-middleboard .ad-label { font-family: "ProximaNovaCond",sans-serif; color: rgb(204, 204, 204); letter-spacing: 0.1rem; border-top: 0px none; text-align: center; text-transform: uppercase; margin-bottom: 10px; }
.ad-desktop .ad-inner .ad-label-bottom, .ad-desktop .ad-mobile-inner .ad-label-bottom, .ad-mobile .ad-inner .ad-label-bottom, .ad-mobile .ad-mobile-inner .ad-label-bottom, .ad-permalink-comment .ad-inner .ad-label-bottom, .ad-permalink-comment .ad-mobile-inner .ad-label-bottom, .ad-unit--featured-recirculation .ad-label-bottom, .ad-unit--fixed-bottom .ad-label-bottom, .ad-unit--in-post .ad-inner .ad-label-bottom, .ad-unit--in-post .ad-mobile-inner .ad-label-bottom, .f_inline_featured_ads_on.permalink.featured-post .post-content .ad-middleboard .ad-label-bottom { border-bottom: 1px solid rgb(229, 229, 229); }
.ad-desktop, .ad-mobile, .ad-permalink-comment, .ad-unit--in-post { padding: 0px; margin: 0px -18px; background: transparent none repeat scroll 0% 0%; text-align: center; }
.ad-desktop .ad-inner, .ad-desktop .ad-mobile-inner, .ad-mobile .ad-inner, .ad-mobile .ad-mobile-inner, .ad-permalink-comment .ad-inner, .ad-permalink-comment .ad-mobile-inner, .ad-unit--in-post .ad-inner, .ad-unit--in-post .ad-mobile-inner { padding: 0px; margin-bottom: 1.875rem; }
.ad-desktop .ad-inner .ad-container, .ad-desktop .ad-mobile-inner .ad-container, .ad-mobile .ad-inner .ad-container, .ad-mobile .ad-mobile-inner .ad-container, .ad-permalink-comment .ad-inner .ad-container, .ad-permalink-comment .ad-mobile-inner .ad-container, .ad-unit--in-post .ad-inner .ad-container, .ad-unit--in-post .ad-mobile-inner .ad-container { display: inline-block; max-width: 320px; margin: 10px 0px 20px; background-color: transparent; }
.ad-desktop .ad-inner .ad-label, .ad-desktop .ad-inner .ad-label-bottom, .ad-desktop .ad-mobile-inner .ad-label, .ad-desktop .ad-mobile-inner .ad-label-bottom, .ad-mobile .ad-inner .ad-label, .ad-mobile .ad-inner .ad-label-bottom, .ad-mobile .ad-mobile-inner .ad-label, .ad-mobile .ad-mobile-inner .ad-label-bottom, .ad-permalink-comment .ad-inner .ad-label, .ad-permalink-comment .ad-inner .ad-label-bottom, .ad-permalink-comment .ad-mobile-inner .ad-label, .ad-permalink-comment .ad-mobile-inner .ad-label-bottom, .ad-unit--in-post .ad-inner .ad-label, .ad-unit--in-post .ad-inner .ad-label-bottom, .ad-unit--in-post .ad-mobile-inner .ad-label, .ad-unit--in-post .ad-mobile-inner .ad-label-bottom { margin-bottom: 0px; }
@media only screen and (max-width: 37.438em) {
  .ad-desktop .ad-inner .ad-label, .ad-desktop .ad-inner .ad-label-bottom, .ad-desktop .ad-mobile-inner .ad-label, .ad-desktop .ad-mobile-inner .ad-label-bottom, .ad-mobile .ad-inner .ad-label, .ad-mobile .ad-inner .ad-label-bottom, .ad-mobile .ad-mobile-inner .ad-label, .ad-mobile .ad-mobile-inner .ad-label-bottom, .ad-permalink-comment .ad-inner .ad-label, .ad-permalink-comment .ad-inner .ad-label-bottom, .ad-permalink-comment .ad-mobile-inner .ad-label, .ad-permalink-comment .ad-mobile-inner .ad-label-bottom, .ad-unit--in-post .ad-inner .ad-label, .ad-unit--in-post .ad-inner .ad-label-bottom, .ad-unit--in-post .ad-mobile-inner .ad-label, .ad-unit--in-post .ad-mobile-inner .ad-label-bottom { margin-left: 1.125rem; margin-right: 1.125rem; }
}
.ad-desktop.hide-contents, .ad-mobile.hide-contents, .ad-permalink-comment.hide-contents, .ad-unit--in-post.hide-contents { display: none; }
.f_constrain_oversize_mobile_ads_on .ad-mobile .ad-inner .ad-container, .f_constrain_oversize_mobile_ads_on .ad-mobile .ad-mobile-inner .ad-container { overflow: hidden; }
.permalink .ad-mobile .ad-label, .permalink .ad-unit--in-post .ad-label { border-top: 1px solid rgb(229, 229, 229); padding-top: 10px; }
@media only screen and (max-width: 600px) {
}
@media only screen and (min-width: 1024px) {
}
@keyframes slideUp {
100% { height: 0px; padding: 0px; margin: 0px; }
}
@keyframes slideUp {
100% { height: 0px; padding: 0px; margin: 0px; }
}
@media only screen and (min-width: 37.5em) {
}
@media only screen and (max-width: 37.438em) {
}
@media only screen and (max-width: 49.938em) {
}
@media only screen and (max-width: 49.938em) {
}
@media only screen and (max-width: 63.9em) {
}
@media only screen and (max-width: 49.938em) {
}
@media only screen and (min-width: 64em) {
}
@media only screen and (max-width: 49.938em) {
}
@media only screen and (max-width: 66.25em) {
}
@media only screen and (max-width: 63.9em) {
}
@media only screen and (min-width: 50em) {
}
@media only screen and (min-width: 50em) {
}
@media only screen and (max-width: 37.438em) {
}
@media only screen and (max-width: 37.438em) {
}
@media only screen and (max-width: 37.44rem) {
}
@media only screen and (max-width: 37.44rem) {
}
@media only screen and (max-width: 37.438em) {
}
@media only screen and (max-width: 37.438em) {
}
@media only screen and (max-width: 37.438em) {
}
@media only screen and (min-width: 50em) {
}
@media only screen and (min-width: 64em) {
}
@media only screen and (min-width: 66.3em) {
}
@media only screen and (min-width: 37.5em) {
}
@media only screen and (min-width: 37.5em) {
}
@media only screen and (min-width: 50em) {
}
@media only screen and (min-width: 37.5em) {
}
@media only screen and (min-width: 37.5em) {
}
@media only screen and (min-width: 37.5em) {
}
@media only screen and (min-width: 37.5em) {
}
@media only screen and (min-width: 50em) {
}
@media only screen and (min-width: 64em) {
}
@media only screen and (min-width: 50em) {
}
@media only screen and (max-width: 49.938em) {
}
@media only screen and (min-width: 50em) {
}
@media only screen and (max-width: 49.938em) {
}
@media only screen and (max-width: 49.938em) {
}
@media only screen and (min-width: 50em) {
}
@media only screen and (min-width: 50em) {
}
@media only screen and (min-width: 50em) {
}
@media only screen and (min-width: 50em) {
}
@media only screen and (min-width: 50em) {
}
@media only screen and (min-width: 50em) {
}
