/* Code tidied up by ScrapBook */
@media not all, not all, only screen and (min--moz-device-pixel-ratio: 1.5), not all {
}
@media not all, not all, only screen and (min--moz-device-pixel-ratio: 1.5), not all {
}
@media only screen and (max-width: 760px) {
}
@media (max-width: 800px) {
}
@media (max-width: 640px) {
}
#likes-other-gravatars li:before, div.sharedaddy h3.sd-title:before { content: ""; }
#content div.sharedaddy, #main div.sharedaddy, div.sharedaddy { clear: both; }
div.sharedaddy h3.sd-title { margin: 0px 0px 1em; display: inline-block; line-height: 1.2; font-size: 9pt; font-weight: 700; }
div.sharedaddy h3.sd-title:before { display: block; width: 100%; min-width: 30px; border-top: 1px solid rgb(221, 221, 221); margin-bottom: 1em; }
@media only screen and (max-width: 640px) {
}
@media only screen and (max-width: 320px) {
}
#content div.sharedaddy, #main div.sharedaddy, div.sharedaddy { clear: both; }
div.sharedaddy h3.sd-title { margin: 0px 0px 1em; display: inline-block; line-height: 1.2; font-size: 9pt; font-weight: 700; }
div.sharedaddy h3.sd-title:before { content: ""; display: block; width: 100%; min-width: 30px; border-top: 1px solid rgb(221, 221, 221); margin-bottom: 1em; }
.sd-content ul { padding: 0px ! important; margin: 0px 0px 0.7em ! important; list-style: none outside none ! important; }
@media not all {
}
@media not all {
}
.sd-content ul li { display: inline-block; margin: 0px 5px 5px 0px; padding: 0px; }
@media not all {
}
@-moz-document url-prefix("") {
  .sd-social-icon .sd-content ul li a.share-more { top: 2px; }
}
.sd-social-official .sd-content ul, .sd-social-official .sd-content ul li { line-height: 25px ! important; }
.sd-social-official .sd-content ul:after { content: "."; display: block; height: 0px; clear: both; visibility: hidden; }
.sd-social-official .sd-content ul > li { display: block; float: left; margin: 0px 10px 5px 0px ! important; height: 25px; }
.reddit_button iframe { margin-top: 1px; }
@media not all {
}
@media not all, not all, only screen and (min--moz-device-pixel-ratio: 1.5), not all {
}
