/* Code tidied up by ScrapBook */
@import url("style.css");
.site-logo { top: -32px; left: 20px; width: 150px; }
.site-logo:hover { transform: rotate(-5deg); }
@media only screen and (max-width: 800px) {
  .site-logo { top: -20px; width: 120px; }
}
h3 { color: rgb(54, 54, 54); }
a { color: rgb(241, 93, 34); }
.searchbox button { background: none repeat scroll 0% 0% rgb(241, 93, 34); }
.omg-dropdown li a:hover { color: rgb(241, 93, 34); }
.entry-meta .author a, .entry-meta .comments-link a, .single .entry-meta .category-list a { color: rgb(241, 93, 34); }
.single .tag-links a { background: none repeat scroll 0% 0% rgb(241, 93, 34); }
.videos-widget .video-post p { background: none repeat scroll 0% 0% rgb(241, 93, 34); }
.page-footer .navigation > li > a { color: rgb(241, 93, 34); }
.page-footer .colophon p a { color: rgb(241, 93, 34); }
.pull-quote-right p, .pull-quote-left p { border-color: rgb(241, 93, 34); }
.page-footer .social a:hover { color: rgb(241, 93, 34); }
@media only screen and (max-width: 800px) {
  #category-list .footer a { color: rgb(241, 93, 34); }
}
.branding { background: none repeat scroll 0% 0% rgb(94, 39, 80); }
.related_post li:hover img { background: none repeat scroll 0% 0% rgb(241, 93, 34); outline-color: rgb(241, 93, 34); }
