/* Code tidied up by ScrapBook */
ul.nav { position: relative; margin-bottom: 0px; width: auto; margin-right: 10px; }
ul.nav li { position: relative; float: left; list-style: outside none none; }
ul.nav li a { display: block; padding-top: 1em !important; padding-bottom: 1em !important; }
ul.nav li a:hover { text-decoration: none; }
.csstransforms3d.csstransitions #navigation, .csstransforms3d.csstransitions .show-nav #navigation, .csstransforms3d.csstransitions .show-nav #inner-wrapper { left: 0px; transform: translate3d(0%, 0px, 0px); }
.nav-toggle, .nav-close, .nav-home { display: none !important; }
#navigation { position: relative; left: auto; width: 100%; border: 1px solid rgb(217, 217, 217); padding-top: 0px; background: rgba(0, 0, 0, 0) -moz-linear-gradient(center top , rgb(255, 255, 255) 0%, rgb(245, 245, 245) 100%) repeat scroll 0% 0%; box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.03); border-radius: 5px; display: block !important; }
#navigation h3 { display: none; }
#navigation .menus { clear: none; }
#navigation ul { margin-bottom: 0px; }
#navigation ul li:first-child, #navigation ul li:first-child a { border-radius: 5px 0px 0px 5px; }
#navigation ul.nav > li { border-right: 1px solid rgb(230, 230, 230); }
#navigation ul.nav > li a:hover { background: rgb(246, 246, 246) none repeat scroll 0% 0%; }
#navigation ul.nav > li:hover { background: rgb(246, 246, 246) none repeat scroll 0% 0%; }
#logo { float: left; }
.col-left { float: left; }
.col-right { float: right; }
.col-full, #wrapper { max-width: 960px; margin: 0px auto; }
#wrapper #sidebar { margin-top: 0px; }
#wrapper { padding: 0px 1em 2em; }
#inner-wrapper { padding: 0px; }
#main-sidebar-container { position: relative; }
#main-sidebar-container #main { position: relative; }
#main-sidebar-container #sidebar { display: inline; }
#footer-widgets .block { margin-right: 3.8%; float: left; }
#footer-widgets.col-3 .block { width: 30.75%; }
#footer-widgets.col-2 .footer-widget-2, #footer-widgets.col-3 .footer-widget-3, #footer-widgets.col-4 .footer-widget-4 { margin-right: 0px; }
.two-col-left #main-sidebar-container #main, .two-col-right #main-sidebar-container #main { width: 64.89%; }
.two-col-left #main-sidebar-container #sidebar, .two-col-right #main-sidebar-container #sidebar { width: 31.91%; }
.two-col-left #main-sidebar-container #main, .two-col-right #main-sidebar-container #sidebar, .three-col-left #main-sidebar-container, .three-col-left #main-sidebar-container #main, .three-col-middle #main-sidebar-container #main, .three-col-middle #sidebar-alt, .three-col-right #main-sidebar-container #sidebar, .three-col-right #sidebar-alt { float: left; }
.two-col-left #main-sidebar-container #sidebar, .two-col-right #main-sidebar-container #main, .three-col-left #main-sidebar-container #sidebar, .three-col-left #sidebar-alt, .three-col-middle #main-sidebar-container, .three-col-middle #main-sidebar-container #sidebar, .three-col-right #main-sidebar-container, .three-col-right #main-sidebar-container #main { float: right; }
