/* Code tidied up by ScrapBook */
@font-face {
  font-family: "job-manager";
  font-style: normal;
  font-weight: 400;
  src: url("job-manager.eot") format("embedded-opentype"), url("job-manager.woff") format("woff"), url("job-manager.ttf") format("truetype"), url("job-manager.svg") format("svg");
}
@font-face {
  font-family: "jm-logo";
  font-style: normal;
  font-weight: 400;
  src: url("jm.eot") format("embedded-opentype"), url("jm.woff") format("woff"), url("jm.ttf") format("truetype"), url("jm.svg") format("svg");
}
@media only screen and (max-width: 767px) {
}
