/* Code tidied up by ScrapBook */
.container-inline div, .container-inline label { display: inline; }
.element-invisible { position: absolute ! important; clip: rect(1px, 1px, 1px, 1px); overflow: hidden; height: 1px; }
.element-invisible.element-focusable:active, .element-invisible.element-focusable:focus { position: static ! important; clip: auto; overflow: visible; height: auto; }
.clearfix:after { content: "."; display: block; height: 0px; clear: both; visibility: hidden; }
ul.menu { border: 0px none; list-style: none outside none; text-align: left; }
ul.menu li { margin: 0px 0px 0px 0.5em; }
ul.inline, ul.links.inline { display: inline; padding-left: 0px; }
ul.inline li { display: inline; list-style-type: none; padding: 0px 0.5em; }
form { margin: 0px; padding: 0px; }
img { border: 0px none; }
table { border-collapse: collapse; }
th { border-bottom: 3px solid rgb(204, 204, 204); padding-right: 1em; text-align: left; }
tbody { border-top: 1px solid rgb(204, 204, 204); }
tr.even, tr.odd { background-color: rgb(238, 238, 238); border-bottom: 1px solid rgb(204, 204, 204); padding: 0.1em 0.6em; }
.item-list ul { margin: 0px 0px 0.75em; padding: 0px; }
.item-list ul li { margin: 0px 0px 0.25em 1.5em; padding: 0px; }
.form-item, .form-actions { margin-top: 1em; margin-bottom: 1em; }
.form-item .description { font-size: 0.85em; }
label { display: block; font-weight: bold; }
.marker, .form-required { color: rgb(255, 0, 0); }
.container-inline .form-actions, .container-inline.form-actions { margin-top: 0px; margin-bottom: 0px; }
.more-link { text-align: right; }
#comments { margin-top: 15px; }
.field .field-label { font-weight: bold; }
@media screen {
  #slidead-popup { background: none repeat scroll 0% 0% rgb(255, 255, 255); border: 1px solid rgb(205, 202, 202); bottom: 0px; box-shadow: -1px -1px 5px rgb(153, 153, 153); padding: 5px 10px; position: fixed; z-index: 1000; }
  #pop-close span { border: 1px solid rgb(205, 202, 202); cursor: pointer; display: block; font-size: 7px; font-weight: bold; padding: 0px 4px; position: absolute; right: 5px; top: 8px; }
}
.rtecenter { text-align: center; }
.print_html, .print_mail, .print_pdf, .print_epub { margin-left: 1em; }
img.print-icon { vertical-align: middle; }
img.print-icon-margin { padding-right: 4px; }
div.edit-user-pw-wrapper { display: none; }
form.fivestar-widget { clear: both; display: block; }
form.fivestar-widget select, form.fivestar-widget input { margin: 0px; }
.fivestar-combo-stars .fivestar-static-form-item { float: left; margin-right: 40px; margin-left: 40px; }
.fivestar-static-form-item .form-item, .fivestar-form-item .form-item { margin: 0px; }
div.fivestar-widget-static { display: block; }
div.fivestar-widget-static .star { float: left; width: 17px; height: 15px; overflow: hidden; text-indent: -999em; background: url("star.gif") no-repeat scroll 0px 0px transparent; }
div.fivestar-widget-static .star span.on { display: block; width: 100%; height: 100%; background: url("star.gif") no-repeat scroll 0px -32px transparent; }
div.fivestar-widget-static .star span.off { display: block; width: 100%; height: 100%; background: url("star.gif") no-repeat scroll 0px 0px transparent; }
div.fivestar-widget { display: block; }
div.fivestar-widget .cancel, div.fivestar-widget .star { float: left; width: 17px; height: 15px; overflow: hidden; text-indent: -999em; }
div.fivestar-widget .cancel, div.fivestar-widget .cancel a { background: url("delete.gif") no-repeat scroll 0px -16px transparent; text-decoration: none; }
div.fivestar-widget .star, div.fivestar-widget .star a { background: url("star.gif") no-repeat scroll 0px 0px transparent; text-decoration: none; }
div.fivestar-widget .cancel a, div.fivestar-widget .star a { display: block; width: 100%; height: 100%; background-position: 0px 0px; cursor: pointer; }
form.fivestar-widget div.description { margin-bottom: 0px; }
html.js .fivestar-submit { display: none; }
.fivestar-combo-stars .form-type-fivestar .form-item { float: left; }
.fivestar-oxygen div.fivestar-widget-static .star { background-image: url("star.png"); }
.fivestar-oxygen div.fivestar-widget-static .star span.on { background-image: url("star.png"); }
.fivestar-oxygen div.fivestar-widget-static .star span.off { background-image: url("star.png"); }
.fivestar-oxygen div.fivestar-widget .cancel, .fivestar-oxygen div.fivestar-widget .cancel a { background-image: url("cancel.png"); }
.fivestar-oxygen div.fivestar-widget .star, .fivestar-oxygen div.fivestar-widget .star a { background-image: url("star.png"); }
.sf-menu, .sf-menu * { list-style: none outside none; margin: 0px; padding: 0px; }
.sf-menu { line-height: 1; z-index: 497; }
.sf-menu ul { left: 0px; position: absolute; top: -99999em; width: 12em; }
.sf-menu ul li { width: 100%; }
.sf-menu li { float: left; position: relative; z-index: 498; }
.sf-menu a { display: block; position: relative; }
.sf-menu li:hover, .sf-menu li.sfHover, .sf-menu li:hover ul, .sf-menu li.sfHover ul { z-index: 499; }
.sf-menu li:hover > ul, .sf-menu li.sfHover > ul { left: 0px; top: 2.5em; }
.sf-hidden { left: 0px ! important; top: -99999em ! important; }
.sf-navbar { position: relative; }
.sf-navbar li { position: static; }
.sf-navbar li li { position: relative; }
.sf-navbar li ul, .sf-navbar li li li { width: 100%; }
.sf-navbar li li { width: auto; float: left; }
.sf-navbar > li > ul { background: none repeat scroll 0% 0% transparent; padding: 0px; }
.sf-menu.sf-style-graphite { float: left; margin-bottom: 1em; padding: 0px; }
.sf-menu.sf-style-graphite.sf-navbar { width: 100%; }
.sf-menu.sf-style-graphite ul { padding-left: 0px; }
.sf-menu.sf-style-graphite a { border: 1px outset rgb(0, 0, 0); color: rgb(254, 255, 255); padding: 0.75em 1em; }
.sf-menu.sf-style-graphite.sf-navbar a { border: 0px none; }
.sf-menu.sf-style-graphite li, .sf-menu.sf-style-graphite li li, .sf-menu.sf-style-graphite li li li, .sf-menu.sf-style-graphite.sf-navbar { background: none repeat scroll 0% 0% rgb(32, 50, 84); }
.sf-menu.sf-style-graphite li:hover, .sf-menu.sf-style-graphite li.sfHover, .sf-menu.sf-style-graphite li.active a, .sf-menu.sf-style-graphite a:focus, .sf-menu.sf-style-graphite a:hover, .sf-menu.sf-style-graphite a:active, .sf-menu.sf-style-graphite.sf-navbar li li { background: none repeat scroll 0% 0% rgb(101, 114, 144); color: rgb(254, 255, 255); }
.sf-menu.sf-style-graphite.sf-navbar li ul { background-color: rgb(101, 114, 144); }
@media screen {
  .snw-b #site-name, .ssw-b #site-slogan, .ptw-b #page-title, .ntw-b .node-title, .ctw-b .comment-title, .btw-b .block-title { font-weight: 700; }
  .sna-l #site-name, .ssa-l #site-slogan, .pta-l #page-title, .nta-l .node-title, .cta-l .comment-title, .bta-l .block-title { text-align: left; }
}
@media screen {
}
@media screen {
  .container { margin: 0px auto; }
  .content-inner { min-height: 1px; }
  #content-column, .content-column { width: 100%; }
  .clearfix:after { content: ""; display: table; clear: both; }
  .clearfix {  }
  .one-column .region, div.at-panel .region-conditional-stack { float: none; display: block; clear: both; width: 100%; }
}
html { color: rgb(85, 85, 85); background: url("bg-wall.png") repeat-x scroll left top rgb(227, 231, 245); }
#page { background: none repeat scroll 0% 0% rgb(255, 255, 255); }
fieldset legend, .form-item label { color: rgb(102, 102, 102); }
.item-list ul li { list-style-image: url("bullet-round.png"); }
.links { color: rgb(102, 102, 102); }
a:link, a:visited, a:active, a.active { color: rgb(75, 92, 195); }
a:hover, a:focus { color: rgb(100, 117, 220); }
tr.odd { background: none repeat scroll 0% 0% rgb(227, 231, 245); }
tr.even { background: none repeat scroll 0% 0% rgb(251, 240, 246); }
#header { background: url("header-tile.png") repeat-x scroll left top rgb(6, 41, 132); }
.header-inner { background: url("header.png") no-repeat scroll left top transparent; }
@media only screen and (max-width: 320px) {
  #header, .header-inner { background: none repeat scroll 0% 0% rgb(6, 41, 132); }
}
@media only screen and (min-width: 321px) and (max-width: 480px) {
  #header, .header-inner { background: none repeat scroll 0% 0% rgb(6, 41, 132); }
}
@media only screen and (min-width: 481px) and (max-width: 768px) {
  #header, .header-inner { background: none repeat scroll 0% 0% rgb(6, 41, 132); }
}
#site-name a, .region-header #block-user-login label { color: rgb(254, 255, 255); }
#menu-bar, #primary-menu-bar { background-color: rgb(6, 41, 132); }
.region-header .form-text, .region-header .form-submit { border-color: rgb(75, 92, 195); }
#footer { background: -moz-linear-gradient(-90deg, rgb(24, 24, 24), rgb(52, 52, 52)) repeat scroll 0% 0% rgb(24, 24, 24); }
#footer, #footer a { color: rgb(255, 250, 252); }
.block-title { color: rgb(85, 85, 85); background: none repeat scroll 0% 0% rgb(255, 255, 255); }
#comments .odd { background: none repeat scroll 0% 0% rgb(255, 255, 255); }
.at-mt .at-menu-toggle h2 a, .menu-wrapper li a, .menu-wrapper li a:hover, .menu-wrapper li a:focus { color: rgb(255, 255, 254); }
body, #branding, #header .h-group { padding: 0px; margin: 0px; }
#columns { padding-top: 15px; clear: both; }
#main-content, .block-inner, .pane-inner, .menu-wrapper, .branding-elements, .breadcrumb-wrapper, .attribution, .at-panel .rounded-corner, .block-panels-mini > .block-title, div.messages { margin-left: 10px; margin-right: 10px; }
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
.three-3x33 { margin: 15px 0px 0px; }
#skip-link { left: 50%; margin-left: -6.5em; margin-top: 0px; padding: 0px 0.5em; position: absolute; width: 12em; z-index: 50; }
#skip-link a, #skip-link a:link, #skip-link a:visited { background: none repeat scroll 0% 0% rgba(0, 0, 0, 0.6); color: rgb(255, 255, 255); display: block; line-height: 2; padding: 0px; text-align: center; text-decoration: none; border-radius: 0px 0px 10px 10px; }
#skip-link a:hover, #skip-link a:active, #skip-link a:focus { outline: 0px none; }
body { line-height: 1.5; }
img { max-width: 100%; height: auto; }
a img { border: 0px none; }
ins { border-bottom: 0px none; text-decoration: none; }
strong, dfn, caption, th { font-weight: 700; }
ul, ol { margin: 0px 0px 1.5em 30px; padding: 0px; }
ul ul, ul ol, ol ol, ol ul, .block ul ul, .block ul ol, .block ol ol, .block ol ul, .item-list ul ul, .item-list ul ol, .item-list ol ol, .item-list ol ul { margin: 0px 0px 0px 1em; }
ul { list-style-type: disc; }
ul ul, ul ul ul ul { list-style-type: circle; }
.item-list ul, .item-list ol { margin: 0px 0px 0px 30px; padding: 0px; }
.block .menu li { margin: 0px; }
h1, h2, h3, h4, h5, h6 { margin-bottom: 0.4em; }
h1 { font-size: 1.416em; }
h2 { font-size: 1.25em; }
p { margin-top: 0.4em; margin-bottom: 0.8em; padding: 0px; }
fieldset legend, .form-item label { font-size: 1em; font-weight: bold; }
.node .node-content, .comment .comment-content { line-height: 1.5em; }
h1#page-title { padding: 0px; margin: 0px 0px 0.46em; }
img { max-width: 100%; height: auto; }
img, embed, object, video { max-width: 100%; }
a, a.active { text-decoration: none; }
a:hover, a.active:hover, a:focus, a.active:focus { text-decoration: underline; }
#header { margin: 0px; padding: 0px; }
#branding { float: left; padding: 0px; width: 49.5%; }
#logo { display: block; float: left; margin: 0px 10px 0px 0px; overflow: hidden; padding: 10px 0px 0px 10px; }
#header, #branding { max-height: 88px; line-height: 1; }
.noggin-header #header, #branding { max-height: none; }
#site-name { font-size: 2.6em; margin: 0px; padding: 13px 0px 0px; overflow: hidden; line-height: 1.3em; }
.region-header { float: right; margin: 10px 0px 0px; }
.region-header .block { float: left; margin: 0px auto; }
.region-header #block-search-form, .region-header #block-user-login.lb-h { padding: 0px; margin: 10px 0px 0px 10px; }
.region-header #block-search-form input.form-text { width: 160px; }
#menu-bar { clear: both; min-height: 2.5em; line-height: 2.5em; padding: 0px; z-index: 100; position: relative; }
#menu-bar ul { padding: 0px; }
#menu-bar ul ul { padding: 0px; }
#menu-bar ul, #menu-bar ul li { margin: 0px; list-style: none outside none; }
#menu-bar ul li { float: left; padding: 0px; }
#menu-bar ul li a { font-weight: bold; padding: 0px 10px; }
#menu-bar ul.sf-menu li a { padding: 0px 15px; }
#menu-bar ul.menu li a:hover { background: none repeat scroll 0% 0% transparent; }
#menu-bar .block, #menu-bar .block-inner, #menu-bar .block-inner .block-content { background: none repeat scroll 0% 0% transparent; padding: 0px; margin: 0px; }
#main-content .node { margin: 0px 0px 15px; padding: 0px; }
.node .submitted { margin-top: 3px; padding: 0px; }
.node .node-content { margin: 10px 0px; }
.node nav { clear: both; }
.node ul.links li { margin: 0px 0.25em; padding: 0px; float: right; }
.node h2.field-label { font-size: 1em; border-bottom: 0px none; }
#comments h2 { border-bottom: 0px none; }
.comment { border: 0px none; margin: 0px 0px 10px; padding: 10px; }
.comment ul.links { float: right; }
.block { margin-bottom: 10px; }
.block-title { margin: 0px; padding: 5px 10px 4px; }
.block .item-list ul { margin-left: 0px; }
.block ul.links { margin: 0px; padding: 0px 0px 5px; }
.block ul.links li { font-size: 0.94em; }
.block .node { padding: 5px 5px 0px; }
#block-search-form form { margin: 0px; }
#block-system-main { margin-bottom: 15px; }
.field .field-label { font-size: 1em; font-weight: 700; line-height: inherit; margin: 0px; }
ul ul { margin-left: 15px; }
li a, li a:visited, li a:active, li a:hover { font-weight: normal; }
.item-list ul li { margin-left: 1em; }
ul.links li { margin: 0px; padding: 0px 2px; }
.comment .links { margin-bottom: 0px; }
.submitted { font-size: 0.9em; }
.links a { font-weight: normal; }
#footer { font-size: 0.92em; text-align: center; border: 0px none; }
#footer-inner { min-height: 88px; background-size: 100% auto; }
#footer a { text-decoration: none; font-weight: normal; }
#footer .block { padding: 10px 0px 0px; }
#content, .nav, #sidebar-first, #sidebar-second, #footer { overflow: visible; word-wrap: break-word; }
.form-submit { cursor: pointer; padding: 2px 10px; margin: 4px; color: rgb(102, 102, 102); font-weight: normal; font-size: 1em; border: 1px solid rgb(136, 136, 136); background: url("button.gif") repeat-x scroll center center rgb(255, 255, 255); }
.form-submit:hover { color: rgb(0, 0, 0); border: 1px solid rgb(102, 102, 102); background: url("button-o.gif") repeat-x scroll center center rgb(255, 255, 255); }
ul.menu { margin: 0px 0px 0px 15px; padding: 0px; }
ul.menu ul { margin-left: 15px; }
.nav .block-superfish { padding: 0px; margin: 0px; }
ul.sf-menu.sf-navbar { padding: 0px; position: absolute; z-index: 99; }
ul.sf-menu.sf-navbar a { height: 2.5em; padding: 0px 10px; border-left: 0px none; border-top: 0px none; }
ul.sf-menu.sf-navbar a:hover, ul.sf-menu.sf-navbar a:focus, ul.sf-menu.sf-navbar ul ul a:hover, ul.sf-menu.sf-navbar ul ul a:focus, ul.sf-menu.sf-navbar ul ul ul a:hover, ul.sf-menu.sf-navbar ul ul ul a:focus, ul.sf-menu.sf-navbar ul ul ul ul a:hover, ul.sf-menu.sf-navbar ul ul ul ul a:focus { text-decoration: none; }
ul.sf-menu.sf-navbar ul a:hover, ul.sf-menu.sf-navbar ul a:focus { text-decoration: underline; }
ul.sf-menu.sf-navbar li { margin: 0px; padding: 0px; }
ul.sf-menu.sf-navbar li:hover ul, ul.sf-menu.sf-navbar li.sfHover ul { top: 2.5em; }
table { border-spacing: 0px; border-color: rgb(238, 238, 238); margin: 1em 0px; padding: 0px; width: 100%; }
table, td, th { vertical-align: middle; }
caption, th, td { text-align: left; }
thead th { border-bottom: 1px solid rgb(238, 238, 238); color: rgb(73, 73, 73); font-weight: 700; }
td, th { border-bottom: 0px none; margin: 0px; padding: 0.375em 0.5em; }
tr.even, tr.odd { border-bottom: 0px none; }
tr.odd, tr.info { background-color: rgb(245, 245, 245); }
tr.even { background-color: rgb(255, 255, 255); }
table, tr, td, thead, tbody { border-spacing: 0px; border-collapse: collapse; border-width: 0px; }
table { font-size: 1em; width: 100%; margin: 0px 0px 10px; }
form { margin: 0px 0px 1.5em; padding: 0px; }
.form-item label { font-weight: 400; }
input { margin: 0.5em 0px; max-width: 100%; }
input.text, input.title, textarea, select { border: 1px solid rgb(204, 204, 204); margin: 0.5em 0px; }
select { padding: 2px; }
.form-text:focus, .form-checkbox:focus, .form-radio:focus, .form-select:focus { border: 1px solid rgb(255, 204, 0); background: none repeat scroll 0% 0% rgb(255, 255, 223); }
input.form-text, textarea { border: 1px solid rgb(204, 204, 204); height: auto; padding: 2px; max-width: 100%; }
textarea, input { font: 1em normal Arial,Helvetica,sans-serif; }
.form-item .description, fieldset .description, .fieldset-layout-settings dd { font-size: 0.9em; }
#search-block-form .form-text { width: 119px; }
#user-login-form ul { margin: 0px; padding: 0px; }
#user-login-form .item-list li { list-style: none outside none; margin: 0px; }
.description { color: rgb(85, 85, 85); }
.bb-n .texture-overlay { background-image: none; }
input.form-submit, input.form-text, .rc-4 .node-teaser, .rc-4 .comment, .rc-4 .block-inner { border-radius: 4px 4px 4px 4px; }
.block a.dropdown-toggle.block-toggle { display: none; }
#page #header .header-inner { background: linear-gradient(to bottom, rgb(53, 106, 160) 0px, rgb(53, 106, 160) 100%) repeat scroll 0% 0% transparent; }
#menu-bar #superfish-1 li span.nolink, #menu-bar #superfish-1 li a { font-size: 15px; font-weight: normal; line-height: normal; display: block; color: rgb(255, 255, 255); cursor: pointer; height: auto; padding: 10px 15px; }
#mobile-nav { background: url("mobile-menu.png") no-repeat scroll 8px 16px rgb(95, 148, 201); display: block; height: 50px; width: 45px; float: left; text-indent: -999px; overflow: hidden; }
#mobile-menu { float: right; }
#mobile-menu span { background: url("mobile-menu.png") no-repeat scroll 8px 16px rgb(95, 148, 201); display: block; height: 50px; width: 45px; float: left; text-indent: -999px; overflow: hidden; margin-right: 1px; }
#mobile-menu span.mobile-socialmenu { background-position: -30px 14px; }
#mobile-menu span.mobile-search { background-position: -79px 14px; }
#mobile-menu, #mobile-nav, #logomobile { display: none; }
.track4 { width: 1px; right: 0px; }
.track4:active, .track4 { background: none repeat scroll 0% 0% rgb(255, 255, 255); left: 6px; }
.handle4 { width: 7px; background: none repeat scroll 0% 0% rgb(77, 127, 210); left: -3px; border-radius: 2px 2px 2px 2px; }
.handle4:hover { background: none repeat scroll 0% 0% rgb(77, 127, 210); }
.dragging .handle4, .handle4:active { background: none repeat scroll 0% 0% rgb(77, 127, 210); }
#block-user-login { margin-top: 18px; }
#block-user-login h2.block-title { color: rgb(255, 255, 255); text-decoration: none; cursor: pointer; padding: 6px 10px; background: none repeat scroll 0% 0% rgb(19, 39, 60); font-size: 12px; font-weight: normal; border-radius: 8px 8px 8px 8px; }
#block-user-login .content { position: absolute; top: 80px; left: 0px; background: none repeat scroll 0% 0% rgb(19, 39, 60); z-index: 999; display: none; width: 100%; padding: 14px 0px 10px; }
#user-login-form { width: 800px; position: relative; margin-bottom: 0px; float: right; margin-right: 0px; }
#block-user-login label, #block-user-login .form-item-cookieuser { display: none; }
#block-user-login .form-submit { margin-top: 2px; }
#block-user-login .form-item, #block-user-login .form-actions { margin-top: 3px; margin-bottom: 3px; position: relative; }
#block-user-login .form-actions, #block-user-login .form-text, #block-user-login .form-checkbox { float: left; }
#block-user-login .form-text { width: 150px; box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.3) inset; border: 0px none; margin: 4px 8px 0px 0px; padding: 5px 10px; }
#block-user-login .form-item-name, #block-user-login .form-item-pass { float: left; }
#user-login-form .item-list { float: right; margin-top: 2px; margin-right: 10px; }
#user-login-form .item-list ul:after { content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0px; }
#user-login-form .item-list ul li { list-style: none outside none; float: left; margin: 0px; }
#user-login-form .item-list ul li.first { margin-right: 10px; }
#user-login-form .item-list ul li a { background: none repeat scroll 0% 0% transparent; color: rgb(255, 255, 255); display: block; border-radius: 6px 6px 6px 6px; text-decoration: none; }
.region-header #block-search-form input.form-text { box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.3) inset; border: 0px none; margin: 0px; padding: 5px 10px; }
#block-user-login .form-submit, .region-header #block-search-form input.form-submit { background: none repeat scroll 0% 0% rgb(255, 204, 51); display: inline-block; outline: 0px none; cursor: pointer; text-align: center; text-decoration: none; text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.3); border-radius: 0.5em 0.5em 0.5em 0.5em; box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2); border: 0px none; height: 30px; padding: 0px 13px; color: white; }
form input.form-text, form textarea { background: none repeat scroll 0% 0% rgb(255, 255, 255); border: 1px solid rgb(205, 205, 205); color: rgb(51, 51, 51) ! important; font-size: 12px; padding: 8px 5px; }
#header #branding { width: 32%; }
@media only screen and (min-width: 1001px) and (max-width: 2560px) {
  #header { position: relative; }
  #block-superfish-1 { height: 38px ! important; }
  #header { top: auto ! important; }
  div#menu-bar #block-superfish-1 { height: 40px; width: 99% ! important; }
  #menu-bar #block-superfish-1 ul li span.nolink, #menu-bar #block-superfish-1 ul li.menuparent a { padding: 10px 25px 10px 15px; }
  div#menu-bar { min-height: 40px; margin-left: 0px ! important; }
}
@media only screen and (min-width: 700px) and (max-width: 768px) {
}
@media only screen and (min-width: 500px) and (max-width: 699px) {
}
@media only screen and (min-width: 481px) and (max-width: 499px) {
}
@media only screen and (max-width: 480px) {
}
@media only screen and (max-width: 480px) {
}
@media (max-width: 480px) {
}
@media (max-width: 480px) {
  form input.form-text, form textarea { width: 90%; }
}
@media only screen and (min-width: 1001px) {
  #block-user-login .form-submit, .region-header #block-search-form input.form-submit, #block-user-login h2.block-title, #user-login-form .item-list ul li a { box-shadow: 0px 1px 0px 0px rgb(255, 255, 255) inset; background: -moz-linear-gradient(center top , rgb(237, 237, 237) 5%, rgb(206, 206, 206) 100%) repeat scroll 0% 0% rgb(237, 237, 237); border-radius: 4px 4px 4px 4px; border: 1px solid rgb(220, 220, 220); display: inline-block; color: rgb(0, 0, 0); font-family: Tahoma,Arial,Helvetica,sans-serif; font-size: 8pt; font-weight: normal; padding: 2px 14px; text-decoration: none; text-shadow: 1px 1px 0px rgb(255, 255, 255); }
  #block-user-login .form-submit:hover, .region-header #block-search-form input.form-submit:hover, #block-user-login h2.block-title:hover, #user-login-form .item-list ul li a:hover { background: -moz-linear-gradient(center top , rgb(206, 206, 206) 5%, rgb(237, 237, 237) 100%) repeat scroll 0% 0% rgb(223, 223, 223); color: rgb(0, 0, 0); }
  #block-user-login h2.block-title { margin-top: 4px; padding: 9px 10px 8px; }
  #user-login-form .item-list ul li a { padding: 9px 10px; }
  .region-header #block-search-form, .region-header #block-user-login.lb-h { margin-left: 0px; }
  #header div#block-block-58 { margin-right: 4%; margin-left: -4%; }
}
@media only screen and (max-width: 1000px) {
  #logomobile { margin-left: 0px ! important; width: 96px; margin-top: 5px; }
  .at-panel .region { width: 100% ! important; clear: both; margin-bottom: 20px; }
  #header { background: none repeat scroll 0% 0% transparent; }
  #page #menu-bar { width: 250px; background: none repeat scroll 0% 0% rgb(19, 39, 60); position: fixed; right: 0px; top: 0px; height: 100%; z-index: 9; left: -250px; }
  #page #menu-bar, #page #header .header-inner { transition: all 0.4s ease 0s; }
  body div#page { transition: all 0.4s ease 0s; margin-left: 0px; width: 100%; }
  #header { position: relative; top: 0px ! important; width: 100%; }
  #page #header .header-inner { position: fixed; top: 0px; left: 0px; width: 100%; z-index: 999; }
  #page #header .region-header { float: none ! important; margin: 0px ! important; }
  #page #header .header-inner { padding-bottom: 0px; }
  #page { position: relative; }
  #mobile-menu, #mobile-nav, #logomobile { display: block; }
  #branding #logo { display: none; }
  #header #branding { width: auto; margin: 0px; float: left; clear: none; }
  #menu-bar:after, #block-superfish-1:after, #superfish-1 li ul li:after, #superfish-1 li ul:after { content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0px; }
  #block-superfish-1 { width: 250px; }
  #superfish-1 li { background: none repeat scroll 0% 0% rgb(51, 51, 51); position: relative; clear: both; width: 250px ! important; margin-bottom: 0px ! important; }
  #menu-bar .menu-wrapper #superfish-1 li ul { background: none repeat scroll 0% 0% rgb(51, 51, 51); padding: 5px; width: auto ! important; top: 0px ! important; position: relative; height: auto ! important; opacity: 1 ! important; overflow: visible ! important; margin-left: 0px; display: none; }
  #menu-bar .menu-wrapper #superfish-1 li ul { padding: 0px; }
  #menu-bar .menu-wrapper #superfish-1 li a { height: auto ! important; min-height: 17px; }
  #menu-bar #superfish-1 li span.nolink, #menu-bar #superfish-1 li a { padding: 15px; border-bottom: 1px solid rgb(101, 101, 101); }
  #superfish-1 li ul li { padding: 0px; clear: both; position: relative; display: block; }
  #superfish-1 li a { display: block; }
  #block-superfish-1 { position: relative; }
  #superfish-1 li ul li a { line-height: 21px; }
  #menu-bar .menu-wrapper ul > li { border-bottom: 0px none; }
  #menu-bar .menu-wrapper ul { border-bottom: 0px none ! important; }
  #page #menu-bar, #menu-bar, #menu-bar #block-superfish-1 { background: none repeat scroll 0% 0% rgb(51, 51, 51); }
  #superfish-1 li .mobnav-subarrow { display: block; background: url("mobile-sub-menu.png") no-repeat scroll 14px 18px rgb(51, 51, 51); border-right: 1px solid rgb(101, 101, 101); border-left: 1px solid rgb(101, 101, 101); -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; height: 47px; width: 40px; position: absolute; right: 10px; cursor: pointer; z-index: 999; top: 0px; border-width: 0px 1px; border-style: none solid; border-color: -moz-use-text-color rgb(101, 101, 101); }
  #menu-bar .menu-wrapper #superfish-1 ul { display: none ! important; left: 0px ! important; }
  #menu-bar a.handle4 { background: none repeat scroll 0% 0% rgb(102, 102, 102); }
  #superfish-1 li { background: none repeat scroll 0% 0% rgb(51, 51, 51); }
  #superfish-1 li li { background: none repeat scroll 0% 0% rgb(68, 68, 68); }
  #superfish-1 li .mobnav-subarrow { background-color: rgb(51, 51, 51); }
  #menu-bar #block-superfish-1 { height: 100%; overflow-y: scroll; overflow-x: hidden; position: relative; width: 239px ! important; }
  #block-user-login { margin: 0px; float: right; clear: both; }
  #block-user-login h2.block-title { background: url("mobile-menu.png") no-repeat scroll -154px 13px rgb(95, 148, 201); display: block; padding: 15px 5px 0px 11px; height: 35px; float: right; text-indent: -999px; overflow: hidden; width: 24px; border-bottom: 0px none; margin: 0px 0px 0px -1px; border-radius: 0px 0px 0px 0px; position: relative; left: 10px; }
  #block-block-57, #block-search-form { display: none; }
  .not-logged-in #mobile-menu { margin-right: 40px; }
  #header, #header .header-inner { height: 50px; }
  #header .region-header #block-search-form { margin: 0px; }
  #block-block-57, #block-search-form { background: none repeat scroll 0% 0% rgb(19, 39, 60); position: absolute; width: 100%; top: 50px; margin: 0px; }
  #user-login-form { width: 100%; }
  #block-user-login .content { top: 50px; }
  #user-login-form > div:after { content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0px; }
  #user-login-form > div { padding-left: 20px; }
  #columns .columns-inner { clear: both; }
  div#block-user-login { position: absolute; right: 0px; top: 0px; z-index: 2; width: 30px; }
  #block-user-login .content { position: fixed; }
  #block-block-58 { float: right; }
  #block-block-58 img { width: auto; height: 44px; padding-top: 2px; }
  #page #menu-bar .menu-wrapper #superfish-1 li a:hover { text-decoration: none; }
  #user-login-form .item-list ul li a { box-shadow: 0px 1px 0px 0px rgb(255, 255, 255) inset; background: -moz-linear-gradient(center top , rgb(237, 237, 237) 5%, rgb(206, 206, 206) 100%) repeat scroll 0% 0% rgb(237, 237, 237); border-radius: 4px 4px 4px 4px; border: 1px solid rgb(220, 220, 220); display: inline-block; color: rgb(0, 0, 0); font-family: Tahoma,Arial,Helvetica,sans-serif; font-size: 8pt; font-weight: normal; padding: 10px 14px; text-decoration: none; text-shadow: 1px 1px 0px rgb(255, 255, 255); }
  #block-user-login .form-text { padding: 8px 3%; width: 90%; margin-right: 0px; }
}
@media (max-width: 660px) {
  #block-user-login .form-text { padding: 10px 3%; width: 90%; margin-right: 0px; }
  #block-user-login .form-item { width: 48%; margin-right: 0px; }
  #block-user-login .item-list { clear: both; float: left; }
  #block-user-login .form-actions { float: right; margin-right: 10px; }
  #slidead-popup { visibility: hidden; opacity: 0; }
}
@media (max-width: 540px) {
  #block-block-58 { display: none; }
  #block-user-login .form-item-name, #block-user-login .form-item-pass { width: 50%; float: left; margin-bottom: 10px; }
}
@media (max-width: 360px) {
}
#header .region-header .block { margin: 0px 10px 0px 0px; }
#header .region-header { margin: 20px 10px 0px; }
#pop-close span { font-size: 14px; font-weight: normal; }
#slidead-popup { right: 0px; width: 300px; display: none; }
@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation: portrait) {
  #superfish-1 li .mobnav-subarrow { height: 49px; }
}
.view-currently-popular-customized .more-link { margin: 8px; }
@media only screen and (min-width: 1001px) {
}
#comments .comment { padding: 0px; }
.node-content .sharethis-buttons { padding: 0px 0px 10px; }
.curr-pop { padding: 0px 2px; }
.view-currently-popular-customized table td { padding-left: 12px; }
nav.clearfix ul.links.inline { position: relative; display: block; margin-bottom: 20px; }
nav.clearfix ul.links.inline:after { content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0px; }
.node ul.links li { float: left; }
.region-sidebar-second .region-inner { padding: 0.375em 0.8em; }
body { text-shadow: 0px 0px 0px rgb(51, 51, 51); }
:hover, :focus, :active, a:hover, a:focus, a:active { outline: 0px none; }
#slidead-popup { border-left: 10px solid rgb(53, 106, 160); text-align: left; }
#slidead-popup span.field-content { margin-left: 0px ! important; }
#slidead-popup .views-field-nothing { margin-top: -12px; }
#slidead-popup .views-field-title { font-weight: bold; font-size: 14px; line-height: normal; margin: 10px 0px; border-bottom: 1px solid rgb(204, 204, 204); padding-bottom: 10px; }
#slidead-popup form input { padding: 4px 6px; }
#slidead-popup form p { margin: 0px; line-height: normal; }
#slidead-popup form input[type="submit"] { background: none repeat scroll 0% 0% rgb(53, 106, 160); border: 2px solid rgb(53, 106, 160); color: rgb(255, 255, 255); border-top-right-radius: 5px; border-bottom-right-radius: 5px; margin-left: -6px; }
#slidead-popup #pop-close span { background: none repeat scroll 0% 0% rgb(53, 106, 160); color: rgb(255, 255, 255); width: 14px; height: 22px; text-align: center; border-radius: 22px 22px 22px 22px; border: 0px none; }
#slidead-popup form p.bold-text { font-size: 14px; font-weight: bold; color: rgb(0, 0, 0); }
#slidead-popup form input[type="text"] { border-radius: 5px 5px 5px 5px; box-shadow: 2px 2px 3px rgba(139, 139, 139, 0.5) inset; }
#right-slidead-popup { border: 1px solid rgb(53, 106, 160); background: none repeat scroll 0% 0% rgb(255, 255, 255); padding: 10px; margin-top: 10px; margin-bottom: 6px; border-radius: 6px 6px 6px 6px; text-align: left; }
#right-slidead-popup form input { padding: 4px 6px; }
#right-slidead-popup form p { margin: 0px; line-height: normal; }
#right-slidead-popup form { margin: 0px; }
#right-slidead-popup form input[type="submit"] { background: none repeat scroll 0% 0% rgb(53, 106, 160); border: 2px solid rgb(53, 106, 160); color: rgb(255, 255, 255); border-top-right-radius: 5px; border-bottom-right-radius: 5px; margin-left: -6px; }
#right-slidead-popup form p.bold-text { font-size: 12px; font-weight: bold; color: rgb(0, 0, 0); }
#right-slidead-popup form input[type="text"] { border-radius: 5px 5px 5px 5px; box-shadow: 2px 2px 3px rgba(139, 139, 139, 0.5) inset; }
html { background: none repeat scroll 0% 0% rgb(220, 220, 220); }
.block-title { border-bottom: 1px solid rgb(32, 50, 84); font-weight: normal; padding: 4px 8px; }
@media only screen and (max-width: 600px) {
  #menu-bar { padding: 0px; margin: 0px; position: absolute; width: 280px; left: 230px; top: 20px; }
}
@media only screen and (max-width: 480px) {
  #menu-bar { padding: 0px; margin: 0px; position: absolute; width: 200px; left: 160px; top: 0px; }
}
@media only screen and (max-width: 320px) {
  #menu-bar { padding: 0px; margin: 0px; position: absolute; width: 150px; left: 130px; top: 0px; }
}
@media only screen and (max-width: 800px) {
}
@media only screen and (max-width: 1600px) {
}
@media only screen and (max-width: 480px) {
  .region-header #block-search-form { margin-left: 0px; }
  #logo { display: none; }
  #logomobile { display: block; margin-left: 10px; }
}
@media only screen and (min-width: 481px) {
  #logo { display: block; }
}
#branding, #header .region-header { width: auto ! important; clear: none ! important; }
#branding { float: left ! important; }
#header .region-header { float: right ! important; }
@media screen and (max-width: 480px) {
  body { font-family: Verdana,Geneva,'DejaVu Sans',Arial,Helvetica,sans-serif; font-size: 16px; }
}
@media screen and (min-width: 481px) and (max-width: 1000px) {
  body { font-family: Verdana,Geneva,'DejaVu Sans',Arial,Helvetica,sans-serif; font-size: 15px; }
}
.description { font-style: italic; }
#comments h2 { border-top: 1px solid rgb(221, 221, 221); font-size: 1.5em; font-weight: normal; padding-top: 10px; margin-top: 40px; }
.index-block a { float: left; border: 1px solid rgb(221, 221, 221); margin: 6px; width: 250px; height: 48px; overflow: hidden; padding: 2px; color: rgb(48, 48, 48); text-decoration: none; }
.index-block a:hover { text-decoration: none; background-color: rgb(242, 246, 249); }
.index-block span { display: table-cell; height: 48px; vertical-align: middle; }
.field .field-label { font-family: Verdana,Geneva,"DejaVu Sans",Arial,Helvetica,sans-serif; }
.form-item label { font-weight: bold; }
@font-face {
  font-family: "icomoon";
  font-style: normal;
  font-weight: 400;
  src: url("icomoon.eot") format("embedded-opentype"), url("icomoon.woff") format("woff"), url("icomoon.ttf") format("truetype"), url("icomoon.svg") format("svg");
}
[class*=" icon-"], [class^="icon-"] { font-family: icomoon; font-style: normal; font-weight: 400; font-variant: normal; text-transform: none; line-height: 1; }
.icon-Final-freeware:before { content: ""; }
@font-face {
  font-family: "FontAwesome";
  font-style: normal;
  font-weight: normal;
  src: url("fontawesome-webfont.eot") format("embedded-opentype"), url("fontawesome-webfont.woff2") format("woff2"), url("fontawesome-webfont.woff") format("woff"), url("fontawesome-webfont.ttf") format("truetype"), url("fontawesome-webfont.svg") format("svg");
}
.fa { display: inline-block; font-family: FontAwesome; font-style: normal; font-variant: normal; font-weight: normal; line-height: 1; font-size-adjust: none; font-stretch: normal; -moz-font-feature-settings: normal; -moz-font-language-override: normal; font-size: inherit; text-rendering: auto; }
.fa-2x { font-size: 2em; }
.fa-3x { font-size: 3em; }
.fa-fw { width: 1.28571em; text-align: center; }
@keyframes fa-spin {
0% { transform: rotate(0deg); }
100% { transform: rotate(359deg); }
}
.fa-lock:before { content: ""; }
.fa-book:before { content: ""; }
.fa-check-square-o:before { content: ""; }
.fa-warning:before, .fa-exclamation-triangle:before { content: ""; }
.fa-twitter-square:before { content: ""; }
.fa-facebook-square:before { content: ""; }
.fa-globe:before { content: ""; }
.fa-google-plus-square:before { content: ""; }
.fa-envelope:before { content: ""; }
.fa-tablet:before { content: ""; }
.fa-mobile-phone:before, .fa-mobile:before { content: ""; }
.fa-shield:before { content: ""; }
.fa-rss-square:before { content: ""; }
.fa-apple:before { content: ""; }
.fa-windows:before { content: ""; }
.fa-android:before { content: ""; }
.fa-linux:before { content: ""; }
.fa-file-movie-o:before, .fa-file-video-o:before { content: ""; }
@media only screen and (min-width: 321px) and (max-width: 480px) {
  .container { width: 100%; }
  .two-sidebars .content-inner, .one-sidebar .content-inner, .region-sidebar-first, .region-sidebar-second { margin-left: 0px; margin-right: 0px; }
  .region-sidebar-second { width: 50%; }
  .one-sidebar .sidebar { width: 100%; }
  .region-sidebar-first, .region-sidebar-second { overflow: hidden; margin-top: 20px; float: left; clear: none; }
  .region-sidebar-first.block, .region-sidebar-second .block { width: 100%; }
  .at-panel .region { display: inline; float: left; }
  .three-25-25-50 > .region, .three-25-50-25 > .region, .three-3x33 > .region, .three-50-25-25 > .region, .two-brick > .panel-row > .region, .two-66-33 > .region, .two-50 > .region, .two-33-66 > .region, .five-5x20 > .panel-row > .region, .five-5x20 > .panel-row, .six-6x16 > .panel-row > .region, .six-6x16 > .panel-row, .three-inset-right > .inset-wrapper, .three-inset-right > .inset-wrapper > .region, .three-inset-right > .region-three-inset-right-sidebar, .three-inset-left > .inset-wrapper, .three-inset-left > .inset-wrapper > .region, .three-inset-left > .region-three-inset-left-sidebar, .four-4x25 > .panel-row > .region, .four-4x25 > .panel-row { float: none; display: block; width: 100%; clear: both; }
}
@media only screen and (min-width: 481px) and (max-width: 768px) {
  .container { width: 100%; }
  .two-sidebars .content-inner, .one-sidebar .content-inner, .region-sidebar-first, .region-sidebar-second { margin-left: 0px; margin-right: 0px; }
  .region-sidebar-second { width: 50%; }
  .one-sidebar .sidebar { width: 100%; }
  .region-sidebar-first, .region-sidebar-second { overflow: hidden; margin-top: 20px; float: left; clear: none; }
  .region-sidebar-first.block, .region-sidebar-second .block { width: 100%; }
  .at-panel .region { display: inline; float: left; }
  .three-3x33 > .region, .three-50-25-25 > .region-three-50-25-25-second, .three-50-25-25 .region-three-50-25-25-third, .two-brick > .panel-row > .region, .two-50 > .region, .five-5x20 > .panel-row > div.region, .four-4x25 > .panel-row > .region { width: 50%; }
}
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .container { width: 100%; }
  #content-column, .content-column, div.sidebar { float: left; clear: none; }
  .sidebar-second .content-inner { margin-right: 20%; margin-left: 0px; }
  .region-sidebar-second { width: 20%; margin-left: -20%; }
  .at-panel .region { display: inline; float: left; }
  .three-3x33 > .region, .two-66-33 > .region-two-66-33-second, .two-33-66 > .region-two-33-66-first, .five-5x20 > .panel-row > .region, .three-inset-right > .inset-wrapper > div.region-three-inset-right-inset, .three-inset-left > .inset-wrapper > div.region-three-inset-left-inset { width: 33.3333%; }
}
@media only screen and (min-width: 1025px) {
  .container { width: 100%; max-width: 1140px; }
  #content-column, .content-column, div.sidebar { float: left; clear: none; }
  .sidebar-second .content-inner { margin-right: 25%; margin-left: 0px; }
  .region-sidebar-second { width: 25%; margin-left: -25%; }
  .at-panel .region { display: inline; float: left; }
  .three-3x33 > .region, .two-66-33 > .region-two-66-33-second, .two-33-66 > .region-two-33-66-first, .five-5x20 > .panel-row > .region, .three-inset-right > .inset-wrapper > div.region-three-inset-right-inset, .three-inset-left > .inset-wrapper > div.region-three-inset-left-inset { width: 33.3333%; }
}
@media screen {
  body, .ui-widget { font-size: 81.3%; font-family: Verdana,Geneva,'DejaVu Sans',Arial,Helvetica,sans-serif; }
  #site-name { font-size: 2em; font-family: 'Trebuchet MS','Helvetica Neue',Arial,Helvetica,sans-serif; }
  #page-title { font-size: 2em; font-family: 'Trebuchet MS','Helvetica Neue',Arial,Helvetica,sans-serif; }
  .comment-title { font-size: 1.4em; font-family: 'Trebuchet MS','Helvetica Neue',Arial,Helvetica,sans-serif; }
  .block-title { font-size: 1.4em; font-family: 'Trebuchet MS','Helvetica Neue',Arial,Helvetica,sans-serif; }
  h1, h2, h3, h4 { font-family: 'Trebuchet MS','Helvetica Neue',Arial,Helvetica,sans-serif; }
  h1 { font-size: 2em; }
  h2 { font-size: 1.6em; }
  #menu-bar .menu-wrapper, #primary-menu-bar .menu-wrapper { font-family: 'Trebuchet MS','Helvetica Neue',Arial,Helvetica,sans-serif; }
}
