/* Code tidied up by ScrapBook */
.dgd_stb_box, .dgd_stb_tab { z-index: 100000; display: none; position: fixed; }
.dgd_stb_box_close { display: inline-block; position: absolute; cursor: pointer; top: 15px; right: 15px; }
.dgd_stb_box_x { font-weight: 900; z-index: 20000000; }
.dgd_stb_box_x:before { content: "×"; }
.dgd_overlay { z-index: 99999; position: absolute; right: 0px; top: 0px; margin: 0px; background: none repeat scroll 0% 0% rgb(0, 0, 0); opacity: 0.3; width: 100%; height: auto; overflow: hidden; display: none; }
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0px; padding: 0px; border: 0px none; font: inherit; vertical-align: baseline; }
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
ol, ul { list-style: none outside none; }
body { background: none repeat scroll 0% 0% rgb(234, 234, 234); font-size: 16px; line-height: 1.5em; color: rgb(102, 102, 102); font-weight: 300; }
*::-moz-selection { background: none repeat scroll 0% 0% rgb(59, 141, 189); color: rgb(255, 255, 255); }
a { color: rgb(59, 141, 189); text-decoration: none; outline: 0px none; }
a:hover { color: rgb(68, 68, 68); }
img { max-width: 100%; height: auto; }
a, a:before, a:after { transition-duration: 0.2s; transition-timing-function: ease; }
a img { transition: opacity 0.2s ease 0s; }
address, cite, em { font-style: italic; }
strong { font-weight: 600; }
.aligncenter { margin-left: auto; margin-right: auto; }
.clear { clear: both; display: block; overflow: hidden; visibility: hidden; width: 0px; height: 0px; }
.group:before, .group:after { content: ""; display: table; }
.group:after { clear: both; }
.group {  }
.fa { width: 1em; text-align: center; }
body { font-family: "Titillium",Arial,sans-serif; }
@font-face {
  font-family: "Titillium";
  font-style: normal;
  font-weight: 300;
  src: url("titillium-light-webfont.svg") format("svg"), url("titillium-light-webfont.eot") format("embedded-opentype"), url("titillium-light-webfont.woff") format("woff"), url("titillium-light-webfont.ttf") format("truetype");
}
@font-face {
  font-family: "Titillium";
  font-style: italic;
  font-weight: 300;
  src: url("titillium-lightitalic-webfont.svg") format("svg"), url("titillium-lightitalic-webfont.eot") format("embedded-opentype"), url("titillium-lightitalic-webfont.woff") format("woff"), url("titillium-lightitalic-webfont.ttf") format("truetype");
}
@font-face {
  font-family: "Titillium";
  font-style: normal;
  font-weight: 400;
  src: url("titillium-regular-webfont.svg") format("svg"), url("titillium-regular-webfont.eot") format("embedded-opentype"), url("titillium-regular-webfont.woff") format("woff"), url("titillium-regular-webfont.ttf") format("truetype");
}
@font-face {
  font-family: "Titillium";
  font-style: italic;
  font-weight: 400;
  src: url("titillium-regularitalic-webfont.svg") format("svg"), url("titillium-regularitalic-webfont.eot") format("embedded-opentype"), url("titillium-regularitalic-webfont.woff") format("woff"), url("titillium-regularitalic-webfont.ttf") format("truetype");
}
@font-face {
  font-family: "Titillium";
  font-style: normal;
  font-weight: 600;
  src: url("titillium-semibold-webfont.svg") format("svg"), url("titillium-semibold-webfont.eot") format("embedded-opentype"), url("titillium-semibold-webfont.woff") format("woff"), url("titillium-semibold-webfont.ttf") format("truetype");
}
input, textarea, button, select, label { font-family: inherit; }
.themeform input, .themeform textarea, .themeform button, .themeform select, .themeform label { font-size: 14px; }
.themeform input::-moz-focus-inner, .themeform button::-moz-focus-inner { border: 0px none; padding: 0px; }
.themeform input[type="text"], .themeform input[type="password"], .themeform input[type="email"], .themeform input[type="submit"], .themeform button, .themeform textarea { margin: 0px; box-sizing: border-box; border-radius: 0px 0px 0px 0px; }
.themeform input, .themeform textarea, .themeform button { -moz-appearance: none; transition: all 0.2s ease 0s; }
.themeform input[type="checkbox"] { -moz-appearance: checkbox; }
.themeform label { font-weight: 600; color: rgb(68, 68, 68); }
.themeform input[type="text"], .themeform input[type="password"], .themeform input[type="email"], .themeform textarea { background: none repeat scroll 0% 0% rgb(255, 255, 255); border: 2px solid rgb(221, 221, 221); color: rgb(119, 119, 119); display: block; max-width: 100%; outline: medium none; padding: 7px 8px; }
.themeform input[type="text"]:focus, .themeform input[type="password"]:focus, .themeform input[type="email"]:focus, .themeform textarea:focus { border-color: rgb(204, 204, 204); color: rgb(68, 68, 68); box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.1); }
.themeform label .required { color: rgb(59, 141, 189); }
.themeform input[type="submit"], .themeform button[type="submit"] { background: none repeat scroll 0% 0% rgb(59, 141, 189); color: rgb(255, 255, 255); padding: 8px 14px; font-weight: 600; display: inline-block; border: medium none; cursor: pointer; border-radius: 3px 3px 3px 3px; }
.themeform input[type="submit"]:hover, .themeform button[type="submit"]:hover { background: none repeat scroll 0% 0% rgb(68, 68, 68); }
.entry { font-size: 18px; line-height: 1.6em; }
.entry p, .entry dd { margin-bottom: 1em; }
.entry ol, .entry ul { margin: 0px 0px 15px 30px; }
.entry li { margin: 0px; }
.entry ol li, .entry ol ul ol li { list-style: square outside none; }
.entry code, .entry pre { font-family: Monaco,"Courier New","DejaVu Sans Mono","Bitstream Vera Sans Mono",monospace; font-size: 11px; }
.entry pre { padding: 18px 20px; margin: 30px 0px; border: 1px solid rgb(221, 221, 221); line-height: 19px; white-space: pre-wrap; word-wrap: break-word; overflow-x: auto; overflow-y: hidden; }
.entry code { background: none repeat scroll 0% 0% rgb(238, 238, 238); padding: 0px 3px; }
.entry ins { background: none repeat scroll 0% 0% rgb(255, 244, 134); }
.entry img.size-auto, .entry img.size-large, .entry img.size-medium, .entry attachment img { max-width: 100%; height: auto; }
.entry .wp-caption { background: none repeat scroll 0% 0% rgb(241, 241, 241); max-width: 100%; margin-bottom: 14px; padding-top: 5px; text-align: center; }
.entry .wp-caption-text { font-style: italic; }
.entry .wp-caption a { border-bottom: medium none; }
.entry .wp-caption img { margin: 0px; max-width: 100%; height: auto; }
.entry .wp-caption-text { color: rgb(153, 153, 153); font-size: 13px; padding: 0px 0px 8px; margin: 0px; }
h1, h2, h3, h4, h5, h6 { color: rgb(68, 68, 68); font-weight: 400; word-wrap: break-word; }
.entry h1, .entry h2, .entry h3, .entry h4, .entry h5, .entry h6 { margin-bottom: 14px; font-weight: 400; line-height: 1.3em; }
.entry h3 { font-size: 28px; letter-spacing: -0.5px; }
.entry h4 { font-size: 24px; letter-spacing: -0.3px; }
.entry h5 { font-size: 20px; font-weight: 600; }
.heading, #reply-title { font-size: 18px; text-transform: uppercase; font-weight: 600; margin-bottom: 1em; }
.heading i { font-size: 22px; margin-right: 6px; }
#wrapper { min-width: 1024px; height: 100%; }
.container { padding: 0px 20px; }
.container-inner { max-width: 1380px; min-width: 1380px; width: 100%; margin: 0px auto; }
.main { background-color: rgb(255, 255, 255) ! important; position: relative; }
.main-inner { position: relative; min-height: 600px; }
.content { width: 100%; position: relative; }
.pad { padding: 30px 30px 20px; }
.col-2cl .main-inner { background: url("s-right-s1.png") repeat-y scroll right 0px transparent; padding-right: 340px; }
.col-2cl .s1 { float: right; margin-right: -340px; }
.col-2cl .content { float: left; }
.sidebar { padding-bottom: 20px; position: relative; z-index: 2; }
.sidebar-top { padding: 15px 30px; }
.sidebar-toggle { display: none; text-align: center; cursor: pointer; width: 100%; height: 50px; box-shadow: 0px -1px 0px rgba(255, 255, 255, 0.1) inset; }
.sidebar-toggle i { font-size: 38px; color: rgb(255, 255, 255); padding: 5px 0px; }
.icon-sidebar-toggle:before { font-family: FontAwesome; }
.col-2cl .s1 .icon-sidebar-toggle:before, .col-3cl .s1 .icon-sidebar-toggle:before, .col-3cm .s2 .icon-sidebar-toggle:before, .col-3cl .s2 .icon-sidebar-toggle:before { content: ""; }
.s1 { width: 340px; z-index: 2; }
.s1:hover { z-index: 98; }
.s1 .sidebar-top, .s1 .sidebar-toggle { background: none repeat scroll 0% 0% rgb(59, 141, 189); }
@media only screen and (min-width: 479px) and (max-width: 960px) {
  .s1 .sidebar-top { background: none repeat scroll 0% 0% transparent ! important; border-bottom: 1px solid rgb(221, 221, 221); }
  .s1 .sidebar-top .social-links .social-tooltip { color: rgb(102, 102, 102); }
}
@media only screen and (min-width: 479px) and (max-width: 1200px) {
}
.grid { margin-right: 3.2%; float: left; display: inline; position: relative; }
.last { clear: right; margin-right: 0px ! important; }
.one-half { width: 48.4%; }
.one-third { width: 31.2%; }
.one-fourth { width: 22.6%; }
.social-links { float: right; position: relative; padding-top: 2px; }
.social-links li { display: inline-block; margin-left: 8px; line-height: 16px; font-size: 0px; }
.social-links li a { display: block ! important; position: relative; text-align: center; }
.social-links .social-tooltip { color: rgba(255, 255, 255, 0.7); font-size: 24px; display: inline; position: relative; z-index: 98; }
.social-links .social-tooltip:hover { color: rgb(255, 255, 255); text-decoration: none; }
.social-links .social-tooltip:hover:after { top: -36px; background: none repeat scroll 0% 0% rgb(255, 255, 255); font-size: 14px; color: rgb(102, 102, 102); content: attr(title); display: block; right: 0px; padding: 5px 15px; position: absolute; white-space: nowrap; border-radius: 3px 3px 3px 3px; box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2); }
.social-links .social-tooltip:hover:before { top: -10px; right: 8px; border-style: solid; -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; border-color: rgb(255, 255, 255) transparent; border-width: 5px 5px 0px; content: ""; display: block; position: absolute; z-index: 1; }
.page-title { background: none repeat scroll 0% 0% rgb(255, 255, 255); position: relative; padding-top: 18px; padding-bottom: 17px; border-bottom: 1px solid rgb(238, 238, 238); color: rgb(102, 102, 102); font-size: 16px; font-weight: 600; text-transform: uppercase; line-height: 24px; }
.page-title a { color: rgb(170, 170, 170); }
.page-title a:hover { color: rgb(68, 68, 68); }
.page-title i { margin-right: 8px; }
.page-title .meta-single li { float: left; margin-right: 14px; }
.page-title .meta-single li.comments { float: right; margin-right: 0px; }
.nav-container { background: none repeat scroll 0% 0% rgb(136, 136, 136); z-index: 99; position: relative; }
.nav-toggle { display: none; background: none repeat scroll 0% 0% rgb(119, 119, 119); cursor: pointer; float: right; height: 50px; width: 60px; color: rgb(255, 255, 255); text-align: center; }
.nav-toggle i { font-size: 29px; padding: 10px 0px; }
.nav-text { display: none; float: right; font-size: 16px; line-height: 24px; padding: 13px 20px; }
.nav li > a:after, .nav > li > a:after { font-family: FontAwesome; display: inline-block; }
@media only screen and (min-width: 720px) {
  .nav-wrap { height: auto ! important; }
  .nav { font-size: 0px; position: relative; }
  .nav li a { color: rgb(204, 204, 204); display: block; line-height: 20px; }
  .nav li > a:after { content: ""; float: right; opacity: 0.5; }
  .nav > li > a:after { content: ""; float: none; margin-left: 6px; font-size: 14px; line-height: 1.2em; }
  .nav li > a:only-child:after { content: ""; margin: 0px; }
  #footer .nav li > a:after { content: ""; }
  #footer .nav > li > a:after { content: ""; }
  #footer .nav li > a:only-child:after { content: ""; }
  .nav > li { font-size: 16px; border-right: 1px solid rgb(153, 153, 153); display: inline-block; position: relative; }
  .nav > li > a { padding: 15px 14px; }
  .nav > li > a:hover, .nav > li:hover > a { background: none repeat scroll 0% 0% rgb(119, 119, 119); }
  .nav li > a:hover, .nav li:hover > a, .nav li.current_page_item > a, .nav li.current-menu-item > a, .nav li.current-menu-ancestor > a, .nav li.current-post-parent > a { color: rgb(255, 255, 255); }
  .nav li:hover > ul { display: block; }
  .nav ul { display: none; background: none repeat scroll 0% 0% rgb(119, 119, 119); position: absolute; left: 0px; top: 50px; width: 180px; padding: 10px 0px; z-index: 2; box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15); }
  .nav ul li { font-size: 14px; position: relative; display: block; padding: 0px; }
  .nav ul li a { padding: 10px 20px; }
  .nav ul li:last-child { border-bottom: 0px none ! important; }
}
@media only screen and (max-width: 719px) {
  .nav { font-weight: 600; }
  .nav-container { text-transform: none; }
  .nav-toggle, .nav-text { display: block; }
  .nav-wrap { position: relative; float: left; width: 100%; height: 0px; overflow: hidden; }
  .nav { float: left; width: 100%; }
  .nav li a { line-height: 20px; display: block; padding: 8px 20px; }
  .nav li li a { padding-left: 15px; padding-right: 15px; }
  .nav li > a:after { content: ""; opacity: 0.5; margin-left: 6px; }
  .nav > li > a:after { content: ""; font-size: 14px; }
  .nav li > a:only-child:after { content: ""; }
  .nav > li { font-size: 15px; }
  .nav li > a:hover, .nav li.current_page_item > a, .nav li.current-menu-item > a, .nav li.current-post-parent > a { color: rgb(255, 255, 255); }
  .nav ul { display: block ! important; margin-left: 40px; }
  .nav ul li { font-size: 13px; font-weight: 300; }
  .nav ul li a { padding-top: 6px; padding-bottom: 6px; }
}
#header { background: none repeat scroll 0% 0% rgb(51, 54, 59); position: relative; padding-bottom: 60px; }
#header .pad { padding-top: 30px; padding-bottom: 30px; }
#header .container-inner { position: relative; }
.site-title { font-size: 42px; font-weight: 600; letter-spacing: -0.5px; float: left; line-height: 60px; padding: 10px 0px; }
.site-title a { display: block; color: rgb(255, 255, 255); max-width: 100%; }
.site-title a img { display: block; max-width: 100%; max-height: 60px; height: auto; padding: 0px; margin: 0px auto; border-radius: 0px 0px 0px 0px; }
#header-ads { float: right; }
.toggle-search { color: rgb(255, 255, 255); font-size: 18px; line-height: 24px; cursor: pointer; padding: 13px 20px; display: block; position: absolute; right: 0px; top: -50px; box-shadow: -1px 0px 0px rgba(255, 255, 255, 0.1); }
.toggle-search:hover, .toggle-search.active { background: none repeat scroll 0% 0% rgba(0, 0, 0, 0.15); color: rgb(255, 255, 255); }
.search-expand { display: none; background: none repeat scroll 0% 0% rgb(38, 39, 43); position: absolute; top: 0px; right: 0px; width: 340px; box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.1); }
.search-expand-inner { background: none repeat scroll 0% 0% rgba(0, 0, 0, 0.15); padding: 15px; }
#nav-topbar.nav-container { background: none repeat scroll 0% 0% rgb(38, 39, 43); box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2), 0px 1px 0px rgba(255, 255, 255, 0.15); }
#nav-topbar .nav-toggle { background: none repeat scroll 0% 0% transparent; color: rgb(255, 255, 255); box-shadow: 1px 0px 0px rgba(255, 255, 255, 0.06) inset; }
#nav-topbar .nav-text { color: rgba(255, 255, 255, 0.7); }
@media only screen and (min-width: 1025px) {
  .full-width.topbar-enabled #header { padding-top: 50px; }
  .full-width #nav-topbar.nav-container { position: absolute; top: 0px; left: 0px; right: 0px; width: 100%; z-index: 999; }
}
@media only screen and (min-width: 720px) {
  #nav-topbar .container { padding-left: 15px; }
  #nav-topbar .nav {  }
  #nav-topbar .nav li a { color: rgba(255, 255, 255, 0.7); }
  #nav-topbar .nav > li { border-right: medium none; }
  #nav-topbar .nav > li > a:hover, #nav-topbar .nav > li:hover > a { background-color: rgba(0, 0, 0, 0.1); }
  #nav-topbar .nav li > a:hover, #nav-topbar .nav li:hover > a, #nav-topbar .nav li.current_page_item > a, #nav-topbar .nav li.current-menu-item > a, #nav-topbar .nav li.current-menu-ancestor > a, #nav-topbar .nav li.current-post-parent > a { color: rgb(255, 255, 255); }
}
@media only screen and (max-width: 719px) {
  #nav-topbar .container { padding-left: 0px; }
  #nav-topbar .nav li a { color: rgba(255, 255, 255, 0.8); border-top: 1px solid rgba(255, 255, 255, 0.06); }
  #nav-topbar .nav li > a:hover { background: none repeat scroll 0% 0% rgba(0, 0, 0, 0.15); color: rgb(255, 255, 255); }
}
#nav-header.nav-container { background: none repeat scroll 0% 0% transparent; z-index: 97; box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.05) inset, 0px -1px 0px rgba(0, 0, 0, 0.2), 1px 0px 0px rgba(0, 0, 0, 0.2) inset, -1px 0px 0px rgba(0, 0, 0, 0.2) inset; }
#nav-header .container { padding: 0px 15px; }
#nav-header .nav-toggle { background: none repeat scroll 0% 0% transparent; color: rgb(255, 255, 255); box-shadow: 1px 0px 0px rgba(255, 255, 255, 0.05) inset, -1px 0px 0px rgba(0, 0, 0, 0.2); }
#nav-header .nav-text { color: rgba(255, 255, 255, 0.7); }
@media only screen and (min-width: 720px) {
  #nav-header .nav {  }
  #nav-header .nav li a { color: rgba(255, 255, 255, 0.7); }
  #nav-header .nav > li { border-right: medium none; }
  #nav-header .nav > li > a:hover, #nav-header .nav > li:hover > a { background: none repeat scroll 0% 0% rgba(0, 0, 0, 0.1); }
  #nav-header .nav li > a:hover, #nav-header .nav li:hover > a, #nav-header .nav li.current_page_item > a, #nav-header .nav li.current-menu-item > a, #nav-header .nav li.current-menu-ancestor > a, #nav-header .nav li.current-post-parent > a { color: rgb(255, 255, 255); }
  #nav-header .nav ul { background: url("opacity-10.png") repeat scroll 0% 0% rgb(51, 54, 59); }
  #nav-header .nav ul li { box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.06); }
  #nav-header .nav ul li:last-child { box-shadow: none; }
}
@media only screen and (max-width: 719px) {
  #nav-header.nav-container { border-left: 0px none; border-right: 0px none; }
  #nav-header .container { padding: 0px; }
  #nav-header .nav { padding-bottom: 20px; }
  #nav-header .nav li a { color: rgba(255, 255, 255, 0.8); border-top: 1px solid rgba(255, 255, 255, 0.06); }
  #nav-header .nav li > a:hover { background: none repeat scroll 0% 0% rgba(0, 0, 0, 0.15); color: rgb(255, 255, 255); }
  #nav-header .nav li.current_page_item > a, #nav-header .nav li.current-menu-item > a, #nav-header .nav li.current-post-parent > a { background: none repeat scroll 0% 0% rgba(0, 0, 0, 0.15); color: rgb(255, 255, 255); }
}
#page { padding-bottom: 60px; margin-top: -60px; }
#page .container-inner { background: none repeat scroll 0% 0% rgb(255, 255, 255); box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1); }
#footer { background: none repeat scroll 0% 0% rgb(255, 255, 255); color: rgb(119, 119, 119); width: 100%; }
#footer a { color: rgb(119, 119, 119); }
#footer a:hover { color: rgb(204, 204, 204); }
#footer .pad { padding-bottom: 30px; }
#footer-ads { text-align: center; padding: 10px 0px; border-bottom: 1px solid rgb(238, 238, 238); }
#footer-widgets { padding-top: 20px; }
#footer-bottom { background: none repeat scroll 0% 0% rgb(51, 54, 59); }
#footer-bottom .pad { padding-top: 30px; }
#footer-bottom a { color: rgba(255, 255, 255, 0.7); }
#footer-bottom a:hover { color: rgb(255, 255, 255); }
#footer-bottom #copyright, #footer-bottom #credit { color: rgba(255, 255, 255, 0.5); font-size: 15px; line-height: 1.5em; }
#footer-bottom #back-to-top { background: none repeat scroll 0% 0% rgb(234, 234, 234); color: rgb(119, 119, 119); overflow: hidden; text-align: center; width: 60px; height: 30px; display: block; margin: 0px auto -30px; border-radius: 0px 0px 3px 3px; box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.05) inset; }
#footer-bottom #back-to-top i { font-size: 38px; position: relative; top: -7px; }
#footer-bottom #back-to-top:hover { color: rgb(68, 68, 68); }
#footer-bottom .social-links { padding-top: 10px; }
#footer-bottom .social-links a { color: rgba(255, 255, 255, 0.6); }
#footer-bottom .social-links a:hover { color: rgb(255, 255, 255); }
#footer-bottom .social-links .social-tooltip { font-size: 28px; }
#nav-footer.nav-container { background: none repeat scroll 0% 0% rgb(255, 255, 255); border-top: 1px solid rgb(238, 238, 238); }
#nav-footer .nav-toggle { background: none repeat scroll 0% 0% transparent; color: rgb(68, 68, 68); border-left: 1px solid rgb(238, 238, 238); }
@media only screen and (min-width: 720px) {
  #nav-footer .nav { text-align: center; }
  #nav-footer .nav li a { color: rgb(153, 153, 153); }
  #nav-footer .nav > li > a { padding: 12px 18px; }
  #nav-footer .nav > li { border-right: 0px none; }
  #nav-footer .nav > li:first-child { border-left: 0px none; }
  #nav-footer .nav > li > a:hover, #nav-footer .nav > li:hover > a { background: none repeat scroll 0% 0% rgb(240, 240, 240); }
  #nav-footer .nav li > a:hover, #nav-footer .nav li:hover > a, #nav-footer .nav li.current_page_item > a, #nav-footer .nav li.current-menu-item > a, #nav-footer .nav li.current-menu-ancestor > a, #nav-footer .nav li.current-post-parent > a { color: rgb(102, 102, 102); }
}
@media only screen and (max-width: 719px) {
  #nav-footer .nav li a { color: rgba(0, 0, 0, 0.8); border-top: 1px solid rgb(242, 242, 242); }
  #nav-footer .nav li > a:hover { background: none repeat scroll 0% 0% rgb(242, 242, 242); color: rgb(68, 68, 68); }
}
.content .post, .content .page { position: relative; overflow: hidden; }
.blog .post, .single .post, .archive .post, .search .post, .search .page { margin-bottom: 20px; }
.post-hover:hover .post-thumbnail { opacity: 0.75; }
.post-hover:hover .post-title a { color: rgb(59, 141, 189); }
.post-thumbnail { width: 100%; transition: all 1s ease 0s; }
.post-thumbnail { position: relative; margin-bottom: 1em; }
.post-thumbnail img { display: block; width: 100%; height: auto; }
.post-comments { background: none repeat scroll 0% 0% rgb(130, 185, 101); font-size: 12px; line-height: 20px; color: rgb(255, 255, 255); display: block; position: absolute; top: 10px; right: 0px; box-shadow: -1px 0px 1px rgba(0, 0, 0, 0.2) inset; }
.post-comments > span { display: block; position: relative; padding: 2px 7px; }
.post-comments > span:before { content: ""; display: inline-block; border-left: 7px solid transparent; border-right: 7px solid rgb(130, 185, 101); border-width: 7px; border-style: solid; border-color: transparent rgb(130, 185, 101) transparent transparent; position: absolute; top: 5px; left: -14px; }
.post-comments i { margin-right: 3px; }
.post-comments:hover { color: rgb(255, 255, 255) ! important; padding-right: 4px; }
.post-meta { text-transform: uppercase; font-size: 14px; font-weight: 400; color: rgb(187, 187, 187); margin-bottom: 0.3em; }
.post-meta .post-date { float: left; }
.post-title { color: rgb(68, 68, 68); margin-bottom: 10px; font-size: 22px; font-weight: 400; line-height: 1.5em; word-wrap: break-word; }
.post-title a { color: rgb(68, 68, 68); }
.post-title a:hover { color: rgb(59, 141, 189); }
.single .post-title { font-size: 38px; letter-spacing: -1px; line-height: 1.3em; }
.post-byline { font-size: 15px; font-weight: 400; color: rgb(170, 170, 170); margin-bottom: 1em; }
.entry.share { padding-right: 100px; min-height: 354px; position: relative; }
.entry.share .entry-inner { float: left; width: 100%; }
.sharrre-container { float: right; width: 50px; padding: 0px 10px; margin-right: -100px; border-radius: 4px 4px 4px 4px; }
.sharrre-container span { color: rgb(170, 170, 170); display: block; text-align: center; text-transform: uppercase; font-size: 11px; }
.sharrre { padding: 10px 0px 0px; }
.sharrre .box { width: 50px; display: block; }
.sharrre .count { background: none repeat scroll 0% 0% rgb(238, 238, 238); color: rgb(51, 51, 51); display: block; font-size: 15px; font-weight: 400; line-height: 30px; position: relative; text-align: center; border-radius: 4px 4px 4px 4px; }
.sharrre .count:after { content: ""; display: block; position: absolute; left: 49%; width: 0px; height: 0px; border-width: 6px; border-style: solid; border-right: 6px solid transparent; border-color: rgb(238, 238, 238) transparent transparent; -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; margin-left: -6px; bottom: -12px; }
.sharrre .share { display: block; font-size: 28px; font-weight: 600; line-height: 32px; margin-top: 12px; padding: 0px; text-align: center; text-decoration: none; }
.sharrre .box .share, .sharrre .box .count { transition: all 0.3s ease 0s; }
.sharrre .box:hover .share, .sharrre .box:hover .count { color: rgb(68, 68, 68) ! important; }
#twitter.sharrre .share, #twitter.sharrre .box .count { color: rgb(0, 172, 238); }
#googleplus.sharrre .share, #googleplus.sharrre .box .count { color: rgb(205, 72, 60); }
.post-tags { margin-bottom: 40px; }
.post-tags span { font-size: 14px; color: rgb(153, 153, 153); display: inline-block; margin: 0px 7px 0px 0px; }
.post-tags a { background: none repeat scroll 0% 0% rgb(242, 242, 242); display: inline-block; line-height: 16px; white-space: nowrap; font-size: 12px; color: rgb(153, 153, 153); padding: 3px 7px; margin: 0px 5px 2px 0px; border-radius: 2px 2px 2px 2px; }
.post-tags a:hover { background-color: rgb(59, 141, 189); color: rgb(255, 255, 255); }
.related-posts { border-bottom: 2px solid rgb(238, 238, 238); margin-bottom: 40px; }
.related-posts li { width: 33.3%; float: left; display: inline; }
.related-posts .post { border-right: 1px solid transparent; margin-bottom: 0px; padding-bottom: 10px; }
.related-posts li:nth-child(4) article { display: none; }
.related-posts li:nth-child(3) article { border-right-color: transparent; }
.related-posts .related-inner { padding: 0px 20px 0px 0px; }
.single .related-posts .post-title { margin-bottom: 10px; font-size: 17px; font-weight: 300; line-height: 1.5em; letter-spacing: 0px; display: block; }
.post-nav li { width: 100%; display: inline; float: left; text-align: center; }
.post-nav li a { position: relative; min-height: 73px; display: block; padding: 16px 40px 24px; }
.post-nav li i { color: rgb(204, 204, 204); font-size: 18px; position: absolute; top: 50%; margin-top: -10px; }
.post-nav li a strong { display: block; font-size: 12px; color: rgb(170, 170, 170); letter-spacing: 0.5px; font-weight: normal; text-transform: uppercase; }
.post-nav li a span { font-size: 15px; color: rgb(102, 102, 102); }
.post-nav li a:hover span { color: rgb(68, 68, 68); }
.post-nav li.previous i { left: 10px; }
.post-nav li.next i { right: 10px; }
.post-nav li a span, .post-nav li a i { transition-duration: 0.2s; transition-timing-function: ease-out; }
.content .post-nav { border-top: 2px solid rgb(238, 238, 238); border-bottom: 2px solid rgb(238, 238, 238); margin-bottom: 40px; }
.content .post-nav li { width: 50%; }
.content .post-nav li.next { float: right; box-shadow: -1px 0px 0px rgb(238, 238, 238), 1px 0px 0px rgb(238, 238, 238) inset; }
.content .post-nav li.next a { padding-left: 24px; }
.content .post-nav li.previous { float: left; box-shadow: 1px 0px 0px rgb(238, 238, 238), -1px 0px 0px rgb(238, 238, 238) inset; }
.content .post-nav li.previous a { padding-right: 24px; }
.content .post-nav li a:hover i { color: rgb(59, 141, 189); }
.widget { color: rgb(119, 119, 119); font-size: 15px; overflow: hidden; }
.widget a { color: rgb(119, 119, 119); }
.widget a:hover { color: rgb(68, 68, 68); }
.widget > h3 { font-size: 15px; font-weight: 400; text-transform: uppercase; margin-bottom: 6px; }
.sidebar .widget { padding: 30px 30px 20px; }
#footer .widget { padding-bottom: 30px; }
#footer .widget a:hover { color: rgb(102, 102, 102); }
.widget > ul li:before, .widget > ul li a:before, .widget > div > ul li a:before, .widget_calendar caption:before { font-family: FontAwesome; font-size: 12px; margin-right: 6px; color: rgb(204, 204, 204); display: inline-block ! important; width: 1em; text-align: center; }
.widget > ul li a:hover:before { color: rgb(153, 153, 153); }
.widget_search > h3, .widget_text > h3, .widget_tag_cloud > h3, .widget_calendar > h3 { margin-bottom: 1em; }
.widget_archive ul li, .widget_categories ul li, .widget_links ul li, .widget_meta ul li, .widget_recent_comments ul li, .widget_recent_entries ul li, .widget_rss ul li, .widget_pages ul li a, .widget_nav_menu ul li a, .alx-tab li, .alx-posts li { padding: 10px 0px; border-bottom: 1px solid rgb(228, 228, 228); }
#footer .widget_archive ul li, #footer .widget_categories ul li, #footer .widget_links ul li, #footer .widget_meta ul li, #footer .widget_recent_comments ul li, #footer .widget_recent_entries ul li, #footer .widget_rss ul li, #footer .widget_pages ul li a, #footer .widget_nav_menu ul li a, #footer .alx-tab li, #footer .alx-posts li, #footer .widget_calendar th, #footer .widget_calendar td { border-color: rgb(242, 242, 242); }
.widget_text .textwidget p { margin-bottom: 1em; }
.alx-tabs-nav { border-bottom: 3px solid rgb(221, 221, 221); margin-bottom: 10px; text-align: center; }
.alx-tabs-nav.tab-count-2 li { width: 50%; }
.alx-tabs-nav li { display: block; float: left; }
.alx-tabs-nav li a { font-size: 18px; display: block; padding: 8px 0px; margin-bottom: -3px; border-bottom: 3px solid transparent; }
.alx-tabs-nav li a:hover { border-bottom-color: rgb(204, 204, 204); }
.alx-tabs-nav li.active a, #footer .alx-tabs-nav li.active a { color: rgb(68, 68, 68); }
.alx-tabs-nav li a span { display: none; }
.s1 .alx-tabs-nav li.active a, #footer .alx-tabs-nav li.active a { border-bottom-color: rgb(59, 141, 189); }
.alx-tab li, .alx-posts li { font-weight: 400; line-height: 1.4em; overflow: hidden; }
.alx-tab a, .alx-posts a { transition: all 0.2s ease 0s; }
.alx-tab img, .alx-posts img { display: block; width: 100%; height: auto; }
.alx-tab.avatars-enabled li { padding-left: 62px; }
.alx-tab .tab-item-avatar { margin-left: -62px; width: 48px; float: left; transition: all 1s ease 0s; }
.alx-tab .tab-item-title a, .alx-tab .tab-item-comment a, .alx-posts .post-item-title a { color: rgb(68, 68, 68); }
.alx-tab .tab-item-title, .alx-tab .tab-item-comment, .alx-posts .post-item-title { margin: 2px 0px; word-wrap: break-word; }
.alx-tab .tab-item-date, .alx-tab .tab-item-name, .alx-posts .post-item-date { text-transform: uppercase; color: rgb(170, 170, 170); font-size: 13px; }
.alx-tab li:hover .tab-item-thumbnail, .alx-tab li:hover .tab-item-avatar, .alx-posts li:hover .post-item-thumbnail { opacity: 0.75; }
.s1 .alx-tab .tab-item-category a, .s1 .alx-posts .post-item-category a, .s1 .alx-tab li:hover .tab-item-title a, .s1 .alx-tab li:hover .tab-item-comment a, .s1 .alx-posts li:hover .post-item-title a, #footer .alx-tab .tab-item-category a, #footer .alx-posts .post-item-category a, #footer .alx-tab li:hover .tab-item-title a, #footer .alx-tab li:hover .tab-item-comment a, #footer .alx-posts li:hover .post-item-title a { color: rgb(59, 141, 189); }
.alx-posts .post-item-title { font-size: 16px; line-height: 1.5em; }
.s1 .alx-posts .post-item-title, #footer .alx-posts .post-item-title { font-size: 18px; line-height: 1.4em; font-weight: 300; }
.s1 .alx-posts .post-item-category, .s1 .alx-posts .post-item-date, #footer .alx-posts .post-item-category, #footer .alx-posts .post-item-date { font-size: 14px; }
#comments { margin-top: 20px; }
.comment-tabs { border-bottom: 2px solid rgb(238, 238, 238); margin-bottom: 20px; }
.comment-tabs li { float: left; margin-bottom: -2px; }
.comment-tabs li a { font-weight: 600; padding: 0px 10px 10px; display: block; color: rgb(170, 170, 170); border-bottom: 2px solid rgb(238, 238, 238); }
.comment-tabs li a:hover { color: rgb(68, 68, 68); border-color: rgb(204, 204, 204); }
.comment-tabs li span { background-color: rgb(238, 238, 238); padding: 0px 6px; margin-left: 8px; border-radius: 4px 4px 4px 4px; }
.comment-tabs li i { margin-right: 6px; }
.comment-tabs li.active a { color: rgb(59, 141, 189); border-bottom-color: rgb(59, 141, 189); }
.commentlist, .pinglist { margin-bottom: 20px; }
.commentlist li, .pinglist li { padding-left: 60px; font-size: 14px; line-height: 22px; font-weight: 400; }
.commentlist .comment-body, .pinglist li { clear: both; position: relative; padding-bottom: 15px; }
.commentlist .comment-author, .commentlist .comment-meta, .commentlist .comment-awaiting-moderation { font-size: 13px; display: block; float: left; line-height: 20px; }
.commentlist .comment-author { margin-right: 6px; }
.commentlist .fn, .pinglist .ping-link { color: rgb(68, 68, 68); font-size: 13px; font-style: normal; font-weight: 600; }
.commentlist .says { display: none; }
.commentlist .avatar { position: absolute; left: -60px; top: 0px; width: 48px; height: 48px; border-radius: 3px 3px 3px 3px; }
.commentlist .comment-meta:before, .pinglist .ping-meta:before { color: rgb(204, 204, 204); content: ""; font-family: FontAwesome; font-size: 10px; margin-right: 3px; vertical-align: 4%; }
.commentlist .comment-meta a, .pinglist .ping-meta { color: rgb(170, 170, 170); }
.commentlist .reply { font-size: 13px; line-height: 16px; }
.commentlist .reply a { color: rgb(170, 170, 170); }
.commentlist .reply a:hover { color: rgb(68, 68, 68); }
.commentlist .comment-body p { margin-bottom: 8px; color: rgb(119, 119, 119); clear: both; }
.commentlist li.bypostauthor > .comment-body:after, .commentlist li.comment-author-admin > .comment-body:after { background: none repeat scroll 0% 0% rgb(59, 141, 189); display: block; position: absolute; content: ""; color: rgb(255, 255, 255); line-height: 12px; width: 12px; font-style: normal; font-family: FontAwesome; text-align: center; }
.commentlist li.comment-author-admin > .comment-body:after { content: ""; }
.commentlist li.bypostauthor > .comment-body:after, .commentlist li.comment-author-admin > .comment-body:after { top: 32px; left: -28px; font-size: 10px; padding: 2px; border-radius: 3px 3px 3px 3px; }
.commentlist li li.bypostauthor > .comment-body:after, .commentlist li li.comment-author-admin > .comment-body:after { top: 22px; left: -26px; font-size: 8px; padding: 1px; border-radius: 2px 2px 2px 2px; }
.commentlist li ul {  }
.commentlist li li { padding-left: 48px; margin: 0px; }
.commentlist li li .avatar { width: 36px; height: 36px; left: -48px; top: 0px; }
.commentlist li li .comment-meta { left: 70px; }
.logged-in-as, .comment-notes, .form-allowed-tags { display: none; }
#respond { position: relative; }
#reply-title { margin-bottom: 20px; }
#cancel-comment-reply-link { color: rgb(153, 153, 153); display: block; position: absolute; bottom: 26px; right: 20px; font-size: 12px; }
#cancel-comment-reply-link:hover { color: rgb(119, 119, 119); }
#commentform { background: none repeat scroll 0% 0% rgb(241, 241, 241); padding: 10px 20px 20px; margin-bottom: 15px; border-radius: 2px 2px 2px 2px; }
#commentform p.comment-form-author { width: 48%; float: left; }
#commentform p.comment-form-email { width: 48%; float: right; }
#commentform p.comment-form-url, #commentform p.comment-form-comment { clear: both; }
#commentform label { padding: 6px 0px; font-weight: 600; display: block; }
#commentform input[type="text"], #commentform textarea { max-width: 100%; width: 100%; }
#commentform textarea { height: 100px; }
#commentform p.form-submit { margin-top: 10px; }
html {  }
@media screen and (max-width: 860px) {
}
hr, .hr { border-width: 0px 0px 2px; border-style: none none solid; border-color: -moz-use-text-color -moz-use-text-color rgb(238, 238, 238); -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; background: none repeat scroll 0% 0% rgb(238, 238, 238); height: 1px; margin: 30px 0px; }
#wrapper, .container-inner { min-width: 320px; }
@media only screen and (max-width: 1200px) {
  #header-ads { display: none; }
}
@media only screen and (min-width: 480px) and (max-width: 1200px) {
  .container { padding: 0px 10px; }
}
@media only screen and (min-width: 961px) and (max-width: 1200px) {
}
@media only screen and (min-width: 480px) and (max-width: 960px) {
  .s1 { width: 50px; }
  .s1 .sidebar-content { display: none; float: left; width: 100%; }
  .s1 .sidebar-toggle { display: block; }
  .s1-collapse .s1 .sidebar-content, .s1-collapse .s1 .sidebar .post-nav { display: none; }
  .col-2cl .main-inner { background-image: url("s-right-collapse.png"); padding-right: 50px; }
  .col-2cl .s1 { margin-right: -50px; }
}
@media only screen and (max-width: 960px) {
  #page { margin-top: -50px; }
  #header { padding-bottom: 50px; }
  .page-title.pad { padding-top: 12px; padding-bottom: 12px; }
}
@media only screen and (max-width: 719px) {
  .s1, .s2 { width: 40px; }
  .col-2cl .main-inner { background-image: url("s-right-collapse-40.png"); padding-right: 40px; }
  .col-2cl .s1 { margin-right: -40px; }
  .container { padding: 0px; }
  .grid { width: 100%; margin: 0px 0px 10px; }
  .pad { padding: 20px 20px 10px; }
  .entry { font-size: 15px; }
  .entry h3 { font-size: 24px; letter-spacing: -0.3px; }
  .entry h4 { font-size: 22px; letter-spacing: -0.3px; }
  .entry h5 { font-size: 18px; }
  #header { padding-bottom: 0px; }
  .topbar-enabled #header { padding-top: 0px; }
  #header .pad { padding-top: 0px; padding-bottom: 0px; }
  .site-title { padding: 30px 0px; width: 100%; float: none; line-height: 50px; }
  .site-title a { text-align: center; }
  .toggle-search { right: auto; left: 0px; top: 0px; box-shadow: 1px 0px 0px rgba(255, 255, 255, 0.1); }
  .search-expand { left: 0px; right: auto; top: 50px; width: 320px; }
  #footer-bottom .pad { padding-top: 50px; padding-bottom: 40px; }
  #footer-bottom .one-half.last { margin-bottom: 0px; }
  #footer-bottom { text-align: center; }
  #footer-bottom .social-links { float: none; }
  #footer-bottom .social-links li { margin-left: 4px; margin-right: 4px; }
  .comment-tabs { font-size: 14px; }
  .commentlist li { font-size: 13px; }
  .commentlist li ul li { padding-left: 10px; }
  #page { margin-top: 0px; padding-bottom: 10px; }
  .page-title { font-size: 14px; }
  .featured .post-title, .single .post-title { font-size: 22px; line-height: 1.5em; letter-spacing: 0px; }
  .post-byline { font-size: 13px; }
  .entry.share { padding-right: 0px; }
  .sharrre-container { position: relative; float: left; width: auto; padding: 0px; margin: 20px 0px 0px; }
  .sharrre-container span { text-align: left; }
  .sharrre-container > div { float: left; margin-right: 10px; }
  .content .post-nav li { width: 100%; box-shadow: none ! important; }
  .content .post-nav li a { min-height: 0px; }
  .single .related-posts .post-title { font-size: 15px; }
  .related-posts li { width: 50%; }
  .related-posts li:nth-child(2) article { border-right-color: transparent; }
  .related-posts li:nth-child(3), .related-posts li:nth-child(4) { display: none; }
}
@media only screen and (max-width: 479px) {
  .content, .sidebar { width: 100%; float: none; margin-right: 0px ! important; margin-left: 0px ! important; }
  .sidebar { background: none repeat scroll 0% 0% rgb(240, 240, 240); width: 100%; display: block; float: none; }
  .main, .main-inner { background-image: none ! important; padding: 0px ! important; }
  .pad { padding: 15px 15px 5px; }
  .sidebar-top, .sidebar .widget { padding-left: 15px ! important; padding-right: 15px ! important; }
  .site-title { font-size: 32px; }
}
b, strong { font-weight: 400; color: rgb(51, 51, 51); }
.nav { font-size: 0px; position: relative; font-weight: 600; }
.s1 .sidebar-top { background: none repeat scroll 0px 0px rgb(217, 223, 234); }
.col-love-l { color: rgb(204, 51, 51); font-weight: 600; }
.col-2cl .main-inner { background: none repeat scroll 0px 0px rgb(255, 255, 255); }
.col-2cl .content { float: left; box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1); }
.post-title, .post-title a { color: rgb(21, 92, 142); }
.entry { color: rgb(39, 39, 39); }
.entry pre { background-color: rgb(5, 30, 48); border-color: rgb(40, 159, 244); border-style: solid; border-width: 1px 1px 1px 4px; color: rgb(255, 255, 255); font-family: "Courier 10 Pitch",Courier,monospace; line-height: 19px; margin: 30px 0px; overflow-x: auto; overflow-y: hidden; padding: 10px 10px 10px 18px; word-wrap: break-word; }
.entry code, .entry pre { color: rgb(255, 255, 255); font-size: 13px; white-space: pre; }
.entry code, .entry pre strong { color: rgb(255, 255, 255); font-weight: 600; }
.entry code { background: none repeat scroll 0px 0px rgb(246, 246, 248); border-color: rgb(158, 158, 159); border-radius: 3px 3px 3px 3px; border-style: solid; border-width: 1px; color: rgb(59, 89, 153); font-family: "Courier 10 Pitch",Courier,monospace; font-size: 15px; line-height: 1.6; max-width: 100%; overflow: auto; padding: 2px; }
.entry p a { color: rgb(187, 14, 48); font-weight: 400; outline: 0px none; text-decoration: underline; }
.post-tags span { font-size: 14px; font-weight: 600; }
.post-tags a { background: none repeat scroll 0px 0px rgb(122, 168, 204); color: rgb(255, 255, 255); font-size: 14px; font-weight: 400; padding: 7px; }
.sharrre-container span { color: rgb(221, 51, 51); font-size: 16px; font-weight: 600; }
li#menu-item-3912 a { color: rgb(247, 190, 194) ! important; font-weight: bold; }
li#menu-item-10439 a { color: rgb(199, 241, 255) ! important; font-weight: bold; }
li#menu-item-17151 a { color: rgb(209, 251, 209) ! important; font-weight: bold; }
li#menu-item-11736 a { color: rgb(92, 234, 152) ! important; font-weight: bold; }
.ads-sidebar-desktop { display: block; margin-right: 0px; margin-top: 0px; }
.ads-inner-mobile { display: none; margin-right: 0px; margin-top: 0px; }
.text-10, .textwidget ol { margin: 0px 0px 15px 15px; }
.text-10, .textwidget ol li, .text-10, .textwidget ol li { list-style: square outside none; }
.text-10, .textwidget ol li, .text-10, .textwidget ol li { list-style: square outside none; }
.widget > h3 { background: none repeat scroll 0px 0px rgb(47, 109, 171); color: rgb(255, 255, 255); line-height: 42px; font-size: 16px; font-weight: 400; margin-bottom: 6px; text-align: center; text-transform: uppercase; }
.entry h3 { color: rgb(51, 102, 153); font-size: 30px; font-weight: 400; letter-spacing: -0.5px; border-bottom: 1px dashed rgb(221, 221, 221); }
.entry h4 { color: rgb(170, 75, 128); font-size: 26px; font-weight: 400; letter-spacing: -0.3px; border-bottom: 1px dashed rgb(221, 221, 221); }
.entry h5 { font-size: 22px; font-weight: 400; border-bottom: 1px dashed rgb(221, 221, 221); }
.entry ol li, .entry ol ul ol li { list-style: square outside none; }
.entry p strong { color: rgb(51, 51, 51); font-weight: 400; }
.entry ol li a { color: rgb(187, 14, 48); font-weight: 400; text-decoration: underline; }
.add-box { box-sizing: border-box; background: none repeat scroll 0px 0px rgb(255, 255, 255); border: 1px solid rgb(238, 238, 238); padding: 6px 8px; position: relative; margin-bottom: 5px; }
#exam_announcement { background: none repeat scroll 0px 0px rgb(238, 251, 255); border-width: 1px 1px 1px 5px; border-style: solid; border-color: rgb(199, 241, 255) rgb(199, 241, 255) rgb(199, 241, 255) rgb(63, 146, 190); -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; font-size: 0.9em; margin: 0.8em 0px; padding: 0.4em 0.5em; }
#exam_announcement a { color: rgb(187, 14, 48); font-weight: 400; }
.widget > h3 { font-size: 16px; font-weight: 600; text-transform: uppercase; margin-bottom: 6px; }
.widget a { color: rgb(39, 39, 39); }
.widget a:hover { color: rgb(39, 118, 198); }
#footer a { color: rgb(68, 68, 68); }
#footer .widget { padding-bottom: 0px; }
#footer-bottom #copyright, #footer-bottom #credit { color: rgb(255, 255, 255); font-size: 15px; font-weight: 400; line-height: 1.5em; }
ol.commentlist li p { font-size: 15px; margin: 0px 0px 1em; }
.commentlist .comment-body p { margin-bottom: 8px; color: rgb(119, 119, 119); clear: both; overflow: auto; }
.sidebar .widget { padding: 30px 30px 0px; }
#page { padding-bottom: 30px; }
.follow-subscribe-social { margin: 0px 0px 15px; padding: 0px 0px 5px; border-bottom: 1px solid rgb(133, 133, 133); }
.follow-subscribe-social ul { list-style: none outside none; margin: 0px; padding: 0px; text-align: center; }
.follow-subscribe-social ul li { display: inline; margin: 0px 15px 0px 0px; border-bottom: medium none; }
.follow-subscribe-social ul li:last-child { margin: 0px; }
.follow-subscribe-social ul li a { font-size: 17px; color: rgb(176, 230, 255); transition: color 0.2s ease-in-out 0s; }
.follow-subscribe-social ul li a:hover { color: rgb(234, 248, 255); }
#social_sprite ol { overflow: hidden; margin: 0px 20px; }
#social_sprite ol li { list-style-type: none; display: inline-block; float: left; position: relative; text-align: center; margin-left: 20px; }
#social_sprite ol li span.soc_icon { background: url("sprite_social_icons.png") no-repeat scroll 0% 0% transparent; width: 60px; height: 60px; display: block; text-align: center; margin-bottom: 5px; }
#social_sprite ol li span#soc_fbuk.soc_icon { background-position: 0px 0px; }
#social_sprite ol li span#soc_twitter.soc_icon { background-position: -122px 0px; }
#social_sprite ol li span#soc_gplus.soc_icon { background-position: -61px 0px; }
#social_sprite ol li span.count { display: block; text-align: center; font-size: 14px; font-weight: 600; margin-bottom: -3px; color: rgb(47, 47, 47); }
.fixedBar { background: none repeat scroll 0% 0% rgb(0, 75, 128); bottom: 0px; color: rgb(255, 255, 255); left: 0px; padding: 0px; position: fixed; font-size: 16px; width: 100%; z-index: 99999; float: left; vertical-align: middle; margin: 0px; opacity: 0.95; font-weight: 400; }
.boxfloat { text-align: center; }
#tips, #tips li { margin: 0px; padding: 0px; list-style: none outside none; }
#tips {  }
#tips li { padding: 5px 0px; display: none; }
#tips li a { color: rgb(255, 255, 255); }
#tips li a:hover { text-decoration: none; }
.message { color: rgb(255, 255, 255); text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.2); padding: 5px 10px; box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.5) inset; margin: 0px; background-color: rgb(31, 78, 82); border-color: rgb(221, 17, 0); font-size: 20px; }
.message a { text-decoration: none; font-size: 20px; color: rgb(245, 245, 245); font-weight: bold; }
.message a:hover { color: rgb(255, 255, 255); }
.after-post-box { background-color: rgb(223, 249, 225); padding: 25px; margin-top: 30px; margin-bottom: 30px; border: 5px dashed rgb(83, 135, 86); color: rgb(0, 0, 0); }
.after-post-box h2 { font-size: 26px; font-weight: 600; text-align: center; padding: 10px 10px 20px 0px; }
.after-post-box ol { font-size: 20px; line-height: 200%; margin-bottom: 10px; }
.after-post-box ol li { list-style: decimal outside none; margin-left: 20px; }
.after-post-box ol li a { text-decoration: underline; }
@media only screen and (min-width: 720px) and (max-width: 800px) {
  .text-11, .ads-sidebar-desktop { display: block; margin-right: 0px; margin-top: 0px; }
  .ads-inner-mobile { display: block; margin-right: 0px; margin-top: 0px; }
  .add-box { display: block; }
}
@media only screen and (max-width: 719px) {
  .text-11, .ads-sidebar-desktop { display: none; margin-right: 0px; margin-top: 0px; }
  .ads-inner-mobile { display: block; margin-right: 0px; margin-top: 0px; }
  .add-box { display: none; }
}
@media only screen and (max-width: 479px) {
  .text-11, .ads-sidebar-desktop { display: none; margin-right: 0px; margin-top: 0px; }
  .ads-inner-mobile { display: block; margin-right: 0px; margin-top: 0px; }
  .add-box { display: none; }
}
@font-face {
  font-family: "FontAwesome";
  font-style: normal;
  font-weight: normal;
  src: url("fontawesome-webfont.eot") format("embedded-opentype"), url("fontawesome-webfont.woff") format("woff"), url("fontawesome-webfont.ttf") format("truetype"), url("fontawesome-webfont.svg") format("svg");
}
.fa { display: inline-block; font-family: FontAwesome; font-style: normal; font-variant: normal; font-weight: normal; line-height: 1; font-size-adjust: none; font-stretch: normal; -moz-font-feature-settings: normal; -moz-font-language-override: normal; font-size: inherit; text-rendering: auto; }
@keyframes fa-spin {
0% { transform: rotate(0deg); }
100% { transform: rotate(359deg); }
}
.fa-search:before { content: ""; }
.fa-heart:before { content: ""; }
.fa-star:before { content: ""; }
.fa-clock-o:before { content: ""; }
.fa-book:before { content: ""; }
.fa-chevron-left:before { content: ""; }
.fa-chevron-right:before { content: ""; }
.fa-arrow-right:before { content: ""; }
.fa-mail-forward:before, .fa-share:before { content: ""; }
.fa-twitter:before { content: ""; }
.fa-facebook:before { content: ""; }
.fa-rss:before { content: ""; }
.fa-hand-o-right:before { content: ""; }
.fa-navicon:before, .fa-reorder:before, .fa-bars:before { content: ""; }
.fa-google-plus-square:before { content: ""; }
.fa-google-plus:before { content: ""; }
.fa-linkedin:before { content: ""; }
.fa-comments-o:before { content: ""; }
.fa-angle-up:before { content: ""; }
.fa-file-text:before { content: ""; }
.fa-youtube-square:before { content: ""; }
.fa-youtube:before { content: ""; }
.fa-linux:before { content: ""; }
.fa-google:before { content: ""; }
@media only screen and (max-width: 900px) {
}
@media only screen and (max-width: 1024px) {
}
@media only screen and (max-width: 900px) {
}
@media only screen and (min-width: 480px) {
}
@media not all {
}
@media only screen and (min-width: 900px) {
}
@media only screen and (min-width: 1140px) {
}
@media only screen and (min-width: 1280px) {
}
