/* Code tidied up by ScrapBook */
.clearfix:after, .clearfix:before { display: table; content: ""; line-height: 0; }
.clearfix:after { clear: both; }
html { font-size: 100%; }
a:focus { outline-offset: -2px; }
a:active, a:hover { outline: 0px none; }
img { max-width: 100%; height: auto; vertical-align: middle; border: 0px none; }
button, input, select, textarea { margin: 0px; font-size: 100%; vertical-align: middle; }
button::-moz-focus-inner, input::-moz-focus-inner { padding: 0px; border: 0px none; }
button, html input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; }
button, input[type="button"], input[type="checkbox"], input[type="radio"], input[type="reset"], input[type="submit"], label, select { cursor: pointer; }
@media print {
  * { text-shadow: none ! important; color: rgb(0, 0, 0) ! important; background: none repeat scroll 0px 0px transparent ! important; box-shadow: none ! important; }
  a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }
  img, tr { page-break-inside: avoid; }
  img { max-width: 100% ! important; }
  @page { margin: 0.5cm; }
  h2, h3, p { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
}
body { margin: 0px; font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; }
a { color: rgb(232, 108, 0); text-decoration: none; }
a:focus, a:hover { color: rgb(207, 96, 0); text-decoration: underline; }
[class*="span"] { float: left; min-height: 1px; margin-left: 24px; }
.container, .navbar-fixed-bottom .container, .navbar-fixed-top .container, .navbar-static-top .container, .span12 { width: 948px; }
.span8 { width: 624px; }
.row-fluid { width: 100%; }
.row-fluid:after, .row-fluid:before { display: table; content: ""; line-height: 0; }
.row-fluid:after { clear: both; }
.row-fluid [class*="span"] { display: block; width: 100%; min-height: 30px; box-sizing: border-box; float: left; margin-left: 2.53165%; }
.row-fluid [class*="span"]:first-child { margin-left: 0px; }
.row-fluid .span8 { width: 65.8228%; }
.container:after, .container:before { display: table; content: ""; line-height: 0; }
.container:after { clear: both; }
strong { font-weight: 700; }
h1, h2, h3, h4, h5, h6 { margin: 10px 0px; font-family: inherit; font-weight: 700; line-height: 20px; color: inherit; text-rendering: optimizelegibility; }
ol.inline, ol.unstyled, ul.inline, ul.unstyled { margin-left: 0px; list-style: none outside none; }
hr { margin: 20px 0px; border-right: 0px none; border-left: 0px none; -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; border-width: 1px 0px; border-style: solid none; border-color: rgb(238, 238, 238) -moz-use-text-color rgb(255, 255, 255); }
button, input, label, select, textarea { font-size: 14px; font-weight: 400; line-height: 20px; }
button, input, select, textarea { font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; }
label { display: block; margin-bottom: 5px; }
.uneditable-input, input[type="color"], input[type="date"], input[type="datetime-local"], input[type="datetime"], input[type="email"], input[type="month"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="time"], input[type="url"], input[type="week"], select, textarea { display: inline-block; height: 20px; padding: 4px 6px; margin-bottom: 10px; font-size: 14px; line-height: 20px; color: rgb(85, 85, 85); border-radius: 4px 4px 4px 4px; vertical-align: middle; }
.uneditable-input, input, textarea { width: 206px; }
.uneditable-input, input[type="color"], input[type="date"], input[type="datetime-local"], input[type="datetime"], input[type="email"], input[type="month"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="time"], input[type="url"], input[type="week"], textarea { background-color: rgb(255, 255, 255); border: 1px solid rgb(204, 204, 204); box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset; transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s; }
.uneditable-input:focus, input[type="color"]:focus, input[type="date"]:focus, input[type="datetime-local"]:focus, input[type="datetime"]:focus, input[type="email"]:focus, input[type="month"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="text"]:focus, input[type="time"]:focus, input[type="url"]:focus, input[type="week"]:focus, textarea:focus { border-color: rgba(82, 168, 236, 0.8); outline: 0px none; box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px rgba(82, 168, 236, 0.6); }
input:-moz-placeholder, textarea:-moz-placeholder { color: rgb(153, 153, 153); }
.input-medium { width: 150px; }
.row-fluid .uneditable-input[class*="span"], .row-fluid input[class*="span"], .row-fluid select[class*="span"], .row-fluid textarea[class*="span"], .uneditable-input[class*="span"], input[class*="span"], select[class*="span"], textarea[class*="span"] { float: none; margin-left: 0px; }
.input-append .uneditable-input[class*="span"], .input-append input[class*="span"], .input-prepend .uneditable-input[class*="span"], .input-prepend input[class*="span"], .row-fluid .input-append [class*="span"], .row-fluid .input-prepend [class*="span"], .row-fluid .uneditable-input[class*="span"], .row-fluid input[class*="span"], .row-fluid select[class*="span"], .row-fluid textarea[class*="span"] { display: inline-block; }
.uneditable-input, input, textarea { margin-left: 0px; }
.uneditable-input.span8, input.span8, textarea.span8 { width: 610px; }
input:focus:invalid, select:focus:invalid, textarea:focus:invalid { color: rgb(185, 74, 72); border-color: rgb(238, 95, 91); }
input:focus:invalid:focus, select:focus:invalid:focus, textarea:focus:invalid:focus { border-color: rgb(233, 50, 45); box-shadow: 0px 0px 6px rgb(248, 185, 183); }
.input-append, .input-prepend { display: inline-block; margin-bottom: 10px; vertical-align: middle; font-size: 0px; white-space: nowrap; }
.input-append .dropdown-menu, .input-append .popover, .input-append .uneditable-input, .input-append input, .input-append select, .input-prepend .dropdown-menu, .input-prepend .popover, .input-prepend .uneditable-input, .input-prepend input, .input-prepend select { font-size: 14px; }
.input-append .uneditable-input, .input-append input, .input-append select, .input-prepend .uneditable-input, .input-prepend input, .input-prepend select { position: relative; margin-bottom: 0px; vertical-align: top; border-radius: 0px 4px 4px 0px; }
.input-append .uneditable-input:focus, .input-append input:focus, .input-append select:focus, .input-prepend .uneditable-input:focus, .input-prepend input:focus, .input-prepend select:focus { z-index: 2; }
.input-append .add-on, .input-append .btn, .input-append .btn-group > .dropdown-toggle, .input-prepend .add-on, .input-prepend .btn, .input-prepend .btn-group > .dropdown-toggle { vertical-align: top; border-radius: 0px 0px 0px 0px; }
.input-append .uneditable-input, .input-append input, .input-append select, .input-prepend .add-on:first-child, .input-prepend .btn:first-child { border-radius: 4px 0px 0px 4px; }
.input-append .add-on, .input-append .btn, .input-append .btn-group { margin-left: -1px; }
.input-append .add-on:last-child, .input-append .btn-group:last-child > .dropdown-toggle, .input-append .btn:last-child { border-radius: 0px 4px 4px 0px; }
.form-horizontal .help-inline, .form-horizontal .input-append, .form-horizontal .input-prepend, .form-horizontal .uneditable-input, .form-horizontal input, .form-horizontal select, .form-horizontal textarea, .form-inline .help-inline, .form-inline .input-append, .form-inline .input-prepend, .form-inline .uneditable-input, .form-inline input, .form-inline select, .form-inline textarea, .form-search .help-inline, .form-search .input-append, .form-search .input-prepend, .form-search .uneditable-input, .form-search input, .form-search select, .form-search textarea { display: inline-block; margin-bottom: 0px; vertical-align: middle; }
.control-group { margin-bottom: 10px; }
.form-horizontal .control-group { margin-bottom: 20px; }
.form-horizontal .control-group:after, .form-horizontal .control-group:before { display: table; content: ""; line-height: 0; }
.form-horizontal .control-group:after { clear: both; }
.form-horizontal .control-label { float: left; width: 160px; padding-top: 5px; text-align: right; }
.form-horizontal .controls { margin-left: 180px; }
.btn { line-height: 20px; background-repeat: repeat-x; }
.btn.active, .btn.disabled, .btn:active, .btn:focus, .btn:hover, .btn[disabled] { color: rgb(51, 51, 51); background-color: rgb(230, 230, 230); }
.btn:focus, .btn:hover { color: rgb(51, 51, 51); background-position: 0px -15px; transition: background-position 0.1s linear 0s; }
.btn.disabled, .btn[disabled] { background-image: none; }
.btn-small { padding: 2px 10px; border-radius: 3px 3px 3px 3px; }
.btn-small [class*=" icon-"], .btn-small [class^="icon-"] { margin-top: 0px; }
button.btn::-moz-focus-inner, input.btn[type="submit"]::-moz-focus-inner { padding: 0px; border: 0px none; }
[class*=" icon-"], [class^="icon-"] { display: inline-block; width: 14px; height: 14px; line-height: 14px; vertical-align: text-top; background-image: url("glyphicons-halflings.png"); background-position: 14px 14px; background-repeat: no-repeat; margin-top: 1px; }
.icon-refresh { background-position: -240px -24px; }
.icon-flag { background-position: -312px -24px; }
.icon-share { background-position: -120px -72px; }
.icon-plus { background-position: -408px -96px; }
.btn-group { position: relative; display: inline-block; font-size: 0px; vertical-align: middle; white-space: nowrap; }
.btn-group > .btn { position: relative; border-radius: 0px 0px 0px 0px; }
.btn-group > .btn + .btn { margin-left: -1px; }
.btn-group > .btn, .btn-group > .dropdown-menu, .btn-group > .popover { font-size: 14px; }
.btn-group > .btn:first-child { margin-left: 0px; border-top-left-radius: 4px; border-bottom-left-radius: 4px; }
.btn-group > .btn:last-child, .btn-group > .dropdown-toggle { border-top-right-radius: 4px; border-bottom-right-radius: 4px; }
.btn-group > .btn.active, .btn-group > .btn:active, .btn-group > .btn:focus, .btn-group > .btn:hover { z-index: 2; }
.btn-group .dropdown-toggle:active, .btn-group.open .dropdown-toggle { outline: 0px none; }
.btn .caret { margin-top: 8px; margin-left: 0px; }
@keyframes progress-bar-stripes {
0% { background-position: 40px 0px; }
100% { background-position: 0px 0px; }
}
@keyframes progress-bar-stripes {
0% { background-position: 40px 0px; }
100% { background-position: 0px 0px; }
}
.dropdown-toggle:active, .open .dropdown-toggle { outline: 0px none; }
.caret { display: inline-block; width: 0px; height: 0px; vertical-align: top; border-top: 4px solid rgb(0, 0, 0); border-right: 4px solid transparent; border-left: 4px solid transparent; content: ""; }
.dropdown-menu { position: absolute; top: 100%; left: 0px; z-index: 1000; display: none; float: left; min-width: 160px; padding: 5px 0px; margin: 2px 0px 0px; list-style: none outside none; background-color: rgb(255, 255, 255); border: 1px solid rgba(0, 0, 0, 0.2); border-radius: 6px 6px 6px 6px; box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2); background-clip: padding-box; }
.dropdown-menu.pull-right { right: 0px; left: auto; }
.pull-right > .dropdown-menu { right: 0px; left: auto; }
.pull-left { float: left; }
.hide { display: none; }
@font-face {
  font-family: "CompleteInHimPro";
  src: url("2211C6_0_0.eot") format("embedded-opentype"), url("2211C6_0_0.woff") format("woff"), url("2211C6_0_0.ttf") format("truetype");
}
body { background-color: rgb(212, 225, 231); min-width: 1030px; color: rgb(51, 51, 51); font-size: 14px; line-height: 20px; }
.h1, .h2, .h3, .h4, h1, h2, h3, h4 { font-size: 22px; font-weight: 700; padding: 0px; margin: 0px; line-height: normal; }
.h2, h2 { font-size: 22px; }
.h3, h3 { font-size: 18px; }
.h4, h4 { font-size: 14px; }
p, td, th { margin: 3px 0px 10px; }
ol, ul { list-style: none outside none; margin: 0px; padding: 0px; }
li { line-height: normal; }
label { font-weight: 700; }
form { margin: 0px 0px 20px; }
.subtle-txt { color: rgb(117, 117, 117); }
a:focus { color: rgb(207, 96, 0); text-decoration: none; outline: 0px none; }
a:hover { cursor: pointer; }
.active .icon-favorite, .icon-favorite.active, a:hover .icon-favorite { color: rgb(194, 0, 137); }
.active .icon-views1, .icon-views1.active, a:hover .icon-views1 { color: rgb(0, 161, 207); }
.icon-contest.active, a:hover .icon-contest { color: rgb(255, 174, 0); }
.icon-groups.active, a:hover .icon-groups { color: rgb(234, 177, 58); }
.icon-plus.active, a:hover .icon-plus { color: rgb(51, 51, 51); }
.icon-grid.active, a:hover .icon-grid { color: rgb(51, 51, 51); }
.icomoon { background-image: none; vertical-align: middle; display: inline; font-size: 18px; color: rgb(170, 170, 170); }
.btn { -moz-user-select: none; background-image: none; border: 1px solid rgb(222, 222, 222); border-radius: 4px 4px 4px 4px; cursor: pointer; display: inline-block; font-size: 14px; font-weight: 400; margin-bottom: 0px; padding: 6px 12px; text-align: center; vertical-align: middle; white-space: nowrap; text-shadow: none; box-shadow: none; background-color: rgb(246, 246, 246); color: rgb(51, 51, 51); }
.btn.active.focus, .btn.active:focus, .btn.focus, .btn.focus:active, .btn:active:focus, .btn:focus { outline: 0px none; outline-offset: -2px; }
.btn.focus, .btn:focus, .btn:hover { text-decoration: none; background-color: rgb(238, 238, 238); }
.btn.active, .btn:active { background-image: none; box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.125) inset; outline: 0px none; }
.btn.disabled, .btn[disabled], fieldset[disabled] .btn { box-shadow: none; cursor: not-allowed; opacity: 0.65; pointer-events: none; }
.btn-large { padding: 11px 19px; font-size: 17.5px; border-radius: 6px 6px 6px 6px; }
.btn-mini { padding: 0px 6px; font-size: 10.5px; border-radius: 3px 3px 3px 3px; line-height: 20px; }
.btn-clear { background-color: transparent; border-color: rgb(222, 222, 222); color: rgb(51, 51, 51); }
.btn-clear.focus, .btn-clear:focus, .btn-clear:hover, .btn-default:active { border-color: rgb(212, 212, 212); }
.btn-small { font-size: 13px; }
.btn-close:active, .btn:focus, .open .btn-close { outline: 0px none; }
.btn-group + .btn-group { margin-left: 7px; }
.btn-group > .dropdown-menu { font-size: 12px; }
.dropdown-menu a { line-height: 24px; padding: 0px 15px; }
.btn-orange { background-color: rgb(232, 108, 0); border-color: rgb(207, 96, 0); color: rgb(255, 255, 255); }
.btn-orange.active, .btn-orange:active, .btn-orange:focus, .btn-orange:hover { background-color: rgb(223, 105, 2); border-color: rgb(197, 91, 0); color: rgb(255, 255, 255); }
.btn-yellow { background-color: rgb(248, 170, 43); border-color: rgb(229, 153, 30); color: rgb(255, 255, 255); }
.btn-yellow.active, .btn-yellow.focus, .btn-yellow:active, .btn-yellow:focus, .btn-yellow:hover, .open > .dropdown-toggle.btn-yellow { background-color: rgb(240, 164, 40); border-color: rgb(226, 150, 27); color: rgb(255, 255, 255); }
.btn-yellow.active, .btn-yellow:active, .open > .dropdown-toggle.btn-yellow { background-image: none; }
.flat-wrapper, .full-wrapper, .wrapper { position: relative; min-height: 100px; background-color: rgb(255, 255, 255); width: 1016px; min-width: 1016px; padding: 0px; margin: 0px auto; border-radius: 9px 9px 9px 9px; border: 1px solid rgba(119, 130, 135, 0.4); }
.container { width: 970px; margin: 0px auto; position: relative; }
.content-padding { padding: 23px; }
.header-bar { border-radius: 9px 9px 0px 0px; border-bottom: 1px solid rgba(0, 0, 0, 0.1); background: none repeat scroll 0% 0% rgb(246, 246, 246); box-sizing: border-box; }
.header-bar .title { font-family: completeinhimpro; font-size: 35px; }
.hatbox { margin: 0px 0px 2em; border: 1px solid rgb(221, 221, 221); border-radius: 5px 5px 5px 5px; position: relative; }
.hatbox h3 { padding: 0.5em 0.5em 0.4em 0.8em; border-bottom: 1px solid rgb(221, 221, 221); background: none repeat scroll 0% 0% rgb(246, 246, 246); border-radius: 5px 5px 0px 0px; font-size: 18px; }
.hatbox .hatbox-content { padding: 1em; border-radius: 0px 0px 5px 5px; background-color: rgb(249, 249, 249); font-size: 14px; }
.bg-icon.stats { background-position: -3px -1132px; width: 19px; height: 16px; }
.btn:hover .bg-icon.imadeit, a:hover .bg-icon.imadeit { background-position: -28px -29px; }
.bg-icon.search { background-position: -3px -1180px; width: 19px; height: 18px; }
.bg-icon.pdf { background-position: -1px -675px; width: 23px; height: 16px; }
.bg-icon.imadeit, .bg-icon.imadeit.white { background-position: -4px -29px; width: 16px; height: 16px; }
.btn:hover .bg-icon.imadeit { background-position: -28px -29px; }
.callout { color: rgb(51, 51, 51); background: none repeat scroll 0% 0% rgb(255, 255, 255); font-size: 13px; position: relative; border: 1px solid rgb(213, 213, 213); display: inline-block; padding: 6px; margin-left: 8px; border-radius: 3px 3px 3px 3px; line-height: 13px; }
.callout:before { content: ""; display: block; width: 0px; height: 0px; border-width: 6px; border-style: solid; -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; border-color: transparent rgb(213, 213, 213) transparent transparent; position: absolute; right: 100%; margin-right: 0px; top: 50%; margin-top: -6px; }
.callout:after { content: ""; display: block; width: 0px; height: 0px; border-width: 6px; border-style: solid; -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; border-color: transparent rgb(255, 255, 255) transparent transparent; position: absolute; right: 100%; margin-right: -1px; top: 50%; margin-top: -6px; }
.dropdown-bubble .dropdown-menu { border: 1px solid rgb(204, 204, 204); border-radius: 5px 5px 5px 5px; box-shadow: 2px 3px 5px 0px rgba(0, 0, 0, 0.41); background-clip: padding-box; }
.dropdown-bubble .dropdown-menu:before { position: absolute; top: -7px; left: 9px; display: inline-block; border-color: transparent transparent rgb(204, 204, 204); border-width: 0px 7px 7px; border-style: solid; content: ""; }
.dropdown-bubble .dropdown-menu:after { position: absolute; top: -6px; left: 10px; display: inline-block; border-color: transparent transparent rgb(255, 255, 255); border-width: 0px 6px 6px; border-style: solid; content: ""; }
.dropdown-bubble { position: relative; display: inline-block; }
.dropdown-bubble .dropdown-menu { padding: 15px; }
@keyframes spin {
100% { transform: rotate(360deg); }
}
@keyframes spin {
100% { transform: rotate(360deg); }
}
.spin-it { width: auto ! important; height: auto ! important; font-size: 20px; animation: 1.5s linear 0s normal none infinite spin; }
.btn-spinner { display: inline-block; opacity: 0; max-width: 0px; transition: opacity 0.25s ease 0s, max-width 0.45s ease 0s; }
@font-face {
  font-family: "icomoon";
  font-style: normal;
  font-weight: 400;
  src: url("icomoon.eot") format("embedded-opentype"), url("icomoon.woff") format("woff"), url("icomoon.ttf") format("truetype"), url("icomoon.svg") format("svg");
}
.icon-android, .icon-apple, .icon-arrow-down, .icon-arrow-left, .icon-arrow-right, .icon-arrow-up, .icon-arrow2-down, .icon-arrow2-left, .icon-arrow2-right, .icon-arrow2-up, .icon-award, .icon-bar-chart, .icon-best-answer, .icon-board, .icon-camera, .icon-caret-down, .icon-caret-left, .icon-caret-right, .icon-caret-scroll, .icon-caret-up, .icon-cart, .icon-cash, .icon-category-outside, .icon-checkmark1, .icon-checkmark2, .icon-collections, .icon-comments, .icon-connection, .icon-contest, .icon-create, .icon-delete1, .icon-delete2, .icon-delete3, .icon-double-arrow-down, .icon-double-arrow-left, .icon-double-arrow-right, .icon-double-arrow-up, .icon-earth, .icon-ebook, .icon-email, .icon-explore, .icon-facebook, .icon-favorite, .icon-featured, .icon-flag, .icon-folder, .icon-followers, .icon-following, .icon-forums, .icon-gear, .icon-gplus, .icon-grid, .icon-groups, .icon-home, .icon-idea, .icon-imadeit, .icon-info, .icon-instructable, .icon-join, .icon-larger, .icon-line-chart, .icon-link, .icon-list, .icon-location, .icon-lock, .icon-mallet, .icon-member, .icon-minus, .icon-move, .icon-overview, .icon-paint-roller, .icon-paintbrush, .icon-paperclip, .icon-partners, .icon-patch, .icon-pencil1, .icon-pencil2, .icon-photos, .icon-pie-chart, .icon-pinterest, .icon-plus, .icon-print, .icon-profile, .icon-question, .icon-recent, .icon-redo, .icon-refresh, .icon-rotate, .icon-rss, .icon-school, .icon-search1, .icon-search2, .icon-share, .icon-share1, .icon-share2, .icon-smaller, .icon-smiley-wink, .icon-spinner, .icon-steps, .icon-tag, .icon-tools, .icon-trash, .icon-tumbler, .icon-twitter, .icon-unlock, .icon-video, .icon-views1, .icon-views2, .icon-volume-higher, .icon-volume-lower, .icon-volume-mute, .icon-windows, .icon-wrench { font-family: icomoon; font-style: normal; font-weight: 400; font-variant: normal; text-transform: none; line-height: 1; background-image: none; color: rgb(174, 174, 174); font-size: 18px; width: 20px; }
.icon-grid:before { content: "h"; }
.icon-favorite:before { content: ""; }
.icon-views1:before { content: "8"; }
.icon-groups:before { content: ";"; }
.icon-flag:before { content: ""; }
.icon-share:before { content: ""; }
.icon-contest:before { content: ""; }
.icon-plus:before { content: ""; }
.icon-caret-right:before { content: "."; }
.icon-arrow2-down:before { content: "I"; }
.icon-refresh:before { content: "i"; }
.aspace-wrap { padding: 1.5em 0px; }
.aspace { text-align: center ! important; }
.aspace.container { width: 1016px; }
#aplace { min-height: 95px; }
#footer .container, #gbl-footer .container, #header .container { min-width: 1016px; }
#loginMenu, #youMenu { display: none; font-size: 12px; }
#loginMenu { position: absolute; top: 20px; right: 0px; }
#loginMenu a { line-height: 22px; color: rgb(119, 119, 119); padding: 0px 5px; }
#loginMenu .pipe { color: rgb(204, 204, 204); }
.add-to-collection-btn .icon-plus { font-size: 14px; }
#gbl-header { position: relative; min-width: 1030px; min-height: 99px; color: rgb(51, 51, 51); }
#gbl-header .top-bar { position: relative; height: 61px; background-color: rgb(238, 238, 238); }
#gbl-header .bottom-bar { position: relative; top: 0px; height: 36px; background: none repeat scroll 0% 0% rgb(255, 255, 255); }
#gbl-header .container { width: 1016px; margin: 0px auto; position: relative; padding: 0px; }
#gbl-header ul { list-style-type: none; margin: 0px; padding: 0px; }
#gbl-header a { color: rgb(51, 51, 51); }
#gbl-header a.share-motto { display: block; width: 139px; height: 19px; line-height: 40px; margin-left: 72px; font-size: 16px; font-family: CompleteInHimPro; color: rgb(85, 85, 85); text-decoration: none; position: relative; z-index: 4; }
#gbl-header a.share-motto:hover { color: rgb(51, 51, 51); }
#header-search { position: absolute; left: 240px; top: 13px; }
#header-search label, .header-search label { font-family: CompleteInHimPro; font-size: 16px; font-weight: 400; width: 80px; }
#gbl-header #header-search .btn, #gbl-header .header-search .btn { padding: 7px; font-size: 0px; border-left: medium none rgb(204, 204, 204); background-color: rgb(200, 200, 200); border-color: rgb(204, 204, 204); line-height: normal; }
#promo-tabs { position: absolute; right: 0px; top: 0px; }
#promo-tabs a > div, #promo-tabs li { float: left; }
#promo-tabs .promo-tabs-label { line-height: 38px; font-size: 14px; font-weight: 700; color: rgb(85, 85, 85); margin-right: 10px; }
#header-robot { display: block; position: absolute; top: 9px; left: 0px; z-index: 1; width: 229px; height: 81px; }
#header-nav-container { position: absolute; left: 545px; top: 13px; }
#header-nav-container .btn:not(:first-child) { margin-left: 15px; }
.header-menu:last-child { box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.3); }
.header-menu { display: block; height: auto; padding: 0px 30px; max-height: 0px; overflow: hidden; font-size: 13px; background-color: rgb(255, 255, 255); border-top: 1px solid transparent; transition: padding 0.5s ease 0s, max-height 0.5s ease 0s, border 0s linear 0.5s; text-align: center; }
.header-menu .menu-content { display: inline-block; text-align: left; }
.header-menu img.menu-loading { margin: 4em auto 5.5em; text-align: center; display: block; }
#explore-menu #community-links .btn-large, #publish-menu .btn-large { font-size: 16px; white-space: nowrap; padding: 8px 19px; border-radius: 6px 6px 6px 6px; width: 105px; text-align: left; }
#publish-menu .publish-video { height: 260px; width: 475px; display: inline-block; }
#publish-menu .publish-description { display: inline-block; padding-left: 80px; width: 400px; font-size: 18px; vertical-align: top; color: rgb(136, 136, 136); line-height: 24px; text-align: center; margin-top: 12px; }
#publish-menu .description { margin: 10px 0px 15px; }
#publish-menu .btn-orange { background-color: rgb(232, 108, 0); border-color: rgb(207, 96, 0); color: rgb(255, 255, 255); margin-left: 20px; }
#publish-menu .btn-orange:active, #publish-menu .btn-orange:focus, #publish-menu .btn-orange:hover { background-color: rgb(223, 105, 2); border-color: rgb(197, 91, 0); color: rgb(255, 255, 255); }
#publish-menu .btn-large { width: auto; }
#publish-menu #ytplayer-small { border: 2px solid rgb(0, 0, 0); border-radius: 4px 4px 4px 4px; }
#gbl-footer { font-size: 14px; color: rgb(153, 153, 153); min-width: 1030px; line-height: 21px; }
#gbl-footer > .top { height: 285px; background: linear-gradient(to bottom, rgba(192, 192, 192, 0) 0px, rgb(255, 255, 255) 100%) repeat scroll 0% 0% transparent; }
#gbl-footer > .top > .container { padding-top: 130px; }
#gbl-footer > .bottom { background: none repeat scroll 0% 0% rgb(64, 64, 64); position: relative; z-index: 1; padding-top: 30px; }
#gbl-footer .container { width: 1016px; margin: 0px auto; position: relative; padding: 0px; }
#gbl-footer .col { display: inline-block; vertical-align: top; margin-right: 55px; }
#gbl-footer h3 { margin-bottom: 10px; }
#gbl-footer a { color: rgb(153, 153, 153); }
#gbl-footer a:hover { color: rgb(119, 119, 119); }
#gbl-footer ul a { display: block; line-height: 21px; }
#gbl-footer hr { border-top: 1.5px solid rgb(50, 50, 50); border-bottom: 1px solid rgb(82, 82, 82); margin: 20px 0px; }
#footer-aboutus ul a, #footer-resources ul a { display: block; line-height: 23px; }
#footer-findus a { padding-left: 24px; margin-bottom: 5px; background: url("social-media-sprite2.png") no-repeat scroll 0% 0% transparent; }
#footer-findus a.facebook { background-position: 0px 1.5px; }
#footer-findus a.youtube { background-position: 0px -23px; }
#footer-findus a.twitter { background-position: 0px -47px; }
#footer-findus a.pinterest { background-position: 0px -71px; }
#footer-findus a.googleplus { background-position: 0px -95px; }
#footer-robot { width: 97px; margin-right: 40px; }
#footer-newsletter { width: 215px; }
#gbl-footer #footer-resources { margin-right: 0px; }
#footer-links { line-height: 18px; }
#footer-links li { float: left; }
#footer-links ul a { display: inline; color: rgb(170, 170, 170); font-size: 13px; }
#footer-links .divider { color: rgb(204, 204, 204); padding: 0px 5px; border: 0px none; }
#copyright-notice { color: rgb(105, 105, 105); }
#copyright-notice p { margin-bottom: 15px; font-size: 13px; }
#adsk-logo { margin-left: 20px; }
#adsk-logo img { vertical-align: middle; }
#footer-featured-channels ul { text-align: center; }
#footer-featured-channels li { display: inline-block; font-size: 14px; padding: 0px 10px; width: 89px; }
#footer-featured-channels li a { display: inline; }
#footer-featured-channels .ad-image { display: inline-block; }
#footer-featured-channels .ad-image .promo { background-position: center center; }
#footer-featured-channels .title-divider { width: 45px; border-bottom: 1px solid rgb(204, 204, 204); margin: 0px auto 20px; }
#footer-featured-channels .featured-channels-title { font-family: 'Open Sans Condensed'; font-size: 24px; color: rgb(85, 85, 85); margin-bottom: 20px; text-align: center; }
#gbl-footer a, #gbl-header a { text-decoration: none; cursor: pointer; }
#gbl-footer a img, #gbl-header a img { border: 0px none; }
#gbl-footer img, #gbl-header img { height: auto; border: 0px none; }
#gbl-footer form, #gbl-header form { margin: 0px; padding: 0px; }
#gbl-footer li, #gbl-header li { line-height: normal; }
#gbl-header p { margin: 3px 0px 10px; }
#gbl-footer h3, #gbl-header h3 { font-size: 18px; font-weight: 700; color: rgb(221, 221, 221); line-height: normal; }
#footer-store .btn:hover, #gbl-footer .downloads .btn:hover, #gbl-header #you-menu li > .btn-logout:hover, #header-search-btn:hover { color: rgb(51, 51, 51); background-color: rgb(238, 238, 238); }
#community-links .btn:active, #publish-menu .publish-description .btn:active { box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.125) inset; outline: 0px none; }
#community-links .btn:hover, #footer-store .btn:hover, #gbl-footer .downloads .btn:hover, #header-search-btn, .publish-description .btn:hover { background-color: rgb(238, 238, 238); border-color: rgb(212, 212, 212); color: rgb(51, 51, 51); }
#community-links .btn, #footer-store .btn, #gbl-footer .downloads .btn, #header-search-btn, #you-menu .btn-logout, .publish-description .btn { padding: 4px 12px; font-size: 14px; -moz-user-select: none; background-image: none; border: 1px solid rgb(222, 222, 222); border-radius: 4px 4px 4px 4px; cursor: pointer; display: inline-block; font-weight: 400; margin-bottom: 0px; text-align: center; vertical-align: middle; white-space: nowrap; text-shadow: none; box-shadow: none; background-color: rgb(246, 246, 246); color: rgb(51, 51, 51); }
#explore.btn-clear, #publish.btn-clear { background-color: transparent; border-color: rgb(222, 222, 222); color: rgb(51, 51, 51); padding: 6px 12px; }
#explore.btn-clear.focus, #explore.btn-clear:focus, #explore.btn-clear:hover, #explore.btn-default:active, #publish-description .btn:hover, #publish.btn-clear.focus, #publish.btn-clear:focus, #publish.btn-clear:hover, #publish.btn-default:active { border-color: rgb(212, 212, 212); }
.pull-right { float: right; }
#gbl-footer *, #gbl-header * { box-sizing: content-box; }
#gbl-footer #email-input-field { box-sizing: border-box; height: 30px; border-color: rgb(85, 85, 85); background: none repeat scroll 0px 0px transparent; color: rgb(255, 255, 255); }
#gbl-header .form-horizontal .controls { margin-left: 90px; }
#gbl-footer .input-append input, #gbl-header .input-append input { border-radius: 4px 0px 0px 4px; font-size: 14px; height: 20px; padding: 4px 6px; }
.bg-icon { background-image: url("icon-sprite-flat.png"); vertical-align: text-top; background-repeat: no-repeat; display: inline-block; overflow: hidden; text-align: left; text-indent: -999em; position: relative; }
#gbl-header .bg-icon.search { background-position: -51px -1180px; width: 19px; height: 18px; }
#gbl-footer ul { list-style: none outside none; margin: 0px; padding: 0px; }
#gbl-footer .row-fluid { width: 100%; }
#gbl-footer .row-fluid:after, #gbl-footer .row-fluid:before { display: table; line-height: 0; content: ""; }
#gbl-footer .row-fluid:after { clear: both; }
#gbl-footer .btn-dark-grey { color: rgb(204, 204, 204); background-color: rgb(74, 74, 74); border: 1px solid rgb(85, 85, 85); padding: 4px 12px; line-height: 20px; }
#gbl-footer .btn-dark-grey.active, #gbl-footer .btn-dark-grey.disabled, #gbl-footer .btn-dark-grey:active, #gbl-footer .btn-dark-grey:focus, #gbl-footer .btn-dark-grey:hover, #gbl-footer .btn-dark-grey[disabled] { background-color: rgb(68, 68, 68) ! important; }
#gbl-header input.input-medium { width: 150px; height: 24px; border-right: medium none; }
#gbl-footer .form-horizontal .input-append, #gbl-header .form-horizontal .input-append { display: inline-block; margin-bottom: 0px; vertical-align: middle; font-size: 0px; white-space: nowrap; }
#gbl-footer .input-append .btn, #gbl-header .input-append .btn { margin-left: -1px; vertical-align: top; border-radius: 0px 0px 0px 0px; }
#gbl-footer .input-append .btn:last-child, #gbl-header .input-append .btn:last-child { border-radius: 0px 4px 4px 0px; }
