/* Code tidied up by ScrapBook */
.photoset { position: relative; text-align: center; background-color: rgb(246, 246, 246); border: 1px solid rgb(221, 221, 221); border-radius: 4px 4px 4px 4px; min-height: 109px; margin-bottom: 35px; padding: 15px; line-height: 0; }
.photoset-item { position: relative; overflow: hidden; }
.photoset .hidden-item, .photoset .hidden-row, .photoset .lazy-img { display: none; }
.photoset-image img { max-width: 100%; width: 100%; height: auto; }
.photoset-showmore { display: none; position: relative; border: 1px solid rgb(204, 204, 204); box-shadow: 0px 1px 0px 0px rgb(130, 130, 130); height: 48px; line-height: 38px; font-weight: 700; font-size: 14px; color: rgb(51, 51, 51); background: -moz-linear-gradient(center top , rgb(255, 255, 255), rgb(224, 224, 224)) repeat scroll 0% 0% transparent; }
.photoset-showmore:hover { background: -moz-linear-gradient(center top , rgb(255, 255, 255), rgb(233, 233, 233)) repeat scroll 0% 0% transparent; text-decoration: none; }
.photoset-showmore .icon { display: inline-block; width: 37px; height: 15px; position: relative; top: -20px; background: url("downarrow-sprite.png") no-repeat scroll 0px -10px transparent; }
.photoset-showmore:hover .icon { background-position: 0px 4px; }
.sticky-header { position: relative; z-index: 2; }
.sticky-header-inner { position: relative; }
.sticky-header-toggle { display: block; position: absolute; bottom: 0px; left: 50%; width: 50px; height: 11px; background: url("header-pulltab.png") no-repeat scroll 0% 0% transparent; cursor: pointer; z-index: 2; }
.author-action.hide { display: none ! important; }
#ible-header .steps-nav { margin-left: 5px; }
#instructable-content { width: 646px; position: relative; float: left; display: inline-block; }
#instructable-sidebar { width: 300px; float: right; display: inline-block; }
#instructable-sidebar .gpt-ad { margin-bottom: 30px; }
#ible-header a { white-space: nowrap; }
#ible-header .title { font-size: 24px; display: inline; font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; }
#ible-header .author { font-size: 14px; margin-left: 5px; color: rgb(153, 153, 153); }
#ible-header .author a { color: rgb(85, 85, 85); }
#ible-header .title-bar { width: 800px; }
#ible-header .awards-bar { position: absolute; top: -16px; right: 0px; }
#ible-header .icon-favorite { position: relative; top: -2px; }
#ible-header .icon-share { position: relative; bottom: 2px; }
#ible-header.sticky-header { width: 1016px; padding-top: 16px; }
#ible-header .icomoon { vertical-align: text-top; }
#ible-header-actions-bar { padding: 12px 0px 18px; }
#ible-header-actions-bar > .pull-right > .btn, #ible-header-actions-bar > .pull-right > .btn-group { margin-left: 5px; }
#ible-header-actions-bar > .pull-right .btn { height: 1.4em; }
#ible-steps-nav { background: none repeat scroll 0% 0% rgb(246, 246, 246); padding: 15px 0px; border-top: 1px solid rgb(218, 218, 218); }
#ible-steps-nav .container:first-child { margin-left: 20px; }
#ible-steps-nav .btn { margin: 0px 5px 5px 0px; }
#ible-steps-nav .btn.active, #ible-steps-nav .btn:hover { background-color: rgb(234, 88, 0); color: rgb(255, 255, 255); background-position: 0px -22px; }
#ible-steps-nav .dropdown-menu { left: -20px; top: 170%; }
#ible-steps-nav .dropdown-menu:after { left: 25px; }
#ible-steps-nav .dropdown-menu:before { left: 24px; }
#ible-steps-nav .step { width: 325px; clear: both; padding-bottom: 5px; }
#ible-steps-nav .image { float: left; }
#ible-steps-nav .image a { display: block; width: 99px; height: 99px; overflow: hidden; padding: 7px; }
#ible-steps-nav .description { float: right; width: 210px; font-size: 13px; overflow: hidden; }
#ible-steps-nav .description h4 { margin-bottom: 5px; }
#ible-steps-nav .description p { width: 200px; font-size: 13px; color: rgb(117, 117, 117); line-height: 14px; }
#ible-steps-nav.collapsed { display: none; }
#ible-steps-nav .dropdown-bubble { position: relative; display: inline-block; }
#ible-steps-nav .dropdown-bubble:hover .dropdown-menu { display: block; }
.step-container { text-align: left; padding-bottom: 26px; margin-bottom: 30px; }
.step-container .step-title { font-size: 22px; margin: 12px 0px; }
.step-body { margin: 20px; word-wrap: break-word; font-size: 17px; line-height: 24px; }
#steps-pager { margin: 24px 0px; }
#steps-pager .pull-right { margin-left: 10px; }
#steps-pager .btn-large { font-size: 15px; }
#steps-pager .btn.disabled { background-color: rgb(255, 255, 255); border-color: rgb(222, 222, 222); }
#ible-stickyad .gpt-ad { margin: 0px; }
.adBlockWrapper { width: 100%; text-align: center; line-height: 0; font-size: 0px; }
#double-inline-ads { margin: 20px 0px 0px; }
#double-inline-ads .gpt-ad { display: inline-block; }
#ible-about-box { position: relative; }
#ible-about-box .hatbox-content { padding: 0px; }
.ible-about-section { position: relative; padding: 1em; }
.ible-about-section:before { position: absolute; top: 0px; left: 0px; border-top: 1px solid rgb(229, 229, 229); content: ""; width: 100%; }
.ible-about-section:after { position: absolute; top: 1px; left: 0px; border-top: 1px solid rgb(255, 255, 255); content: ""; width: 100%; }
#ible-hits-and-publish-info { padding: 0px; }
#ible-hits-and-publish-info .v-divider { left: 61%; }
#ible-hits { width: 155px; padding: 1em; }
#ible-hits .count { font-size: 18px; }
#ible-hits span { font-weight: 700; color: rgb(51, 51, 51); margin-left: 5px; }
#ible-hits .featured-by { font-weight: 400; margin: 0px; }
#ible-hits .icon { font-size: 24px; margin: -5px 3px 0px 0px; line-height: 24px; }
#ible-publish-info { width: 86px; padding: 1em; }
#ible-license { line-height: 1; }
.v-divider { height: 100%; position: absolute; }
.v-divider:before { position: absolute; right: 1px; top: 1px; border-right: 1px solid rgb(255, 255, 255); content: ""; height: 100%; }
.v-divider:after { position: absolute; right: 0px; top: 1px; border-right: 1px solid rgb(229, 229, 229); content: ""; height: 100%; }
#ible-author-image { width: 75px; height: 75px; }
#ible-author-details { margin-left: 84px; overflow-x: hidden; width: 186px; padding-bottom: 5px; line-height: 1; }
#ible-author-details a { display: block; }
#ible-author-details .follow-btn { display: inline-block; }
#ible-author-details .callout { top: 2px; }
#ible-author-screenname { color: rgb(51, 51, 51); font-size: 16px; margin-bottom: 3px; font-weight: 700; }
#ible-author-more-ibles strong { display: block; margin-bottom: 7px; }
#ible-author-more-ibles img { max-width: 84px; }
#ible-author-more-ibles a { text-decoration: none; }
.ible-breadbrumb { white-space: nowrap; }
#related-instructables .related-item { font-size: 13px; color: rgb(85, 85, 85); font-weight: 400; line-height: 18px; margin: 0px 0px 10px 2px; position: relative; height: 78px; overflow: hidden; }
#related-instructables .related-item .imglink { float: left; display: block; width: 75px; height: 75px; margin: 0px 10px 4px 0px; }
#related-instructables .related-item .info { margin: 0px 0px 0px 85px; }
#related-instructables .related-item a { white-space: normal; color: rgb(51, 51, 51); }
#related-instructables .related-item a.user { color: rgb(117, 117, 117); }
#related-instructables .related-item .title { font-weight: 700; }
#more-stats-btn { position: absolute; top: 6px; right: 3px; font-weight: 400; font-size: 13px; padding: 2px 3px; }
#add-ible-section strong { margin: 0px 5px 5px 0px; }
@media (max-width: 703px) {
}
@media (max-width: 652px) {
}
@media (max-width: 480px) {
}
@media (max-width: 370px) {
}
#commentsWrapper { margin-top: 30px; }
.comment:not(.token) { background-image: url("comment-gray-fade2.png"); background-position: 0px 0px; background-repeat: no-repeat; background-size: 100% 100%; padding: 20px 0px; border-top: 1px solid rgb(233, 233, 233); }
#comments-controls { text-align: center; }
.comment .comment-body { font-size: 16px; line-height: 22px; }
@media (min-width: 320px) and (max-width: 480px), (min-width: 320px) and (max-width: 568px), (min-width: 375px) and (max-width: 667px), (min-width: 414px) and (max-width: 736px), (max-width: 640px) {
}
