/* Code tidied up by ScrapBook */
#footer-featured-channels li { padding: 0px 2px ! important; width: 105px ! important; }
#promo-tabs a { color: rgb(153, 153, 153) ! important; line-height: 38px; margin: 0px ! important; }
#promo-tabs a:hover { color: rgb(119, 119, 119) ! important; }
#promo-tabs .adspot-item { line-height: 38px; height: 38px; margin: 0px 12px; position: relative; color: rgb(153, 153, 153); font-size: 14px; }
#promo-tabs .adspot-item:hover { color: rgb(119, 119, 119); cursor: pointer; }
#promo-tabs .adspot-item > div, #promo-tabs .adspot-item > a { float: left; }
#promo-tabs .promo { vertical-align: middle; display: inline-block; }
#promo-tabs .ad-image { display: block; margin: 0px; padding-right: 6px; }
#promo-tabs #intel-promo { width: 28px; height: 20px; }
#intel-promo { width: 28px; height: 20px; background: url("FCJZWD6I8R6DWCO.png") no-repeat scroll 0% 0% / 100% auto transparent; }
#promo-tabs #arduino-promo { width: 28px; }
#arduino-promo { width: 28px; height: 20px; background: url("F06F1A7IEVUTLZ4.png") no-repeat scroll 0% 0% / 100% auto transparent; }
#promo-tabs #yarn-promo { width: 20px; }
#yarn-promo { width: 20px; height: 20px; background: url("FZ9HGB6IVHQK04O.png") no-repeat scroll 0% 0% / 100% auto transparent; }
#promo-tabs #lighting-promo { width: 20px; }
#lighting-promo { width: 20px; height: 25px; background: url("FLDEEXRIC29YQ7O.png") no-repeat scroll 0% 0% / 100% auto transparent; }
#sewing-promo { width: 21px; height: 20px; background: url("FG1YYZ3IHCDW12S.png") no-repeat scroll 0% 0% / 100% auto transparent; }
#hydroponics-channel-promo { width: 20px; height: 20px; background: url("FR489XKI6WDPJZV.png") no-repeat scroll 0% 0% / 100% auto transparent; }
#woodworking-channel-promo { width: 21px; height: 20px; background: url("FOPJNXTI6WDPJZW.png") no-repeat scroll 0% 0% / 100% auto transparent; }
#kitchen-promo { width: 25px; height: 20px; background: url("FJ8XHU0IQLI4CQV.png") no-repeat scroll 0% 0% / 100% auto transparent; }
#lasercutting-promo { width: 24px; height: 25px; background: url("F3AMWBWI6WDPJZL.png") no-repeat scroll 0% 0% / 100% auto transparent; }
#paper-promo { width: 18px; height: 20px; background: url("F3LQJAYIQLI4CUU.png") no-repeat scroll 0% 0% / 100% auto transparent; }
#puzzles-promo { width: 20px; height: 20px; background: url("F14NEK9IQLI4CVM.png") no-repeat scroll 0% 0% / 100% auto transparent; }
#space-promo { width: 20px; height: 20px; background: url("FMDIYSTIQLI4CVN.png") no-repeat scroll 0% 0% / 100% auto transparent; }
#threed-printing-promo { width: 20px; height: 20px; background: url("FPB7VMNIQLI4EY2.png") no-repeat scroll 0% 0% / 100% auto transparent; }
.ad-image div { height: 30px; background-repeat: no-repeat; }
