/* Code tidied up by ScrapBook */
@font-face {
  font-family: "Fira Sans";
  font-style: normal;
  font-weight: 100;
  src: local("Fira Sans Hair"), url("FiraSans-Hair.eot") format("embedded-opentype"), url("FiraSans-Hair.woff") format("woff"), url("FiraSans-Hair.ttf") format("truetype");
}
@font-face {
  font-family: "Fira Sans";
  font-style: italic;
  font-weight: 100;
  src: local("Fira Sans Hair Italic"), url("FiraSans-HairItalic.eot") format("embedded-opentype"), url("FiraSans-HairItalic.woff") format("woff"), url("FiraSans-HairItalic.ttf") format("truetype");
}
@font-face {
  font-family: "Fira Sans";
  font-style: normal;
  font-weight: 200;
  src: local("Fira Sans UltraLight"), url("FiraSans-UltraLight.eot") format("embedded-opentype"), url("FiraSans-UltraLight.woff") format("woff"), url("FiraSans-UltraLight.ttf") format("truetype");
}
@font-face {
  font-family: "Fira Sans";
  font-style: italic;
  font-weight: 200;
  src: local("Fira Sans UltraLight Italic"), url("FiraSans-UltraLightItalic.eot") format("embedded-opentype"), url("FiraSans-UltraLightItalic.woff") format("woff"), url("FiraSans-UltraLightItalic.ttf") format("truetype");
}
@font-face {
  font-family: "Fira Sans";
  font-style: normal;
  font-weight: 300;
  src: local("Fira Sans Light"), url("FiraSans-Light.eot") format("embedded-opentype"), url("FiraSans-Light.woff") format("woff"), url("FiraSans-Light.ttf") format("truetype");
}
@font-face {
  font-family: "Fira Sans";
  font-style: italic;
  font-weight: 300;
  src: local("Fira Sans Light Italic"), url("FiraSans-LightItalic.eot") format("embedded-opentype"), url("FiraSans-LightItalic.woff") format("woff"), url("FiraSans-LightItalic.ttf") format("truetype");
}
@font-face {
  font-family: "Fira Sans";
  font-style: normal;
  font-weight: 400;
  src: local("Fira Sans Regular"), url("FiraSans-Regular.eot") format("embedded-opentype"), url("FiraSans-Regular.woff") format("woff"), url("FiraSans-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Fira Sans";
  font-style: italic;
  font-weight: 400;
  src: local("Fira Sans Regular Italic"), url("FiraSans-Italic.eot") format("embedded-opentype"), url("FiraSans-Italic.woff") format("woff"), url("FiraSans-Italic.ttf") format("truetype");
}
@font-face {
  font-family: "Fira Sans";
  font-style: normal;
  font-weight: 500;
  src: local("Fira Sans Medium"), url("FiraSans-Medium.eot") format("embedded-opentype"), url("FiraSans-Medium.woff") format("woff"), url("FiraSans-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "Fira Sans";
  font-style: italic;
  font-weight: 500;
  src: local("Fira Sans Medium Italic"), url("FiraSans-MediumItalic.eot") format("embedded-opentype"), url("FiraSans-MediumItalic.woff") format("woff"), url("FiraSans-MediumItalic.ttf") format("truetype");
}
@font-face {
  font-family: "Fira Sans";
  font-style: normal;
  font-weight: 600;
  src: local("Fira Sans SemiBold"), url("FiraSans-SemiBold.eot") format("embedded-opentype"), url("FiraSans-SemiBold.woff") format("woff"), url("FiraSans-SemiBold.ttf") format("truetype");
}
@font-face {
  font-family: "Fira Sans";
  font-style: italic;
  font-weight: 600;
  src: local("Fira Sans SemiBold Italic"), url("FiraSans-SemiBoldItalic.eot") format("embedded-opentype"), url("FiraSans-SemiBoldItalic.woff") format("woff"), url("FiraSans-SemiBoldItalic.ttf") format("truetype");
}
@font-face {
  font-family: "Fira Sans";
  font-style: normal;
  font-weight: 700;
  src: local("Fira Sans Bold"), url("FiraSans-Bold.eot") format("embedded-opentype"), url("FiraSans-Bold.woff") format("woff"), url("FiraSans-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Fira Sans";
  font-style: italic;
  font-weight: 700;
  src: local("Fira Sans Bold Italic"), url("FiraSans-BoldItalic.eot") format("embedded-opentype"), url("FiraSans-BoldItalic.woff") format("woff"), url("FiraSans-BoldItalic.ttf") format("truetype");
}
@font-face {
  font-family: "Fira Sans";
  font-style: normal;
  font-weight: 800;
  src: local("Fira Sans ExtraBold"), url("FiraSans-ExtraBold.eot") format("embedded-opentype"), url("FiraSans-ExtraBold.woff") format("woff"), url("FiraSans-ExtraBold.ttf") format("truetype");
}
@font-face {
  font-family: "Fira Sans";
  font-style: italic;
  font-weight: 800;
  src: local("Fira Sans ExtraBold Italic"), url("FiraSans-ExtraBoldItalic.eot") format("embedded-opentype"), url("FiraSans-ExtraBoldItalic.woff") format("woff"), url("FiraSans-ExtraBoldItalic.ttf") format("truetype");
}
@font-face {
  font-family: "Fira Sans";
  font-style: normal;
  font-weight: 900;
  src: local("Fira Sans Heavy"), url("FiraSans-Heavy.eot") format("embedded-opentype"), url("FiraSans-Heavy.woff") format("woff"), url("FiraSans-Heavy.ttf") format("truetype");
}
@font-face {
  font-family: "Fira Sans";
  font-style: italic;
  font-weight: 900;
  src: local("Fira Sans Heavy Italic"), url("FiraSans-HeavyItalic.eot") format("embedded-opentype"), url("FiraSans-HeavyItalic.woff") format("woff"), url("FiraSans-HeavyItalic.ttf") format("truetype");
}
@font-face {
  font-family: "Fira Mono";
  font-style: normal;
  font-weight: 400;
  src: local("Fira Mono"), url("FiraMono-Regular.eot") format("embedded-opentype"), url("FiraMono-Regular.woff") format("woff"), url("FiraMono-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Fira Mono";
  font-style: normal;
  font-weight: 600;
  src: local("Fira Mono Bold"), url("FiraMono-Bold.eot") format("embedded-opentype"), url("FiraMono-Bold.woff") format("woff"), url("FiraMono-Bold.ttf") format("truetype");
}
